In [1]:
import pandas as pd
%matplotlib inline

In [3]:
board = pd.read_csv("board.csv")
board.head()

   Country  2010  2011  2012  2013  2014  2015
0   Norway  36.6  38.7  37.2  39.7  41.2  46.7
1   France  16.1  21.6  25.1  29.6  31.4  34.0
2   Sweden  28.9  27.8  27.3  30.3  28.2  33.6
3    Italy   5.5   4.6   9.2  17.5  21.7  30.8
4  Finland  26.4  24.5  27.0  29.5  28.0  29.2

In [5]:
board_long = board.melt(var_name='Year', value_name='value', id_vars=['Country'])

board_long.head()

   Country  Year  value
0   Norway  2010   36.6
1   France  2010   16.1
2   Sweden  2010   28.9
3    Italy  2010    5.5
4  Finland  2010   26.4

In [6]:
board_long.to_csv("board_trend.csv")