In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Canadian_cities_climate.csv")

In [4]:
df.head()

,Unnamed: 0,Year,Province,code,City,Annual,Month,Temperature
0,0,1913,BC,1017230,SHAWNIGAN LAKE,NaN,Jan,NaN
1,1,1914,BC,1017230,SHAWNIGAN LAKE,9.7,Jan,3.1
2,2,1915,BC,1017230,SHAWNIGAN LAKE,9.9,Jan,2.1
3,3,1916,BC,1017230,SHAWNIGAN LAKE,7.8,Jan,-4.6
4,4,1917,BC,1017230,SHAWNIGAN LAKE,8.6,Jan,0.5

In [11]:
new_df.shape

(17808, 8)

In [16]:
new_df = df[(df["Province"] == "PE") | (df["Province"] == "NB")]

In [17]:
new_df = new_df[(new_df["City"]== "SAINT JOHN") | (new_df["City"]== "FREDERICTON")| (new_df["City"]== "CHARLOTTETOWN")| (new_df["City"]== "SUMMERSIDE")]

In [18]:
new_df["City"].value_counts()

SAINT JOHN       1764
FREDERICTON      1764
CHARLOTTETOWN    1752
SUMMERSIDE        888
Name: City, dtype: int64

In [19]:
new_df.shape

(6168, 8)

In [20]:
new_df.to_csv("example_data.csv")