In [1]:
import pandas as pd
%matplotlib inline
import re

In [2]:
refugees_df = pd.read_csv("unhcr_popstats_export_resettlement_all_data.csv")

In [3]:
refugees_df.head()

,Extracted from the UNHCR Population Statistics Reference Database,United Nations High Commissioner for Refugees,Unnamed: 2,Unnamed: 3
0,Date extracted: 2015-10-08 04:11:52 +02:00,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,Country / territory of asylum/residence,Origin,Year,Value
3,Canada,Albania,1959,17
4,Canada,Austria,1959,17

In [4]:
refugees_df.drop(0, inplace=True)

In [5]:
refugees_df.drop(1, inplace=True)

In [6]:
refugees_df.columns = ["Country_Residence", "Origin", "Year", "Count"]

In [7]:
refugees_df.drop(2, inplace=True)

In [41]:
refugees_df.groupby("Year")["Count"].sum()

Year
1959      3047
1960      2329
1961      1813
1962      1733
1963      2024
1964      2279
1965      2131
1966      2058
1967      1499
1968      9980
1969      3599
1970      1366
1971       751
1972      5261
1973      2424
1974      1660
1975      6291
1976     10629
1977     11765
1978     12939
1979     46561
1980     69871
1981     42107
1982    138067
1983     99392
1984    104463
1985    101958
1986     96582
1987    100124
1988    117983
1989    159445
1990    176635
1991    153855
1992    166624
1993    150079
1994    151606
1995    134051
1996    102897
1997     92657
1998    103242
1999    108646
2000     98787
2001     92124
2002     50079
2003     55604
2004     84726
2005     80797
2006     71703
2007     75300
2008     88800
2009    112472
2010     98761
2011     79784
2012     89007
2013     98426
2014    105197
2015    107051
2016    188968
Name: Count, dtype: int64

In [9]:
refugees_df.dtypes

Country_Residence    object
Origin               object
Year                 object
Count                object
dtype: object

In [10]:
refugees_df["Count"] = refugees_df["Count"].str.replace("*", "0")

In [11]:
refugees_df.fillna(0, inplace = True)

In [12]:
refugees_df["Count"] = refugees_df["Count"].astype(int)

In [13]:
refugees_country_sum = refugees_df.groupby(["Country_Residence", "Origin", "Year"])["Count"].sum().reset_index()

In [14]:
refugees_country_sum.replace({'Country_Residence' : {"United States of America": "United States", "United Kingdom of Great Britain and Northern Ireland": "United Kingdom", "Czech Rep.": "Czech Republic", "Rep. of Korea": "South Korea", "Iran (Islamic Rep. of)": "Iran", "Central African Rep.": "Central African Republic"}}, inplace=True)

In [15]:
refugees_country_sum.shape

(9075, 4)

In [16]:
countries = pd.read_csv("countries.csv", encoding='latin-1')

In [17]:
countries

    Country   Latitude   Longitude                              Name
0        AD  42.546245    1.601554                           Andorra
1        AE  23.424076   53.847818              United Arab Emirates
2        AF  33.939110   67.709953                       Afghanistan
3        AG  17.060816  -61.796428               Antigua and Barbuda
4        AI  18.220554  -63.068615                          Anguilla
5        AL  41.153332   20.168331                           Albania
6        AM  40.069099   45.038189                           Armenia
7        AN  12.226079  -69.060087              Netherlands Antilles
8        AO -11.202692   17.873887                            Angola
9        AQ -75.250973   -0.071389                        Antarctica
10       AR -38.416097  -63.616672                         Argentina
11       AS -14.270972 -170.132217                    American Samoa
12       AT  47.516231   14.550072                           Austria
13       AU -25.274398  133.775136                         Australia
14       AW  12.521110  -69.968338                             Aruba
15       AZ  40.143105   47.576927                        Azerbaijan
16       BA  43.915886   17.679076            Bosnia and Herzegovina
17       BB  13.193887  -59.543198                          Barbados
18       BD  23.684994   90.356331                        Bangladesh
19       BE  50.503887    4.469936                           Belgium
20       BF  12.238333   -1.561593                      Burkina Faso
21       BG  42.733883   25.485830                          Bulgaria
22       BH  25.930414   50.637772                           Bahrain
23       BI  -3.373056   29.918886                           Burundi
24       BJ   9.307690    2.315834                             Benin
25       BM  32.321384  -64.757370                           Bermuda
26       BN   4.535277  114.727669                            Brunei
27       BO -16.290154  -63.588653                           Bolivia
28       BR -14.235004  -51.925280                            Brazil
29       BS  25.034280  -77.396280                           Bahamas
..      ...        ...         ...                               ...
215      TL  -8.874217  125.727539                       Timor-Leste
216      TM  38.969719   59.556278                      Turkmenistan
217      TN  33.886917    9.537499                           Tunisia
218      TO -21.178986 -175.198242                             Tonga
219      TR  38.963745   35.243322                            Turkey
220      TT  10.691803  -61.222503               Trinidad and Tobago
221      TV  -7.109535  177.649330                            Tuvalu
222      TW  23.697810  120.960515                            Taiwan
223      TZ  -6.369028   34.888822                          Tanzania
224      UA  48.379433   31.165580                           Ukraine
225      UG   1.373333   32.290275                            Uganda
226      UM        NaN         NaN       U.S. Minor Outlying Islands
227      US  37.090240  -95.712891                     United States
228      UY -32.522779  -55.765835                           Uruguay
229      UZ  41.377491   64.585262                        Uzbekistan
230      VA  41.902916   12.453389                      Vatican City
231      VC  12.984305  -61.287228  Saint Vincent and the Grenadines
232      VE   6.423750  -66.589730                         Venezuela
233      VG  18.420695  -64.639968            British Virgin Islands
234      VI  18.335765  -64.896335               U.S. Virgin Islands
235      VN  14.058324  108.277199                           Vietnam
236      VU -15.376706  166.959158                           Vanuatu
237      WF -13.768752 -177.156097                 Wallis and Futuna
238      WS -13.759029 -172.104629                             Samoa
239      XK  42.602636   20.902977                            Kosovo
240      YE  15.552727   48.516388                             Yemen
241      YT -12.827500   45.166244                           Mayotte
242      ZA -30.559482   22.937506                      South Africa
243      ZM -13.133897   27.849332                            Zambia
244      ZW -19.015438   29.154857                          Zimbabwe

[245 rows x 4 columns]

In [18]:
refugees_country_merged = refugees_country_sum.merge(countries, left_on = "Country_Residence", right_on = "Name", how = "left")

In [19]:
pd.set_option("display.max_rows", 250)

In [20]:
refugees_country_merged.drop("Name", 1, inplace = True)
refugees_country_merged.drop("Country", 1, inplace = True)

In [21]:
refugees_country_merged.columns = ["Country_Residence", "Origin", "Year", "Count", "Lat_Residence", "Lon_Residence"]

In [22]:
refugees_country_merged.replace({'Origin' : {"Congo": "Dem. Rep. of the Congo", "United States of America": "United States", "United Kingdom of Great Britain and Northern Ireland": "United Kingdom", "Czech Rep.": "Czech Republic", "Rep. of Korea": "South Korea", "Iran (Islamic Rep. of)": "Iran", "Central African Rep.": "Central African Republic", "Venezuela (Bolivarian Republic of)" : "Venezuela", "Rep. of Moldova": "Moldova", "United Rep. of Tanzania": "Tanzania", "Côte d'Ivoire": "Cte d'Ivoire", "Lao People's Dem. Rep.": "Laos", "Serbia and Kosovo: S/RES/1244 (1999)": "Serbia", "Syrian Arab Rep.": "Syria"}}, inplace=True)

In [23]:
refugees_country_merged.replace({'Origin' : {"Russian Federation": "Russian", "Viet Nam": "Vietnam", "The former Yugoslav Rep. of Macedonia": "Macedonia [FYROM]", "Dem. People's Rep. of Korea": "North Korea", "China, Hong Kong SAR": "China", "Bolivia (Plurinational State of)": "Bolivia"}}, inplace=True)

In [24]:
refugees_country_merged.shape

(9075, 6)

In [25]:
refugees_country_merged["Origin"].value_counts()

Dem. Rep. of the Congo              334
Iraq                                290
Iran                                266
Various/unknown                     251
Afghanistan                         240
Ethiopia                            238
Somalia                             236
Sudan                               218
Syria                               188
Myanmar                             187
Eritrea                             181
Vietnam                             177
China                               168
Russian                             165
Rwanda                              164
Colombia                            159
Sri Lanka                           156
Burundi                             154
Uganda                              147
Serbia                              124
Cambodia                            120
Liberia                             112
Pakistan                            110
Stateless                           103
Laos                                 95
Sierra Leone                         92
Uzbekistan                           88
Cuba                                 85
Palestinian                          85
Bosnia and Herzegovina               84
Turkey                               84
Egypt                                82
Cte d'Ivoire                         82
India                                79
Romania                              75
Poland                               75
Kenya                                74
Lebanon                              73
Indonesia                            73
Angola                               69
Bhutan                               68
Azerbaijan                           67
El Salvador                          67
Togo                                 64
Nigeria                              63
Jordan                               63
Czech Republic                       63
Thailand                             62
Ecuador                              60
Yemen                                60
Cameroon                             59
Albania                              56
Hungary                              54
Algeria                              54
Kuwait                               54
Guinea                               53
Croatia                              52
Nepal                                52
Chad                                 52
Zimbabwe                             51
Central African Republic             51
Libya                                48
Tanzania                             48
Ghana                                47
Ukraine                              47
Bulgaria                             47
South Africa                         44
Chile                                43
Saudi Arabia                         42
Guatemala                            41
Kyrgyzstan                           40
Kazakhstan                           39
Malaysia                             37
Armenia                              37
Tunisia                              36
Djibouti                             36
Philippines                          36
Mauritania                           35
Bangladesh                           35
Georgia                              35
Germany                              34
Zambia                               34
Turkmenistan                         33
Peru                                 33
Nicaragua                            32
Haiti                                32
Tajikistan                           32
Senegal                              30
Gambia                               30
Israel                               28
Latvia                               28
Greece                               27
Belarus                              27
Austria                              26
Venezuela                            25
Moldova                              25
Lithuania                            25
United Kingdom                       25
France                               24
Namibia                              24
Argentina                            23
Mozambique                           23
Estonia                              23
United States                        23
Honduras                             22
Malawi                               22
Macedonia [FYROM]                    22
United Arab Emirates                 21
South Sudan                          21
Morocco                              21
Italy                                21
Costa Rica                           18
Spain                                17
Equatorial Guinea                    15
North Korea                          15
Uruguay                              15
Slovenia                             15
Mali                                 14
Benin                                14
Mexico                               13
Netherlands                          13
Belgium                              12
Sweden                               12
Botswana                             12
Burkina Faso                         12
Tibetan                              12
Portugal                             11
Switzerland                          11
Brazil                               11
Cyprus                               11
Swaziland                            10
Timor-Leste                          10
Bahrain                              10
Oman                                  9
Jamaica                               9
Japan                                 9
Fiji                                  8
Gabon                                 8
Singapore                             8
Mongolia                              8
Malta                                 8
Norway                                7
Guyana                                6
Bolivia                               6
Papua New Guinea                      6
Denmark                               6
Madagascar                            6
Ireland                               5
Guinea-Bissau                         5
Australia                             5
Qatar                                 4
Finland                               4
Panama                                4
Trinidad and Tobago                   4
Seychelles                            4
Samoa                                 3
Brunei Darussalam                     3
Comoros                               3
Maldives                              3
Lesotho                               3
Niger                                 3
Solomon Islands                       3
Saint Lucia                           2
Barbados                              2
Belize                                2
Saint Vincent and the Grenadines      2
Tonga                                 2
Slovakia                              2
Canada                                2
Dominican Rep.                        2
South Korea                           2
Sao Tome and Principe                 2
Mauritius                             2
Bahamas                               1
Paraguay                              1
Andorra                               1
Iceland                               1
Suriname                              1
Montenegro                            1
Vanuatu                               1
Tuvalu                                1
New Zealand                           1
Bermuda                               1
Cabo Verde                            1
French Polynesia                      1
Saint Kitts and Nevis                 1
Name: Origin, dtype: int64

In [26]:
refugees_country_merged_2 = refugees_country_merged.merge(countries, left_on = "Origin", right_on = "Name", how = "left")

In [27]:
refugees_country_merged_2.shape

(9075, 10)

In [28]:
refugees_country_merged_2.drop("Name", 1, inplace = True)
refugees_country_merged_2.drop("Country", 1, inplace = True)

In [29]:
refugees_country_merged_2.columns = ["Country_Residence", "Origin", "Year", "Count", "Lat_Residence", "Lon_Residence", "Lat_Origin", "Lon_Origin"]

In [30]:
refugees_country_merged_sum = refugees_country_merged_2.groupby(["Country_Residence", "Origin", "Lat_Residence", "Lon_Residence", "Lat_Origin", "Lon_Origin"])["Count"].sum().reset_index()

In [31]:
refugees_country_merged_sum.to_csv("refugees_origin_residence.csv")

In [32]:
refugees_country_merged_sum.head()

,Country_Residence,Origin,Lat_Residence,Lon_Residence,Lat_Origin,Lon_Origin,Count
0,Argentina,Colombia,-38.416097,-63.616672,4.570868,-74.297333,218
1,Argentina,Costa Rica,-38.416097,-63.616672,9.748917,-83.753428,1
2,Argentina,Ecuador,-38.416097,-63.616672,-1.831239,-78.183406,6
3,Argentina,El Salvador,-38.416097,-63.616672,13.794185,-88.896530,10
4,Argentina,Guatemala,-38.416097,-63.616672,15.783471,-90.230759,1

In [33]:
refugees_country_merged_sum.groupby("Country_Residence")["Count"].sum()

Country_Residence
Argentina                       236
Australia                    251934
Austria                        1345
Belarus                          14
Belgium                         760
Benin                           121
Brazil                          565
Burkina Faso                     22
Burundi                           1
Cambodia                          3
Cameroon                          6
Canada                       644257
Central African Republic         24
Chile                           220
Czech Republic                   87
Denmark                       18625
Ecuador                           7
El Salvador                       1
Estonia                          11
Finland                       10052
France                         1647
Germany                        5104
Guatemala                         1
Hungary                          17
Iceland                         362
Iran                            191
Ireland                        3171
Italy                           635
Japan                           185
Jordan                            4
Latvia                            6
Liechtenstein                    24
Lithuania                        25
Luxembourg                      154
Mexico                           19
Monaco                            0
Netherlands                   11522
New Zealand                   23460
Nicaragua                         3
Norway                        24885
Paraguay                         35
Philippines                      58
Portugal                        110
Romania                          40
South Africa                     12
Spain                           369
Sweden                        48905
Switzerland                    1242
United Kingdom                 9182
United States               1956282
Uruguay                         112
Yemen                            40
Name: Count, dtype: int64

In [37]:
refugees_country_merged_sum.groupby("Origin")["Count"].sum().sort_values(ascending = False)

Origin
Vietnam                             656557
Iraq                                290876
Bosnia and Herzegovina              202516
Somalia                             170114
Laos                                161171
Iran                                154409
Afghanistan                         126894
Cambodia                            116204
Poland                              110848
Bhutan                              102722
Cuba                                 94924
Syria                                89131
Ethiopia                             88136
Sudan                                83870
Serbia                               68722
Ukraine                              53051
Romania                              46153
Liberia                              40706
Eritrea                              39957
Czech Republic                       32334
El Salvador                          26999
Colombia                             23526
Burundi                              20447
Croatia                              19405
Sierra Leone                         14352
Hungary                              13791
Moldova                              11529
Chile                                 9313
Sri Lanka                             8704
Pakistan                              8575
Malaysia                              8258
Uganda                                8243
Haiti                                 7102
Rwanda                                6910
Uzbekistan                            6504
Belarus                               6090
Guatemala                             5457
Nicaragua                             5392
China                                 4924
Albania                               4178
Egypt                                 4145
Thailand                              3764
Indonesia                             3447
India                                 3417
Kenya                                 3218
Bulgaria                              2954
Azerbaijan                            2744
Central African Republic              2659
Nepal                                 2628
Togo                                  2490
Kazakhstan                            2357
Angola                                2151
Germany                               1949
Lebanon                               1855
Nigeria                               1767
Tanzania                              1384
Turkey                                1133
Kyrgyzstan                            1124
Kuwait                                1003
Mauritania                             802
Jordan                                 801
Latvia                                 751
Armenia                                730
Libya                                  663
Bangladesh                             629
Saudi Arabia                           602
Mozambique                             589
Guinea                                 576
Philippines                            553
Chad                                   541
Uruguay                                522
Honduras                               518
South Africa                           484
Ecuador                                460
Ghana                                  458
Algeria                                441
Georgia                                438
Argentina                              429
Fiji                                   424
United States                          414
Zimbabwe                               402
Estonia                                393
Yemen                                  387
Italy                                  369
Greece                                 368
Tajikistan                             365
Timor-Leste                            355
Macedonia [FYROM]                      337
Cameroon                               328
Zambia                                 281
Israel                                 260
Costa Rica                             259
Gambia                                 251
Malawi                                 243
North Korea                            211
Lithuania                              205
Peru                                   197
Djibouti                               196
Papua New Guinea                       191
Turkmenistan                           190
Spain                                  181
United Kingdom                         180
Senegal                                169
United Arab Emirates                   161
Tunisia                                152
Austria                                151
Namibia                                139
France                                 123
Equatorial Guinea                      120
Mexico                                 117
Slovenia                               115
Netherlands                            111
Belgium                                108
Switzerland                            102
Brazil                                  84
Morocco                                 72
Venezuela                               72
Panama                                  67
Solomon Islands                         63
Tonga                                   62
South Korea                             52
Bolivia                                 49
Portugal                                48
Botswana                                48
Sweden                                  45
Mongolia                                43
Benin                                   40
Seychelles                              39
Swaziland                               38
Denmark                                 36
Mauritius                               32
Bahrain                                 31
Madagascar                              31
Qatar                                   29
Malta                                   28
Cyprus                                  28
Singapore                               26
Guyana                                  25
Maldives                                24
Mali                                    23
Jamaica                                 22
Oman                                    21
New Zealand                             20
Japan                                   19
Ireland                                 19
Burkina Faso                            19
Gabon                                   14
Samoa                                   13
Guinea-Bissau                            9
Belize                                   8
Lesotho                                  7
Niger                                    7
Norway                                   6
Tuvalu                                   6
Finland                                  5
Trinidad and Tobago                      5
Australia                                5
Comoros                                  4
Montenegro                               4
Iceland                                  4
Slovakia                                 3
Saint Lucia                              2
Barbados                                 2
Paraguay                                 2
Andorra                                  1
French Polynesia                         1
Suriname                                 1
Bermuda                                  1
Canada                                   1
Saint Vincent and the Grenadines         1
Saint Kitts and Nevis                    1
Bahamas                                  0
Vanuatu                                  0
Name: Count, dtype: int64