In [1]:
import requests as rq
from bs4 import BeautifulSoup
import pandas as pd
%matplotlib inline
import re

In [2]:
df = pd.read_csv("Actor supporting role Race - Sheet1.csv")

In [3]:
df = df[df["Actor supporting role"] != "--"]

In [4]:
df = df[df["Actor supporting role"] != "ACTOR IN A SUPPORTING ROLE"]

In [5]:
df = df[df["Actor supporting role"] != "ACTOR -- SUPPORTING ROLE"]

In [6]:
df["test"] = df["Actor supporting role"].str.contains("{")

In [7]:
df = df[df["test"] != True]

In [8]:
df["number"] = df["Actor supporting role"].str.split("(", 1, expand = True)[1]
df["Actor supporting role"] = df["Actor supporting role"].str.split("(", 1, expand = True)[0]

In [9]:
df["number"] = df["number"].str.replace("th", "").str.replace(")", "")

In [10]:
df["test_2"] = df["Actor supporting role"].str.contains("^[0-9]")

In [11]:
df_1 = df[df["test_2"] != True]

In [12]:
df_1 = df_1.reset_index().reset_index()

In [13]:
Actors = df_1[df_1["level_0"] % 2 == 0]

In [14]:
Movies = df_1[df_1["level_0"] % 2 != 0]

In [15]:
Actors.drop(["level_0", "index", "Movie", "Year", "test", "number"], 1, inplace=True)
Movies.drop(["level_0", "index", "Movie", "Year", "test", "number"], 1, inplace=True)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
Movies.drop("test_2", 1, inplace = True)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [17]:
Actors.drop("test_2", 1, inplace = True)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [18]:
Actors = Actors.reset_index().reset_index()
Movies = Movies.reset_index().reset_index()

In [19]:
Actors.drop(["index"],1, inplace = True)

In [20]:
Movies.drop(["index"],1, inplace = True)

In [21]:
Oscors_Race = Actors.merge(Movies, left_on = "level_0", right_on = "level_0")

In [22]:
Oscors_Race.columns = ["index","Actor supporting role","Movie"]

In [23]:
Years = pd.DataFrame(list(range(1936, 2017)))

In [24]:
Oscors_Race["Years"] = Years[0]

In [25]:
Oscors_Race.tail()

    index Actor supporting role               Movie  Years
76     76       Christoph Waltz    Django Unchained   2012
77     77            Jared Leto  Dallas Buyers Club   2013
78     78          J.K. Simmons            Whiplash   2014
79     79          Mark Rylance     Bridge of Spies   2015
80     80        Mahershala Ali           Moonlight   2016

In [26]:
df_actress_lead = pd.read_csv("Actress in leading role Race - Sheet1 (1).csv")

In [27]:
df_actress_lead[df_actress_lead["Actress in leading role"] == "[NOTE: A tie. The other winner in this category was Barbra Streisand (Funny Girl).]"]

                               Actress in leading role  Movie  Year
245  [NOTE: A tie. The other winner in this categor...    NaN   NaN

In [28]:
df_actress_lead

               Actress in leading role  Movie  Year
0                        1927/28 (1st)    NaN   NaN
1                              ACTRESS    NaN   NaN
2                         Janet Gaynor    NaN   NaN
3                                   --    NaN   NaN
4    7th Heaven, Street Angel, Sunrise    NaN   NaN
5                        1928/29 (2nd)    NaN   NaN
6                              ACTRESS    NaN   NaN
7                        Mary Pickford    NaN   NaN
8                                   --    NaN   NaN
9                             Coquette    NaN   NaN
10                    {"Norma Besant"}    NaN   NaN
11                       1929/30 (3rd)    NaN   NaN
12                             ACTRESS    NaN   NaN
13                       Norma Shearer    NaN   NaN
14                                  --    NaN   NaN
15                        The Divorcee    NaN   NaN
16                           {"Jerry"}    NaN   NaN
17                       1930/31 (4th)    NaN   NaN
18                             ACTRESS    NaN   NaN
19                      Marie Dressler    NaN   NaN
20                                  --    NaN   NaN
21                        Min and Bill    NaN   NaN
22                             {"Min"}    NaN   NaN
23                       1931/32 (5th)    NaN   NaN
24                             ACTRESS    NaN   NaN
25                         Helen Hayes    NaN   NaN
26                                  --    NaN   NaN
27          The Sin of Madelon Claudet    NaN   NaN
28                         {"Madelon"}    NaN   NaN
29                       1932/33 (6th)    NaN   NaN
..                                 ...    ...   ...
509                        2012 (85th)    NaN   NaN
510          ACTRESS IN A LEADING ROLE    NaN   NaN
511                  Jennifer Lawrence    NaN   NaN
512                                 --    NaN   NaN
513            Silver Linings Playbook    NaN   NaN
514                        {"Tiffany"}    NaN   NaN
515                        2013 (86th)    NaN   NaN
516          ACTRESS IN A LEADING ROLE    NaN   NaN
517                     Cate Blanchett    NaN   NaN
518                                 --    NaN   NaN
519                       Blue Jasmine    NaN   NaN
520                        {"Jasmine"}    NaN   NaN
521                        2014 (87th)    NaN   NaN
522          ACTRESS IN A LEADING ROLE    NaN   NaN
523                     Julianne Moore    NaN   NaN
524                                 --    NaN   NaN
525                        Still Alice    NaN   NaN
526                  {"Alice Howland"}    NaN   NaN
527                        2015 (88th)    NaN   NaN
528          ACTRESS IN A LEADING ROLE    NaN   NaN
529                        Brie Larson    NaN   NaN
530                                 --    NaN   NaN
531                               Room    NaN   NaN
532                             {"Ma"}    NaN   NaN
533                        2016 (89th)    NaN   NaN
534          ACTRESS IN A LEADING ROLE    NaN   NaN
535                         Emma Stone    NaN   NaN
536                                 --    NaN   NaN
537                         La La Land    NaN   NaN
538                            {"Mia"}    NaN   NaN

[539 rows x 3 columns]

In [29]:
df_actress_lead = df_actress_lead[df_actress_lead["Actress in leading role"] != "--"]
df_actress_lead = df_actress_lead[df_actress_lead["Actress in leading role"] != "ACTRESS"] 
df_actress_lead = df_actress_lead[df_actress_lead["Actress in leading role"] != "ACTRESS IN A LEADING ROLE"]
df_actress_lead["test"] = df_actress_lead["Actress in leading role"].str.contains("{")
df_actress_lead = df_actress_lead[df_actress_lead["test"] != True]
df_actress_lead = df_actress_lead[df_actress_lead["Actress in leading role"] != "[NOTE: A tie. The other winner in this category was Katharine Hepburn (The Lion in Winter).]"]
df_actress_lead = df_actress_lead[df_actress_lead["Actress in leading role"] != "[NOTE: A tie. The other winner in this category was Barbra Streisand (Funny Girl).]"]

In [30]:
df_actress_lead["test_1"] = df_actress_lead["Actress in leading role"].str.contains("[0-9] ")

In [31]:
df_actress_lead = df_actress_lead[df_actress_lead["test_1"] != True]

In [32]:
df_actress_lead_1 = df_actress_lead.reset_index().reset_index()

In [33]:
Actress_lead = df_actress_lead_1[df_actress_lead_1["level_0"] % 2 == 0]

In [34]:
Movies_1 = df_actress_lead_1[df_actress_lead_1["level_0"] % 2 != 0]

In [35]:
Movies_1.drop(["level_0", "index", "Movie", "Year", "test", "test_1"],1, inplace = True)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [36]:
Actress_lead.drop(["level_0", "index", "Movie", "Year", "test", "test_1"],1, inplace = True)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [37]:
Actress_lead = Actress_lead.reset_index()
Movies_1 = Movies_1.reset_index()

In [38]:
Actress_lead["Movie"] = Movies_1["Actress in leading role"]

In [39]:
Actress_lead[Actress_lead["Movie"] == "[NOTE: A tie. The other winner in this category was Katharine Hepburn (The Lion in Winter).]"]

Empty DataFrame
Columns: [index, Actress in leading role, Movie]
Index: []

In [40]:
Actress_supporting = pd.read_csv("Actress in supporting role Race - Sheet1.csv")

In [41]:
Actress_supporting = Actress_supporting[Actress_supporting["Actress in supporting role"] != "--"]
Actress_supporting = Actress_supporting[Actress_supporting["Actress in supporting role"] != "ACTRESS IN A SUPPORTING ROLE"] 
Actress_supporting = Actress_supporting[Actress_supporting["Actress in supporting role"] != "ACTRESS -- SUPPORTING ROLE"] 
Actress_supporting["test"] = Actress_supporting["Actress in supporting role"].str.contains("{")
Actress_supporting = Actress_supporting[Actress_supporting["test"] != True]

In [42]:
Actress_supporting["test_1"] = Actress_supporting["Actress in supporting role"].str.contains("[0-9] [(]")

In [43]:
Actress_supporting = Actress_supporting[Actress_supporting["test_1"] != True]

In [44]:
Actress_supporting = Actress_supporting.reset_index().reset_index()

In [45]:
Actress_support = Actress_supporting[Actress_supporting["level_0"] % 2 == 0]
Movies_2 = Actress_supporting[Actress_supporting["level_0"] % 2 != 0]

In [46]:
Actress_support.drop(["level_0", "index", "test", "test_1"], 1, inplace = True)
Movies_2.drop(["level_0", "index", "test", "test_1"], 1, inplace = True)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [47]:
Movies_2 = Movies_2.reset_index()
Actress_support = Actress_support.reset_index()

In [48]:
Actress_support["Movies"] = Movies_2["Actress in supporting role"]

In [49]:
Actress_support["Years"] = Years[0]

In [50]:
Actress_support.head()
Actress_support.tail()

    index Actress in supporting role            Movies  Years
76    152              Anne Hathaway    Les Misérables   2012
77    154             Lupita Nyong'o  12 Years a Slave   2013
78    156          Patricia Arquette           Boyhood   2014
79    158            Alicia Vikander   The Danish Girl   2015
80    160                Viola Davis            Fences   2016

In [51]:
Actors_lead = pd.read_csv("Oscors actors race - Sheet1.csv")

In [52]:
Actors_lead["Year"] = Actors_lead["Year"].str.replace("\(.*\)", "")

In [53]:
Actress_lead.head()

   index Actress in leading role                              Movie
0      0            Janet Gaynor  7th Heaven, Street Angel, Sunrise
1      2           Mary Pickford                           Coquette
2      4           Norma Shearer                       The Divorcee
3      6          Marie Dressler                       Min and Bill
4      8             Helen Hayes         The Sin of Madelon Claudet

In [54]:
Actress_lead["Year"] = Actors_lead["Year"]

In [55]:
Actress_lead.head()

   index Actress in leading role                              Movie      Year
0      0            Janet Gaynor  7th Heaven, Street Angel, Sunrise  1927/28
1      2           Mary Pickford                           Coquette  1928/29
2      4           Norma Shearer                       The Divorcee  1929/30
3      6          Marie Dressler                       Min and Bill  1930/31
4      8             Helen Hayes         The Sin of Madelon Claudet  1931/32

In [56]:
Actors_lead.columns = ["Actor leading role", "Movie_male", "Year"]

In [57]:
Actors_lead["Actress in leading role"] = Actress_lead["Actress in leading role"]
Actors_lead["Movie_female"] = Actress_lead["Movie"]

In [58]:
Actors_lead.tail()

,Actor leading role,Movie_male,Year,Actress in leading role,Movie_female
85,Daniel Day-Lewis,Lincoln,2012,Jennifer Lawrence,Silver Linings Playbook
86,Matthew McConaughey,Dallas Buyers Club,2013,Cate Blanchett,Blue Jasmine
87,Eddie Redmayne,The Theory of Everything,2014,Julianne Moore,Still Alice
88,Leonardo DiCaprio,The Revenant,2015,Brie Larson,Room
89,Casey Affleck,Manchester by the Sea,2016,Emma Stone,La La Land

In [59]:
Actors_lead[Actors_lead["Movie_female"] == "[NOTE: A tie. The other winner in this category was Katharine Hepburn (The Lion in Winter).]"]

Empty DataFrame
Columns: [Actor leading role, Movie_male, Year, Actress in leading role, Movie_female]
Index: []

In [60]:
Oscors_Race.columns = ["index", "Actor supporting role", "Movie_male", "Years"]

In [61]:
Oscors_Race["Movies_female"] = Actress_support["Movies"]
Oscors_Race["Actress in supporting role"] = Actress_support["Actress in supporting role"]

In [62]:
Oscors_Race.tail()

,index,Actor supporting role,Movie_male,Years,Movies_female,Actress in supporting role
76,76,Christoph Waltz,Django Unchained,2012,Les Misérables,Anne Hathaway
77,77,Jared Leto,Dallas Buyers Club,2013,12 Years a Slave,Lupita Nyong'o
78,78,J.K. Simmons,Whiplash,2014,Boyhood,Patricia Arquette
79,79,Mark Rylance,Bridge of Spies,2015,The Danish Girl,Alicia Vikander
80,80,Mahershala Ali,Moonlight,2016,Fences,Viola Davis

In [63]:
Oscors_Race.to_csv("supporting_actors_actress.csv")
Actors_lead.to_csv("lead_actors_actress.csv")

In [64]:
Actors_lead_race = pd.read_csv("lead_actors_actress_race - lead_actors_actress.csv")

In [66]:
Actors_lead_race["number"] = 1

In [70]:
Actors_lead_race_grouped = Actors_lead_race.groupby("Male_race")["number"].sum().reset_index()

In [77]:
d={"Total": 90}

In [89]:
total = pd.DataFrame({"number": 90, "Male_race": "Total"},index=[1])

In [91]:
Actors_lead_race_grouped = Actors_lead_race_grouped.append(total)

In [94]:
Actors_lead_race_grouped["Total"] = 90

In [96]:
Actors_lead_race_grouped["percentage"] = Actors_lead_race_grouped["number"] / Actors_lead_race_grouped["Total"] * 100

In [98]:
Actors_lead_race_grouped["percentage_total"] = 100

In [100]:
Actors_lead_race_grouped.to_csv("Actors lead race.csv")

In [101]:
Actors_lead_race_grouped

         Male_race  number  Total  percentage  percentage_total
0            Black       4     90    4.444444               100
1  Hispanic\Latino       1     90    1.111111               100
2            Mixed       2     90    2.222222               100
3            White      83     90   92.222222               100
1            Total      90     90  100.000000               100

In [102]:
Female_lead_race_grouped = Actors_lead_race.groupby("Female_race")["number"].sum().reset_index()

In [103]:
Female_lead_race_grouped

  Female_race  number
0       Mixed       1
1     Unknown       1
2       White      88

In [106]:
supporting_actors_actress = pd.read_csv("supporting_actors_actress - supporting_actors_actress.csv")

In [109]:
supporting_actors_actress.tail()

,Actor supporting role,Movie_male,Years,Movies_female,Actress in supporting role,Male_Race,Female_race
76,Christoph Waltz,Django Unchained,2012,Les Misérables,Anne Hathaway,White,White
77,Jared Leto,Dallas Buyers Club,2013,12 Years a Slave,Lupita Nyong'o,White,Black
78,J.K. Simmons,Whiplash,2014,Boyhood,Patricia Arquette,White,White
79,Mark Rylance,Bridge of Spies,2015,The Danish Girl,Alicia Vikander,White,White
80,Mahershala Ali,Moonlight,2016,Fences,Viola Davis,Black,Black

In [108]:
supporting_actors_actress["Male_Race"].value_counts()

White              71
Black               5
Hispanic\Latino     2
Mixed               2
Asian               1
Name: Male_Race, dtype: int64

In [110]:
supporting_actors_actress["Female_race"].value_counts()

White              72
Black               7
Hispanic\Latino     1
Asian               1
Name: Female_race, dtype: int64