In [1]:
import requests as rq
from bs4 import BeautifulSoup
import pandas as pd
import re

In [2]:
years_list = pd.DataFrame(list(range(1900, 2014)))

In [3]:
years_list.columns = ["years"]

In [4]:
years_list["years"] = years_list["years"].astype(str)

In [5]:
pd.set_option('max_colwidth',100)

In [6]:
urls = "https://www.baseball-reference.com/leagues/MLB/" + years_list["years"] + "-finalyear.shtml"

In [184]:
urls

0      https://www.baseball-reference.com/leagues/MLB/1900-finalyear.shtml
1      https://www.baseball-reference.com/leagues/MLB/1901-finalyear.shtml
2      https://www.baseball-reference.com/leagues/MLB/1902-finalyear.shtml
3      https://www.baseball-reference.com/leagues/MLB/1903-finalyear.shtml
4      https://www.baseball-reference.com/leagues/MLB/1904-finalyear.shtml
5      https://www.baseball-reference.com/leagues/MLB/1905-finalyear.shtml
6      https://www.baseball-reference.com/leagues/MLB/1906-finalyear.shtml
7      https://www.baseball-reference.com/leagues/MLB/1907-finalyear.shtml
8      https://www.baseball-reference.com/leagues/MLB/1908-finalyear.shtml
9      https://www.baseball-reference.com/leagues/MLB/1909-finalyear.shtml
10     https://www.baseball-reference.com/leagues/MLB/1910-finalyear.shtml
11     https://www.baseball-reference.com/leagues/MLB/1911-finalyear.shtml
12     https://www.baseball-reference.com/leagues/MLB/1912-finalyear.shtml
13     https://www.baseball-reference.com/leagues/MLB/1913-finalyear.shtml
14     https://www.baseball-reference.com/leagues/MLB/1914-finalyear.shtml
15     https://www.baseball-reference.com/leagues/MLB/1915-finalyear.shtml
16     https://www.baseball-reference.com/leagues/MLB/1916-finalyear.shtml
17     https://www.baseball-reference.com/leagues/MLB/1917-finalyear.shtml
18     https://www.baseball-reference.com/leagues/MLB/1918-finalyear.shtml
19     https://www.baseball-reference.com/leagues/MLB/1919-finalyear.shtml
20     https://www.baseball-reference.com/leagues/MLB/1920-finalyear.shtml
21     https://www.baseball-reference.com/leagues/MLB/1921-finalyear.shtml
22     https://www.baseball-reference.com/leagues/MLB/1922-finalyear.shtml
23     https://www.baseball-reference.com/leagues/MLB/1923-finalyear.shtml
24     https://www.baseball-reference.com/leagues/MLB/1924-finalyear.shtml
25     https://www.baseball-reference.com/leagues/MLB/1925-finalyear.shtml
26     https://www.baseball-reference.com/leagues/MLB/1926-finalyear.shtml
27     https://www.baseball-reference.com/leagues/MLB/1927-finalyear.shtml
28     https://www.baseball-reference.com/leagues/MLB/1928-finalyear.shtml
29     https://www.baseball-reference.com/leagues/MLB/1929-finalyear.shtml
                                      ...
84     https://www.baseball-reference.com/leagues/MLB/1984-finalyear.shtml
85     https://www.baseball-reference.com/leagues/MLB/1985-finalyear.shtml
86     https://www.baseball-reference.com/leagues/MLB/1986-finalyear.shtml
87     https://www.baseball-reference.com/leagues/MLB/1987-finalyear.shtml
88     https://www.baseball-reference.com/leagues/MLB/1988-finalyear.shtml
89     https://www.baseball-reference.com/leagues/MLB/1989-finalyear.shtml
90     https://www.baseball-reference.com/leagues/MLB/1990-finalyear.shtml
91     https://www.baseball-reference.com/leagues/MLB/1991-finalyear.shtml
92     https://www.baseball-reference.com/leagues/MLB/1992-finalyear.shtml
93     https://www.baseball-reference.com/leagues/MLB/1993-finalyear.shtml
94     https://www.baseball-reference.com/leagues/MLB/1994-finalyear.shtml
95     https://www.baseball-reference.com/leagues/MLB/1995-finalyear.shtml
96     https://www.baseball-reference.com/leagues/MLB/1996-finalyear.shtml
97     https://www.baseball-reference.com/leagues/MLB/1997-finalyear.shtml
98     https://www.baseball-reference.com/leagues/MLB/1998-finalyear.shtml
99     https://www.baseball-reference.com/leagues/MLB/1999-finalyear.shtml
100    https://www.baseball-reference.com/leagues/MLB/2000-finalyear.shtml
101    https://www.baseball-reference.com/leagues/MLB/2001-finalyear.shtml
102    https://www.baseball-reference.com/leagues/MLB/2002-finalyear.shtml
103    https://www.baseball-reference.com/leagues/MLB/2003-finalyear.shtml
104    https://www.baseball-reference.com/leagues/MLB/2004-finalyear.shtml
105    https://www.baseball-reference.com/leagues/MLB/2005-finalyear.shtml
106    https://www.baseball-reference.com/leagues/MLB/2006-finalyear.shtml
107    https://www.baseball-reference.com/leagues/MLB/2007-finalyear.shtml
108    https://www.baseball-reference.com/leagues/MLB/2008-finalyear.shtml
109    https://www.baseball-reference.com/leagues/MLB/2009-finalyear.shtml
110    https://www.baseball-reference.com/leagues/MLB/2010-finalyear.shtml
111    https://www.baseball-reference.com/leagues/MLB/2011-finalyear.shtml
112    https://www.baseball-reference.com/leagues/MLB/2012-finalyear.shtml
113    https://www.baseball-reference.com/leagues/MLB/2013-finalyear.shtml
Name: years, Length: 114, dtype: object

In [179]:
# from selenium import webdriver
# driver = webdriver.Chrome()
# driver.get("https://www.baseball-reference.com/leagues/MLB/2013-finalyear.shtml")
from bs4 import BeautifulSoup
url = "https://www.baseball-reference.com/leagues/MLB/2013-finalyear.shtml"
response = rq.post(url)
doc = BeautifulSoup(response.text, "html.parser")

In [180]:
batting = doc.find(id='misc_batting')

careers = []
for row in batting.find_all('tr')[1:]:
    dictionary = {}
    dictionary['names'] = row.find(attrs = {"data-stat": "player"}).text.strip()
    dictionary['experience'] = row.find(attrs={"data-stat": "experience"}).text.strip()
    dictionary["From"] = row.find(attrs={"data-stat": "year_min"}).text.strip()
    dictionary["To"] = row.find(attrs={"data-stat": "year_max"}).text.strip()
    dictionary["WAR"] = row.find(attrs={"data-stat": "WAR_bat"}).text.strip()
    dictionary["G"] = row.find(attrs={"data-stat": "G"}).text.strip()
    dictionary["PA"] = row.find(attrs={"data-stat": "PA"}).text.strip()
    dictionary["AB"] = row.find(attrs={"data-stat": "AB"}).text.strip()
    dictionary["R"] = row.find(attrs={"data-stat": "R"}).text.strip()
    dictionary["Age"] = row.find(attrs={"data-stat": "age"}).text.strip()
    dictionary["HR"] = row.find(attrs={"data-stat": "HR"}).text.strip()
    dictionary["H"] = row.find(attrs={"data-stat": "H"}).text.strip()
    dictionary["SB"] = row.find(attrs={"data-stat": "SB"}).text.strip()
    dictionary["BB"] = row.find(attrs={"data-stat": "BB"}).text.strip()
    dictionary["SO"] = row.find(attrs={"data-stat": "SO"}).text.strip()
    dictionary["OPS"] = row.find(attrs={"data-stat": "onbase_plus_slugging"}).text.strip()
    careers.append(dictionary)

In [181]:
careers

[{'AB': '140',
  'Age': '26.137',
  'BB': '9',
  'From': '2013',
  'G': '43',
  'H': '27',
  'HR': '2',
  'OPS': '.537',
  'PA': '152',
  'R': '10',
  'SB': '0',
  'SO': '43',
  'To': '2013',
  'WAR': '-0.2',
  'experience': '1',
  'names': 'David Adams'},
 {'AB': '0',
  'Age': '25.149',
  'BB': '0',
  'From': '2013',
  'G': '4',
  'H': '0',
  'HR': '0',
  'OPS': '',
  'PA': '0',
  'R': '0',
  'SB': '0',
  'SO': '0',
  'To': '2013',
  'WAR': '0.0',
  'experience': '1',
  'names': 'Steve Ames'},
 {'AB': '1921',
  'Age': '33.324',
  'BB': '162',
  'From': '1999',
  'G': '651',
  'H': '462',
  'HR': '76',
  'OPS': '.724',
  'PA': '2115',
  'R': '260',
  'SB': '21',
  'SO': '555',
  'To': '2013',
  'WAR': '5.1',
  'experience': '11',
  'names': 'Rick Ankiel'},
 {'AB': '0',
  'Age': '30.058',
  'BB': '0',
  'From': '2009',
  'G': '17',
  'H': '0',
  'HR': '0',
  'OPS': '',
  'PA': '0',
  'R': '0',
  'SB': '0',
  'SO': '0',
  'To': '2013',
  'WAR': '0.0',
  'experience': '4',
  'names': 'Jairo Asencio'},
 {'AB': '14',
  'Age': '35.260',
  'BB': '0',
  'From': '2003',
  'G': '389',
  'H': '4',
  'HR': '0',
  'OPS': '.643',
  'PA': '17',
  'R': '0',
  'SB': '0',
  'SO': '3',
  'To': '2013',
  'WAR': '0.4',
  'experience': '9',
  'names': 'Luis Ayala'},
 {'AB': '2',
  'Age': '26.152',
  'BB': '0',
  'From': '2013',
  'G': '1',
  'H': '0',
  'HR': '0',
  'OPS': '.000',
  'PA': '2',
  'R': '0',
  'SB': '0',
  'SO': '1',
  'To': '2013',
  'WAR': '0.0',
  'experience': '1',
  'names': 'Brandon Bantz'},
 {'AB': '2',
  'Age': '27.306',
  'BB': '0',
  'From': '2009',
  'G': '15',
  'H': '0',
  'HR': '0',
  'OPS': '.000',
  'PA': '2',
  'R': '0',
  'SB': '0',
  'SO': '1',
  'To': '2013',
  'WAR': '0.1',
  'experience': '5',
  'names': 'Daniel Bard'},
 {'AB': '0',
  'Age': '25.268',
  'BB': '0',
  'From': '2012',
  'G': '2',
  'H': '0',
  'HR': '0',
  'OPS': '',
  'PA': '0',
  'R': '0',
  'SB': '0',
  'SO': '0',
  'To': '2013',
  'WAR': '0.0',
  'experience': '2',
  'names': 'Scott Barnes'},
 {'AB': '4505',
  'Age': '34.309',
  'BB': '636',
  'From': '2003',
  'G': '1278',
  'H': '1200',
  'HR': '222',
  'OPS': '.841',
  'PA': '5258',
  'R': '737',
  'SB': '95',
  'SO': '1216',
  'To': '2013',
  'WAR': '24.3',
  'experience': '11',
  'names': 'Jason Bay'},
 {'AB': '0',
  'Age': '24.359',
  'BB': '0',
  'From': '2013',
  'G': '0',
  'H': '0',
  'HR': '0',
  'OPS': '',
  'PA': '0',
  'R': '0',
  'SB': '0',
  'SO': '0',
  'To': '2013',
  'WAR': '0.0',
  'experience': '1',
  'names': 'Mike Belfiore'},
 {'AB': '1',
  'Age': '27.193',
  'BB': '0',
  'From': '2011',
  'G': '2',
  'H': '0',
  'HR': '0',
  'OPS': '.000',
  'PA': '1',
  'R': '0',
  'SB': '0',
  'SO': '0',
  'To': '2013',
  'WAR': '0.0',
  'experience': '3',
  'names': 'Duane Below'},
 {'AB': '40',
  'Age': '23.326',
  'BB': '0',
  'From': '2013',
  'G': '22',
  'H': '10',
  'HR': '0',
  'OPS': '.543',
  'PA': '42',
  'R': '7',
  'SB': '1',
  'SO': '5',
  'To': '2013',
  'WAR': '0.0',
  'experience': '1',
  'names': 'Engel Beltre'},
 {'AB': '6491',
  'Age': '37.219',
  'BB': '1201',
  'From': '1999',
  'G': '1879',
  'H': '1905',
  'HR': '366',
  'OPS': '.943',
  'PA': '7814',
  'R': '1146',
  'SB': '86',
  'SO': '1300',
  'To': '2013',
  'WAR': '51.7',
  'experience': '15',
  'names': 'Lance Berkman'},
 {'AB': '4052',
  'Age': '31.241',
  'BB': '143',
  'From': '2005',
  'G': '1156',
  'H': '1057',
  'HR': '80',
  'OPS': '.673',
  'PA': '4278',
  'R': '437',
  'SB': '30',
  'SO': '435',
  'To': '2013',
  'WAR': '-2.5',
  'experience': '9',
  'names': 'Yuniesky Betancourt'},
 {'AB': '2093',
  'Age': '31.314',
  'BB': '211',
  'From': '2001',
  'G': '805',
  'H': '558',
  'HR': '75',
  'OPS': '.774',
  'PA': '2335',
  'R': '264',
  'SB': '9',
  'SO': '612',
  'To': '2013',
  'WAR': '3.0',
  'experience': '11',
  'names': 'Wilson Betemit'},
 {'AB': '5',
  'Age': '30.313',
  'BB': '0',
  'From': '2004',
  'G': '12',
  'H': '1',
  'HR': '0',
  'OPS': '.400',
  'PA': '5',
  'R': '0',
  'SB': '0',
  'SO': '3',
  'To': '2013',
  'WAR': '0.0',
  'experience': '4',
  'names': 'Travis Blackley'},
 {'AB': '2761',
  'Age': '42.025',
  'BB': '254',
  'From': '1997',
  'G': '971',
  'H': '615',
  'HR': '72',
  'OPS': '.649',
  'PA': '3087',
  'R': '274',
  'SB': '6',
  'SO': '546',
  'To': '2013',
  'WAR': '-0.1',
  'experience': '16',
  'names': 'Henry Blanco'},
 {'AB': '27',
  'Age': '29.224',
  'BB': '0',
  'From': '2008',
  'G': '232',
  'H': '1',
  'HR': '0',
  'OPS': '.111',
  'PA': '30',
  'R': '1',
  'SB': '0',
  'SO': '14',
  'To': '2013',
  'WAR': '-0.1',
  'experience': '6',
  'names': 'Mitchell Boggs'},
 {'AB': '30',
  'Age': '30.328',
  'BB': '0',
  'From': '2003',
  'G': '15',
  'H': '1',
  'HR': '0',
  'OPS': '.067',
  'PA': '31',
  'R': '1',
  'SB': '0',
  'SO': '18',
  'To': '2013',
  'WAR': '-0.2',
  'experience': '9',
  'names': 'Jeremy Bonderman'},
 {'AB': '2',
  'Age': '34.233',
  'BB': '0',
  'From': '2003',
  'G': '15',
  'H': '0',
  'HR': '0',
  'OPS': '.000',
  'PA': '2',
  'R': '0',
  'SB': '0',
  'SO': '2',
  'To': '2013',
  'WAR': '0.0',
  'experience': '7',
  'names': 'Chris Bootcheck'},
 {'AB': '28',
  'Age': '33.277',
  'BB': '1',
  'From': '2010',
  'G': '17',
  'H': '7',
  'HR': '0',
  'OPS': '.586',
  'PA': '30',
  'R': '2',
  'SB': '0',
  'SO': '8',
  'To': '2013',
  'WAR': '0.0',
  'experience': '4',
  'names': 'J.C. Boscan'},
 {'AB': '2',
  'Age': '26.359',
  'BB': '0',
  'From': '2008',
  'G': '64',
  'H': '0',
  'HR': '0',
  'OPS': '.000',
  'PA': '2',
  'R': '0',
  'SB': '0',
  'SO': '2',
  'To': '2013',
  'WAR': '0.0',
  'experience': '6',
  'names': 'Michael Bowden'},
 {'AB': '0',
  'Age': '26.032',
  'BB': '0',
  'From': '2013',
  'G': '0',
  'H': '0',
  'HR': '0',
  'OPS': '',
  'PA': '0',
  'R': '0',
  'SB': '0',
  'SO': '0',
  'To': '2013',
  'WAR': '0.0',
  'experience': '1',
  'names': 'Ryan Brasier'},
 {'AB': '0',
  'Age': '25.092',
  'BB': '0',
  'From': '2013',
  'G': '4',
  'H': '0',
  'HR': '0',
  'OPS': '',
  'PA': '0',
  'R': '0',
  'SB': '0',
  'SO': '0',
  'To': '2013',
  'WAR': '0.0',
  'experience': '1',
  'names': 'Charles Brewer'},
 {'AB': '102',
  'Age': '29.194',
  'BB': '5',
  'From': '2010',
  'G': '40',
  'H': '23',
  'HR': '0',
  'OPS': '.570',
  'PA': '109',
  'R': '9',
  'SB': '0',
  'SO': '11',
  'To': '2013',
  'WAR': '-0.1',
  'experience': '2',
  'names': 'Jordan Brown'},
 {'AB': '8',
  'Age': '25.290',
  'BB': '0',
  'From': '2013',
  'G': '6',
  'H': '1',
  'HR': '0',
  'OPS': '.250',
  'PA': '10',
  'R': '0',
  'SB': '0',
  'SO': '6',
  'To': '2013',
  'WAR': '0.0',
  'experience': '1',
  'names': 'Hiram Burgos'},
 {'AB': '2',
  'Age': '31.002',
  'BB': '0',
  'From': '2009',
  'G': '75',
  'H': '0',
  'HR': '0',
  'OPS': '.000',
  'PA': '2',
  'R': '0',
  'SB': '0',
  'SO': '1',
  'To': '2013',
  'WAR': '0.0',
  'experience': '2',
  'names': 'Greg Burke'},
 {'AB': '0',
  'Age': '25.307',
  'BB': '0',
  'From': '2010',
  'G': '17',
  'H': '0',
  'HR': '0',
  'OPS': '',
  'PA': '0',
  'R': '0',
  'SB': '0',
  'SO': '0',
  'To': '2013',
  'WAR': '0.1',
  'experience': '4',
  'names': 'Alex Burnett'},
 {'AB': '1',
  'Age': '25.330',
  'BB': '0',
  'From': '2012',
  'G': '17',
  'H': '0',
  'HR': '0',
  'OPS': '.000',
  'PA': '1',
  'R': '0',
  'SB': '0',
  'SO': '1',
  'To': '2013',
  'WAR': '0.0',
  'experience': '2',
  'names': 'Cory Burns'},
 {'AB': '263',
  'Age': '33.149',
  'BB': '9',
  'From': '2004',
  'G': '157',
  'H': '34',
  'HR': '0',
  'OPS': '.320',
  'PA': '301',
  'R': '18',
  'SB': '0',
  'SO': '96',
  'To': '2013',
  'WAR': '-0.3',
  'experience': '9',
  'names': 'Dave Bush'},
 {'AB': '13',
  'Age': '39.330',
  'BB': '0',
  'From': '1998',
  'G': '321',
  'H': '2',
  'HR': '0',
  'OPS': '.385',
  'PA': '13',
  'R': '1',
  'SB': '0',
  'SO': '4',
  'To': '2013',
  'WAR': '0.2',
  'experience': '12',
  'names': 'Tim Byrdak'},
 {'AB': '0',
  'Age': '24.337',
  'BB': '0',
  'From': '2012',
  'G': '32',
  'H': '0',
  'HR': '0',
  'OPS': '',
  'PA': '0',
  'R': '0',
  'SB': '0',
  'SO': '0',
  'To': '2013',
  'WAR': '0.0',
  'experience': '2',
  'names': 'Alberto Cabrera'},
 {'AB': '3671',
  'Age': '39.221',
  'BB': '410',
  'From': '2002',
  'G': '1275',
  'H': '1000',
  'HR': '13',
  'OPS': '.687',
  'PA': '4225',
  'R': '560',
  'SB': '74',
  'SO': '581',
  'To': '2013',
  'WAR': '16.7',
  'experience': '12',
  'names': 'Jamey Carroll'},
 {'AB': '177',
  'Age': '32.090',
  'BB': '5',
  'From': '2009',
  'G': '92',
  'H': '42',
  'HR': '6',
  'OPS': '.613',
  'PA': '187',
  'R': '16',
  'SB': '7',
  'SO': '52',
  'To': '2013',
  'WAR': '0.3',
  'experience': '4',
  'names': 'Matt Carson'},
 {'AB': '0',
  'Age': '24.217',
  'BB': '1',
  'From': '2012',
  'G': '30',
  'H': '0',
  'HR': '0',
  'OPS': '',
  'PA': '1',
  'R': '1',
  'SB': '0',
  'SO': '0',
  'To': '2013',
  'WAR': '0.1',
  'experience': '2',
  'names': 'Robert Carson'},
 {'AB': '41',
  'Age': '27.056',
  'BB': '0',
  'From': '2012',
  'G': '24',
  'H': '7',
  'HR': '2',
  'OPS': '.576',
  'PA': '43',
  'R': '5',
  'SB': '0',
  'SO': '13',
  'To': '2013',
  'WAR': '-0.6',
  'experience': '2',
  'names': 'Alex Castellanos'},
 {'AB': '88',
  'Age': '26.356',
  'BB': '8',
  'From': '2011',
  'G': '84',
  'H': '19',
  'HR': '0',
  'OPS': '.584',
  'PA': '99',
  'R': '11',
  'SB': '2',
  'SO': '30',
  'To': '2013',
  'WAR': '-0.2',
  'experience': '3',
  'names': 'Adron Chambers'},
 {'AB': '38',
  'Age': '32.011',
  'BB': '1',
  'From': '2013',
  'G': '16',
  'H': '4',
  'HR': '0',
  'OPS': '.260',
  'PA': '40',
  'R': '1',
  'SB': '0',
  'SO': '15',
  'To': '2013',
  'WAR': '-0.2',
  'experience': '1',
  'names': 'Cody Clark'},
 {'AB': '0',
  'Age': '29.294',
  'BB': '0',
  'From': '2013',
  'G': '0',
  'H': '0',
  'HR': '0',
  'OPS': '',
  'PA': '0',
  'R': '0',
  'SB': '0',
  'SO': '0',
  'To': '2013',
  'WAR': '0.0',
  'experience': '1',
  'names': 'Zach Clark'},
 {'AB': '0',
  'Age': '28.309',
  'BB': '0',
  'From': '2010',
  'G': '6',
  'H': '0',
  'HR': '0',
  'OPS': '',
  'PA': '0',
  'R': '0',
  'SB': '0',
  'SO': '0',
  'To': '2013',
  'WAR': '0.0',
  'experience': '3',
  'names': 'Robert Coello'},
 {'AB': '29',
  'Age': '41.172',
  'BB': '3',
  'From': '2003',
  'G': '120',
  'H': '0',
  'HR': '0',
  'OPS': '.094',
  'PA': '33',
  'R': '1',
  'SB': '0',
  'SO': '18',
  'To': '2013',
  'WAR': '-0.2',
  'experience': '11',
  'names': 'Jose Contreras'},
 {'AB': '10',
  'Age': '30.298',
  'BB': '2',
  'From': '2006',
  'G': '340',
  'H': '0',
  'HR': '0',
  'OPS': '.167',
  'PA': '13',
  'R': '0',
  'SB': '0',
  'SO': '7',
  'To': '2013',
  'WAR': '0.1',
  'experience': '7',
  'names': 'Manny Corpas'},
 {'AB': '179',
  'Age': '28.107',
  'BB': '12',
  'From': '2010',
  'G': '135',
  'H': '32',
  'HR': '2',
  'OPS': '.515',
  'PA': '193',
  'R': '15',
  'SB': '2',
  'SO': '61',
  'To': '2013',
  'WAR': '-0.5',
  'experience': '4',
  'names': 'Scott Cousins'},
 {'AB': '1',
  'Age': '31.359',
  'BB': '0',
  'From': '2004',
  'G': '31',
  'H': '0',
  'HR': '0',
  'OPS': '.000',
  'PA': '1',
  'R': '0',
  'SB': '0',
  'SO': '1',
  'To': '2013',
  'WAR': '0.2',
  'experience': '10',
  'names': 'Jesse Crain'},
 {'AB': '818',
  'Age': '29.316',
  'BB': '60',
  'From': '2009',
  'G': '265',
  'H': '196',
  'HR': '4',
  'OPS': '.615',
  'PA': '894',
  'R': '94',
  'SB': '35',
  'SO': '160',
  'To': '2013',
  'WAR': '0.0',
  'experience': '4',
  'names': 'Trevor Crowe'},
 {'AB': '610',
  'Age': '29.162',
  'BB': '24',
  'From': '2008',
  'G': '195',
  'H': '143',
  'HR': '7',
  'OPS': '.589',
  'PA': '652',
  'R': '57',
  'SB': '4',
  'SO': '78',
  'To': '2013',
  'WAR': '1.4',
  'experience': '5',
  'names': 'Luis Cruz'},
 {'AB': '1',
  'Age': '26.332',
  'BB': '0',
  'From': '2012',
  'G': '49',
  'H': '0',
  'HR': '0',
  'OPS': '.000',
  'PA': '1',
  'R': '0',
  'SB': '0',
  'SO': '1',
  'To': '2013',
  'WAR': '0.0',
  'experience': '2',
  'names': 'Rhiner Cruz'},
 {'AB': '3',
  'Age': '26.035',
  'BB': '1',
  'From': '2013',
  'G': '5',
  'H': '0',
  'HR': '0',
  'OPS': '.400',
  'PA': '5',
  'R': '0',
  'SB': '0',
  'SO': '1',
  'To': '2013',
  'WAR': '0.0',
  'experience': '1',
  'names': 'Jermaine Curtis'},
 {'AB': '0',
  'Age': '26.349',
  'BB': '0',
  'From': '2013',
  'G': '10',
  'H': '0',
  'HR': '0',
  'OPS': '',
  'PA': '0',
  'R': '0',
  'SB': '0',
  'SO': '0',
  'To': '2013',
  'WAR': '0.0',
  'experience': '1',
  'names': 'Erik Davis'},
 {'AB': '0',
  'Age': '27.285',
  'BB': '0',
  'From': '2013',
  'G': '0',
  'H': '0',
  'HR': '0',
  'OPS': '',
  'PA': '0',
  'R': '0',
  'SB': '0',
  'SO': '0',
  'To': '2013',
  'WAR': '0.0',
  'experience': '1',
  'names': 'Jose De La Torre'},
 {'AB': '0',
  'Age': '28.228',
  'BB': '0',
  'From': '2012',
  'G': '0',
  'H': '0',
  'HR': '0',
  'OPS': '',
  'PA': '0',
  'R': '0',
  'SB': '0',
  'SO': '0',
  'To': '2013',
  'WAR': '0.0',
  'experience': '2',
  'names': 'Cole De Vries'},
 {'AB': '588',
  'Age': '36.149',
  'BB': '13',
  'From': '1998',
  'G': '516',
  'H': '58',
  'HR': '0',
  'OPS': '.239',
  'PA': '688',
  'R': '23',
  'SB': '0',
  'SO': '221',
  'To': '2013',
  'WAR': '-3.3',
  'experience': '16',
  'names': 'Ryan Dempster'},
 {'AB': '3633',
  'Age': '38.215',
  'BB': '358',
  'From': '1998',
  'G': '1241',
  'H': '975',
  'HR': '100',
  'OPS': '.751',
  'PA': '4094',
  'R': '538',
  'SB': '23',
  'SO': '707',
  'To': '2013',
  'WAR': '9.8',
  'experience': '16',
  'names': 'Mark DeRosa'},
 {'AB': '1119',
  'Age': '27.242',
  'BB': '107',
  'From': '2008',
  'G': '426',
  'H': '288',
  'HR': '21',
  'OPS': '.705',
  'PA': '1247',
  'R': '118',
  'SB': '7',
  'SO': '194',
  'To': '2013',
  'WAR': '1.9',
  'experience': '6',
  'names': 'Blake DeWitt'},
 {'AB': '1881',
  'Age': '35.076',
  'BB': '106',
  'From': '2003',
  'G': '736',
  'H': '546',
  'HR': '45',
  'OPS': '.767',
  'PA': '2052',
  'R': '212',
  'SB': '33',
  'SO': '378',
  'To': '2013',
  'WAR': '3.7',
  'experience': '11',
  'names': 'Matt Diaz'},
 {'AB': '971',
  'Age': '27.248',
  'BB': '76',
  'From': '2011',
  'G': '297',
  'H': '268',
  'HR': '24',
  'OPS': '.745',
  'PA': '1063',
  'R': '150',
  'SB': '13',
  'SO': '173',
  'To': '2013',
  'WAR': '4.2',
  'experience': '3',
  'names': 'Andy Dirks'},
 {'AB': '0',
  'Age': '25.136',
  'BB': '0',
  'From': '2011',
  'G': '40',
  'H': '0',
  'HR': '0',
  'OPS': '',
  'PA': '0',
  'R': '0',
  'SB': '0',
  'SO': '0',
  'To': '2013',
  'WAR': '0.0',
  'experience': '3',
  'names': 'Rafael Dolis'},
 {'AB': '77',
  'Age': '39.145',
  'BB': '5',
  'From': '1999',
  'G': '427',
  'H': '5',
  'HR': '0',
  'OPS': '.197',
  'PA': '92',
  'R': '3',
  'SB': '0',
  'SO': '44',
  'To': '2013',
  'WAR': '-0.3',
  'experience': '15',
  'names': 'Octavio Dotel'},
 {'AB': '885',
  'Age': '33.210',
  'BB': '97',
  'From': '2007',
  'G': '330',
  'H': '200',
  'HR': '43',
  'OPS': '.724',
  'PA': '997',
  'R': '117',
  'SB': '2',
  'SO': '243',
  'To': '2013',
  'WAR': '0.9',
  'experience': '7',
  'names': 'Shelley Duncan'},
 {'AB': '24',
  'Age': '35.178',
  'BB': '0',
  'From': '1999',
  'G': '287',
  'H': '2',
  'HR': '0',
  'OPS': '.163',
  'PA': '26',
  'R': '0',
  'SB': '0',
  'SO': '8',
  'To': '2013',
  'WAR': '0.0',
  'experience': '14',
  'names': 'Chad Durbin'},
 {'AB': '0',
  'Age': '25.171',
  'BB': '0',
  'From': '2013',
  'G': '0',
  'H': '0',
  'HR': '0',
  'OPS': '',
  'PA': '0',
  'R': '0',
  'SB': '0',
  'SO': '0',
  'To': '2013',
  'WAR': '0.0',
  'experience': '1',
  'names': 'Chris Dwyer'},
 {'AB': '45',
  'Age': '27.046',
  'BB': '2',
  'From': '2010',
  'G': '26',
  'H': '10',
  'HR': '1',
  'OPS': '.561',
  'PA': '52',
  'R': '2',
  'SB': '0',
  'SO': '11',
  'To': '2013',
  'WAR': '0.3',
  'experience': '4',
  'names': 'Barry Enright'},
 {'AB': '0',
  'Age': '27.177',
  'BB': '0',
  'From': '2011',
  'G': '8',
  'H': '0',
  'HR': '0',
  'OPS': '',
  'PA': '0',
  'R': '0',
  'SB': '0',
  'SO': '0',
  'To': '2013',
  'WAR': '0.0',
  'experience': '3',
  'names': 'Cody Eppley'},
 {'AB': '9',
  'Age': '26.316',
  'BB': '0',
  'From': '2010',
  'G': '76',
  'H': '0',
  'HR': '0',
  'OPS': '.000',
  'PA': '11',
  'R': '0',
  'SB': '0',
  'SO': '6',
  'To': '2013',
  'WAR': '-0.1',
  'experience': '4',
  'names': 'Edgmer Escalona'},
 {'AB': '6',
  'Age': '37.034',
  'BB': '2',
  'From': '2002',
  'G': '463',
  'H': '0',
  'HR': '0',
  'OPS': '.250',
  'PA': '9',
  'R': '0',
  'SB': '0',
  'SO': '2',
  'To': '2013',
  'WAR': '0.3',
  'experience': '9',
  'names': 'Pedro Feliciano'},
 {'AB': '1579',
  'Age': '31.206',
  'BB': '146',
  'From': '2007',
  'G': '563',
  'H': '400',
  'HR': '50',
  'OPS': '.741',
  'PA': '1771',
  'R': '199',
  'SB': '30',
  'SO': '325',
  'To': '2013',
  'WAR': '2.2',
  'experience': '7',
  'names': 'Ben Francisco'},
 {'AB': '0',
  'Age': '26.177',
  'BB': '0',
  'From': '2013',
  'G': '1',
  'H': '0',
  'HR': '0',
  'OPS': '',
  'PA': '0',
  'R': '0',
  'SB': '0',
  'SO': '0',
  'To': '2013',
  'WAR': '0.0',
  'experience': '1',
  'names': 'Justin Freeman'},
 {'AB': '77',
  'Age': '36.353',
  'BB': '2',
  'From': '1999',
  'G': '39',
  'H': '12',
  'HR': '0',
  'OPS': '.357',
  'PA': '99',
  'R': '1',
  'SB': '0',
  'SO': '26',
  'To': '2013',
  'WAR': '0.0',
  'experience': '15',
  'names': 'Freddy Garcia'},
 {'AB': '175',
  'Age': '33.251',
  'BB': '10',
  'From': '2000',
  'G': '102',
  'H': '24',
  'HR': '1',
  'OPS': '.353',
  'PA': '209',
  'R': '12',
  'SB': '0',
  'SO': '65',
  'To': '2013',
  'WAR': '0.3',
  'experience': '13',
  'names': 'Jon Garland'},
 {'AB': '5',
  'Age': '24.098',
  'BB': '1',
  'From': '2013',
  'G': '3',
  'H': '0',
  'HR': '0',
  'OPS': '.167',
  'PA': '6',
  'R': '1',
  'SB': '0',
  'SO': '3',
  'To': '2013',
  'WAR': '0.0',
  'experience': '1',
  'names': 'John Gast'},
 {'AB': '65',
  'Age': '30.145',
  'BB': '4',
  'From': '2003',
  'G': '140',
  'H': '2',
  'HR': '0',
  'OPS': '.118',
  'PA': '74',
  'R': '1',
  'SB': '0',
  'SO': '34',
  'To': '2013',
  'WAR': '-0.3',
  'experience': '11',
  'names': 'Chad Gaudin'},
 {'AB': '88',
  'Age': '30.274',
  'BB': '7',
  'From': '2006',
  'G': '37',
  'H': '19',
  'HR': '2',
  'OPS': '.610',
  'PA': '100',
  'R': '9',
  'SB': '0',
  'SO': '29',
  'To': '2013',
  'WAR': '0.3',
  'experience': '4',
  'names': 'Hector Gimenez'},
 {'AB': '950',
  'Age': '30.092',
  'BB': '45',
  'From': '2007',
  'G': '426',
  'H': '227',
  'HR': '4',
  'OPS': '.590',
  'PA': '1023',
  'R': '97',
  'SB': '2',
  'SO': '130',
  'To': '2013',
  'WAR': '-0.4',
  'experience': '7',
  'names': 'Alberto Gonzalez'},
 {'AB': '72',
  'Age': '30.091',
  'BB': '2',
  'From': '2003',
  'G': '89',
  'H': '12',
  'HR': '0',
  'OPS': '.381',
  'PA': '83',
  'R': '1',
  'SB': '0',
  'SO': '18',
  'To': '2013',
  'WAR': '0.0',
  'experience': '10',
  'names': 'Edgar Gonzalez'},
 {'AB': '9',
  'Age': '22.299',
  'BB': '0',
  'From': '2013',
  'G': '5',
  'H': '2',
  'HR': '0',
  'OPS': '.444',
  'PA': '9',
  'R': '0',
  'SB': '0',
  'SO': '3',
  'To': '2013',
  'WAR': '0.0',
  'experience': '1',
  'names': 'Miguel Gonzalez'},
 {'AB': '3',
  'Age': '35.128',
  'BB': '0',
  'From': '2003',
  'G': '408',
  'H': '1',
  'HR': '0',
  'OPS': '1.000',
  'PA': '3',
  'R': '0',
  'SB': '0',
  'SO': '0',
  'To': '2013',
  'WAR': '0.3',
  'experience': '11',
  'names': 'Mike Gonzalez'},
 {'AB': '1078',
  'Age': '34.258',
  'BB': '80',
  'From': '2004',
  'G': '417',
  'H': '254',
  'HR': '17',
  'OPS': '.649',
  'PA': '1220',
  'R': '147',
  'SB': '6',
  'SO': '286',
  'To': '2013',
  'WAR': '-0.2',
  'experience': '8',
  'names': 'Nick Green'},
 {'AB': '675',
  'Age': '29.289',
  'BB': '52',
  'From': '2009',
  'G': '288',
  'H': '151',
  'HR': '17',
  'OPS': '.645',
  'PA': '746',
  'R': '86',
  'SB': '28',
  'SO': '201',
  'To': '2013',
  'WAR': '-0.6',
  'experience': '5',
  'names': 'Tyler Greene'},
 {'AB': '95',
  'Age': '32.241',
  'BB': '4',
  'From': '2004',
  'G': '48',
  'H': '20',
  'HR': '1',

In [182]:
df_careers = pd.DataFrame(careers)

In [183]:
df_careers.head()

,AB,Age,BB,From,G,H,HR,OPS,PA,R,SB,SO,To,WAR,experience,names
0,140,26.137,9,2013,43,27,2,.537,152,10,0,43,2013,-0.2,1,David Adams
1,0,25.149,0,2013,4,0,0,,0,0,0,0,2013,0.0,1,Steve Ames
2,1921,33.324,162,1999,651,462,76,.724,2115,260,21,555,2013,5.1,11,Rick Ankiel
3,0,30.058,0,2009,17,0,0,,0,0,0,0,2013,0.0,4,Jairo Asencio
4,14,35.260,0,2003,389,4,0,.643,17,0,0,3,2013,0.4,9,Luis Ayala

In [186]:
careers_list = []

for i in urls:
    response = rq.post(i)
    doc = BeautifulSoup(response.text, "html.parser")
    batting = doc.find(id='misc_batting')
    for row in batting.find_all('tr')[1:]:
        dictionary = {}
        dictionary['names'] = row.find(attrs = {"data-stat": "player"}).text.strip()
        dictionary['experience'] = row.find(attrs={"data-stat": "experience"}).text.strip()
        dictionary["From"] = row.find(attrs={"data-stat": "year_min"}).text.strip()
        dictionary["To"] = row.find(attrs={"data-stat": "year_max"}).text.strip()
        dictionary["WAR"] = row.find(attrs={"data-stat": "WAR_bat"}).text.strip()
        dictionary["G"] = row.find(attrs={"data-stat": "G"}).text.strip()
        dictionary["PA"] = row.find(attrs={"data-stat": "PA"}).text.strip()
        dictionary["AB"] = row.find(attrs={"data-stat": "AB"}).text.strip()
        dictionary["R"] = row.find(attrs={"data-stat": "R"}).text.strip()
        dictionary["Age"] = row.find(attrs={"data-stat": "age"}).text.strip()
        dictionary["HR"] = row.find(attrs={"data-stat": "HR"}).text.strip()
        dictionary["H"] = row.find(attrs={"data-stat": "H"}).text.strip()
        dictionary["SB"] = row.find(attrs={"data-stat": "SB"}).text.strip()
        dictionary["BB"] = row.find(attrs={"data-stat": "BB"}).text.strip()
        dictionary["SO"] = row.find(attrs={"data-stat": "SO"}).text.strip()
        dictionary["OPS"] = row.find(attrs={"data-stat": "onbase_plus_slugging"}).text.strip()
        careers_list.append(dictionary)

In [ ]:
careers_list

In [187]:
df_careers_final = pd.DataFrame(careers_list)

In [188]:
df_careers_final.head()

,AB,Age,BB,From,G,H,HR,OPS,PA,R,SB,SO,To,WAR,experience,names
0,2216,32.326,297,1890,607,534,14,.669,2532,338,53,221,1900,11.5,7,Bob Allen
1,43,23.178,2,1899,16,10,0,.608,46,5,0,5,1900,0.1,2,Harvey Bailey
2,1,24.249,0,1900,1,0,0,.000,1,0,0,0,1900,0.0,1,Rome Chambers
3,449,33.138,22,1899,130,132,3,.758,476,70,10,25,1900,1.2,2,Pearce Chiles
4,4295,36.070,341,1884,1160,1231,77,.769,4721,619,55,317,1900,32.1,17,Jack Clements

In [190]:
df_careers_final.tail()

,AB,Age,BB,From,G,H,HR,OPS,PA,R,SB,SO,To,WAR,experience,names
15066,1109,35.094,46,2000,575,253,31,.645,1184,149,55,245,2013,0.8,11,Dewayne Wise
15067,1,30.330,0,2007,15,0,0,.000,1,0,0,1,2013,0.0,3,Ross Wolf
15068,3749,34.090,539,2004,1061,1053,150,.861,4436,653,26,828,2013,32.7,10,Kevin Youkilis
15069,7918,36.345,575,2000,1970,2375,185,.787,8612,1137,90,1235,2013,24.2,14,Michael Young
15070,0,30.231,0,2007,82,0,0,,0,0,0,0,2013,0.0,5,Mike Zagurski

In [192]:
df_careers_final["Zero"] = 0

In [193]:
df_careers_final.sort_values(by = "From")

,AB,Age,BB,From,G,H,HR,OPS,PA,R,SB,SO,To,WAR,experience,names,Zero
382,8503,54.021,513,1872,1999,2639,62,.775,9052,1729,229,362,1904,51.3,23,Jim O'Rourke HOF,0
336,6726,46.149,840,1879,1676,2303,107,.943,7691,1529,257,238,1904,79.4,19,Dan Brouthers HOF,0
855,6832,49.199,589,1880,1629,1836,27,.676,7524,1481,742,305,1909,30.6,17,Arlie Latham,0
87,1380,35.335,182,1884,411,332,7,.669,1582,193,44,194,1901,4.1,15,Al Maul,0
101,6897,38.211,366,1884,1772,1804,30,.630,7367,895,270,295,1901,4.6,17,Joe Quinn,0
144,754,39.009,62,1884,243,169,9,.621,832,104,18,116,1902,1.6,11,Frank Foreman,0
245,5701,37.232,687,1884,1568,1583,49,.746,6504,1025,385,596,1903,28.0,17,Tom Daly,0
4,4295,36.070,341,1884,1160,1231,77,.769,4721,619,55,317,1900,32.1,17,Jack Clements,0
141,5167,39.109,257,1884,1343,1333,24,.622,5584,656,165,292,1902,8.8,14,Bones Ely,0
1313,6291,48.182,515,1884,1781,1750,45,.713,6937,770,118,442,1912,31.2,26,Deacon McGuire,0
328,4546,42.308,390,1884,1280,1225,26,.708,5078,617,151,511,1903,22.8,19,Chief Zimmer,0
310,8172,40.225,804,1885,2014,2513,118,.820,9124,1643,419,491,1903,43.5,18,Jimmy Ryan,0
573,5998,46.189,451,1885,1410,1988,126,.890,6525,1261,232,234,1906,44.3,15,Sam Thompson HOF,0
65,748,36.011,17,1886,229,155,4,.509,775,59,18,74,1901,-1.5,8,Bill Hart,0
206,5075,38.092,286,1886,1371,1388,18,.662,5430,637,196,323,1902,13.9,17,Wilbert Robinson HOF,0
106,2733,36.087,227,1886,803,721,16,.683,3039,368,46,167,1901,8.6,14,Pop Schriver,0
111,4693,33.084,639,1886,1237,1456,37,.831,5422,913,233,258,1901,30.3,14,Mike Smith,0
557,1401,41.077,182,1887,390,329,2,.620,1616,214,88,114,1906,-0.9,8,Frank Scheibeck,0
37,1176,35.154,64,1887,359,254,9,.550,1258,145,14,206,1901,0.2,12,Bert Cunningham,0
608,9084,41.025,466,1887,2277,2651,47,.711,9741,1338,303,217,1907,47.2,21,Lave Cross,0
318,8043,37.180,871,1887,1990,2544,69,.803,9017,1642,583,498,1903,40.9,17,George Van Haltren,0
14,4618,35.189,319,1887,1167,1290,27,.696,5021,671,164,255,1900,10.1,13,Patsy Tebeau,0
1031,5383,44.129,302,1887,1452,1418,19,.643,5788,714,219,285,1910,8.2,21,Jack O'Connor,0
114,1855,34.326,101,1887,554,308,3,.419,1980,164,32,477,1901,-9.8,14,Gus Weyhing,0
264,6030,36.180,426,1888,1507,1641,21,.675,6637,942,201,403,1903,7.3,14,Bill Hallman,0
1267,7459,45.306,501,1888,1968,1946,15,.628,8210,1022,329,408,1912,8.9,22,Kid Gleason,0
434,5682,38.286,480,1888,1565,1572,52,.723,6263,829,150,369,1905,23.0,18,Duke Farrell,0
158,7115,40.055,1006,1888,1797,2048,40,.760,8385,1429,596,345,1902,32.5,14,Dummy Hoy,0
249,7511,35.238,741,1888,1837,2597,101,.916,8400,1600,455,439,1903,69.5,16,Ed Delahanty HOF,0
592,9551,39.315,616,1888,2392,2938,87,.797,10517,1603,315,526,1907,61.5,20,Jake Beckley HOF,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15042,9,23.168,1,2013,8,1,0,.311,10,0,0,2,2013,0.0,1,Burch Smith,0
14860,40,23.326,0,2013,22,10,0,.543,42,7,1,5,2013,0.0,1,Engel Beltre,0
14909,0,25.171,0,2013,0,0,0,,0,0,0,0,2013,0.0,1,Chris Dwyer,0
14858,0,24.359,0,2013,0,0,0,,0,0,0,0,2013,0.0,1,Mike Belfiore,0
14854,2,26.152,0,2013,1,0,0,.000,2,0,0,1,2013,0.0,1,Brandon Bantz,0
14850,0,25.149,0,2013,4,0,0,,0,0,0,0,2013,0.0,1,Steve Ames,0
14849,140,26.137,9,2013,43,27,2,.537,152,10,0,43,2013,-0.2,1,David Adams,0
14982,34,25.067,0,2013,10,6,0,.382,34,0,0,13,2013,-0.5,1,Chris McGuiness,0
14871,0,26.032,0,2013,0,0,0,,0,0,0,0,2013,0.0,1,Ryan Brasier,0
14874,8,25.290,0,2013,6,1,0,.250,10,0,0,6,2013,0.0,1,Hiram Burgos,0
14964,0,27.174,0,2013,0,0,0,,0,0,0,0,2013,0.0,1,Chia-Jen Lo,0
14963,0,37.115,0,2013,6,0,0,,0,0,0,0,2013,0.0,1,Chang-Yong Lim,0
15000,0,23.038,0,2013,4,0,0,,0,0,0,0,2013,0.0,1,Joe Ortiz,0
14931,101,26.114,5,2013,42,24,4,.687,111,9,0,31,2013,0.0,1,Sean Halton,0
14957,1,27.144,0,2013,8,0,0,.000,1,0,0,0,2013,0.0,1,Matt Langwell,0
14886,38,32.011,1,2013,16,4,0,.260,40,1,0,15,2013,-0.2,1,Cody Clark,0
15007,26,29.313,2,2013,23,2,0,.220,28,0,0,11,2013,-0.3,1,Brock Peterson,0
14887,0,29.294,0,2013,0,0,0,,0,0,0,0,2013,0.0,1,Zach Clark,0
15013,8,25.145,1,2013,8,1,0,.472,9,3,0,1,2013,-0.1,1,Josh Prince,0
14896,3,26.035,1,2013,5,0,0,.400,5,0,0,1,2013,0.0,1,Jermaine Curtis,0
14950,6,24.197,1,2013,2,1,0,.619,7,1,0,1,2013,0.0,1,Corban Joseph,0
15020,1,28.071,0,2013,6,0,0,.000,1,0,0,0,2013,0.0,1,Ryan Reid,0
14971,0,23.191,0,2013,0,0,0,,0,0,0,0,2013,0.0,1,Brett Marshall,0
14897,0,26.349,0,2013,10,0,0,,0,0,0,0,2013,0.0,1,Erik Davis,0
15025,12,29.139,0,2013,8,2,1,.583,12,1,0,3,2013,0.0,1,Chris Robinson,0
15026,192,26.001,18,2013,102,49,0,.645,216,21,4,44,2013,0.7,1,Derrick Robinson,0
15027,0,24.205,0,2013,3,0,0,,0,0,0,0,2013,0.0,1,Mauricio Robles,0
14898,0,27.285,0,2013,0,0,0,,0,0,0,0,2013,0.0,1,Jose De La Torre,0
15041,3,23.071,1,2013,4,0,0,.250,4,0,0,1,2013,-0.1,1,Kyle Skipworth,0
14872,0,25.092,0,2013,4,0,0,,0,0,0,0,2013,0.0,1,Charles Brewer,0

In [194]:
df_careers_final.to_csv("Baseball_careers.csv")