In [1]:
import pandas as pd
import re
%matplotlib inline

In [2]:
df_NK = pd.read_csv("North Korea imports - Sheet1.csv")

In [4]:
country_names = pd.read_csv("country names - Sheet1.csv")

In [3]:
df_NK.head()

,year,country_origin_id,country_destination_id,hs92_product_id,export_val,export_val_pct
0,1995,PRK,BFA,ALL,67177.77,0.00%
1,1995,PRK,CAF,ALL,514674.15,0.00%
2,1995,PRK,CIV,ALL,58011.71,0.00%
3,1995,PRK,CMR,ALL,97669.00,0.00%
4,1995,PRK,COG,ALL,24018.39,0.00%

In [10]:
df_NK.shape

(2430, 6)

In [5]:
country_names.head()

      id id_3char         name
0  naabw      abw        Aruba
1  asafg      afg  Afghanistan
2  afago      ago       Angola
3  naaia      aia     Anguilla
4  eualb      alb      Albania

In [7]:
country_names["id_3char"] = country_names["id_3char"].str.upper()

In [8]:
country_names.head()

      id id_3char         name
0  naabw      ABW        Aruba
1  asafg      AFG  Afghanistan
2  afago      AGO       Angola
3  naaia      AIA     Anguilla
4  eualb      ALB      Albania

In [11]:
df_NK_merged = df_NK.merge(country_names, left_on = "country_destination_id", right_on = "id_3char")

In [12]:
df_NK_merged.shape

(2429, 9)

In [15]:
df_NK_merged = df_NK_merged.drop(["id", "id_3char"], 1)

In [16]:
df_NK_merged.head()

,year,country_origin_id,country_destination_id,hs92_product_id,export_val,export_val_pct,name
0,1995,PRK,BFA,ALL,67177.77,0.00%,Burkina Faso
1,1996,PRK,BFA,ALL,141525.02,0.00%,Burkina Faso
2,1997,PRK,BFA,ALL,218335.84,0.00%,Burkina Faso
3,1998,PRK,BFA,ALL,1498090.16,0.00%,Burkina Faso
4,1999,PRK,BFA,ALL,384014.99,0.00%,Burkina Faso

In [18]:
df_countries = pd.read_csv("countries.csv", encoding='latin-1')

In [19]:
df_countries.head()

  Country   Latitude  Longitude                  Name
0      AD  42.546245   1.601554               Andorra
1      AE  23.424076  53.847818  United Arab Emirates
2      AF  33.939110  67.709953           Afghanistan
3      AG  17.060816 -61.796428   Antigua and Barbuda
4      AI  18.220554 -63.068615              Anguilla

In [21]:
df_NK_merged_geo = df_NK_merged.merge(df_countries, left_on = "name", right_on = "Name")

In [22]:
df_NK_merged_geo.shape

(2336, 11)

In [26]:
df_NK_merged_geo[df_NK_merged_geo["Latitude"] == None]

Empty DataFrame
Columns: [year, country_origin_id, country_destination_id, hs92_product_id, export_val, export_val_pct, name, Country, Latitude, Longitude, Name]
Index: []

In [27]:
df_NK_merged_geo.head()

,year,country_origin_id,country_destination_id,hs92_product_id,export_val,export_val_pct,name,Country,Latitude,Longitude,Name
0,1995,PRK,BFA,ALL,67177.77,0.00%,Burkina Faso,BF,12.238333,-1.561593,Burkina Faso
1,1996,PRK,BFA,ALL,141525.02,0.00%,Burkina Faso,BF,12.238333,-1.561593,Burkina Faso
2,1997,PRK,BFA,ALL,218335.84,0.00%,Burkina Faso,BF,12.238333,-1.561593,Burkina Faso
3,1998,PRK,BFA,ALL,1498090.16,0.00%,Burkina Faso,BF,12.238333,-1.561593,Burkina Faso
4,1999,PRK,BFA,ALL,384014.99,0.00%,Burkina Faso,BF,12.238333,-1.561593,Burkina Faso

In [38]:
df_NK_merged_geo.to_csv("North_korea_imports.csv")

In [40]:
df_NK_merged_geo["export_val"].plot()