In [1]:
import requests as rq
from bs4 import BeautifulSoup
import pandas as pd
import re

In [2]:
years = [1936, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1994, 1998, 2002, 2006, 2010, 2014, 2018]

In [3]:
years_df = pd.DataFrame(years)
years_df.columns = ["Years"]
years_df["Years"] = years_df["Years"].astype(str)

In [ ]:
https://www.sports-reference.com/olympics/winter/1988/ASK/womens-downhill.html

In [4]:
urls_downhill = "https://www.sports-reference.com/olympics/winter/" + years_df["Years"] + "/ASK/womens-downhill.html"

In [6]:
pd.set_option('max_colwidth',100)

In [7]:
urls_downhill

0     https://www.sports-reference.com/olympics/winter/1936/ASK/womens-downhill.html
1     https://www.sports-reference.com/olympics/winter/1948/ASK/womens-downhill.html
2     https://www.sports-reference.com/olympics/winter/1952/ASK/womens-downhill.html
3     https://www.sports-reference.com/olympics/winter/1956/ASK/womens-downhill.html
4     https://www.sports-reference.com/olympics/winter/1960/ASK/womens-downhill.html
5     https://www.sports-reference.com/olympics/winter/1964/ASK/womens-downhill.html
6     https://www.sports-reference.com/olympics/winter/1968/ASK/womens-downhill.html
7     https://www.sports-reference.com/olympics/winter/1972/ASK/womens-downhill.html
8     https://www.sports-reference.com/olympics/winter/1976/ASK/womens-downhill.html
9     https://www.sports-reference.com/olympics/winter/1980/ASK/womens-downhill.html
10    https://www.sports-reference.com/olympics/winter/1984/ASK/womens-downhill.html
11    https://www.sports-reference.com/olympics/winter/1988/ASK/womens-downhill.html
12    https://www.sports-reference.com/olympics/winter/1992/ASK/womens-downhill.html
13    https://www.sports-reference.com/olympics/winter/1994/ASK/womens-downhill.html
14    https://www.sports-reference.com/olympics/winter/1998/ASK/womens-downhill.html
15    https://www.sports-reference.com/olympics/winter/2002/ASK/womens-downhill.html
16    https://www.sports-reference.com/olympics/winter/2006/ASK/womens-downhill.html
17    https://www.sports-reference.com/olympics/winter/2010/ASK/womens-downhill.html
18    https://www.sports-reference.com/olympics/winter/2014/ASK/womens-downhill.html
19    https://www.sports-reference.com/olympics/winter/2018/ASK/womens-downhill.html
Name: Years, dtype: object

In [8]:
list_downhill = []

for i in urls_downhill:
    response = rq.post(i)
    doc = BeautifulSoup(response.text, "html.parser")
    for n in doc.find_all("tr")[4:]:
        dictionary = {}
        rank = n.find_all("td")[0]
        if rank:
            dictionary["Rank"] = rank.text.strip()
        Athlete = n.find_all("td")[1]
        if Athlete:
            dictionary["Athlete"] = Athlete.text.strip()
        Age = n.find_all("td")[2]
        if Age:
            dictionary["Age"] = Age.text.strip()
        Country = n.find_all("td")[3]
        if Country:
            dictionary["Country"] = Country.text.strip()
        NOC = n.find_all("td")[4]
        if NOC:
            dictionary["NOC"] = NOC.text.strip()
        Medal = n.find_all("td")[5]
        if Medal:
            dictionary["Medal"] = Medal.text.strip()
        Time = n.find_all("td")[6]
        if Time:
            dictionary["Time"] = Time.text.strip()
        list_downhill.append(dictionary)

In [11]:
df_downhill = pd.DataFrame(list_downhill)

In [13]:
df_downhill["Rank"] = df_downhill["Rank"].str.replace("[A-Z]", "")

In [14]:
df_downhill.head()

  Age              Athlete      Country   Medal  NOC Rank    Time
0  24     Hedy Schlunegger  Switzerland    Gold  SUI    1  2:28.3
1  20  Trude Jochum-Beiser      Austria  Silver  AUT    2  2:29.1
2  22        Resi Hammerer      Austria  Bronze  AUT    3  2:30.2
3  27         Celina Seghi        Italy          ITA    4  2:31.1
4  28         Lina Mittner  Switzerland          SUI    5  2:31.2

In [15]:
df_downhill.to_csv("df_downhill_women.csv")

In [16]:
urls_super_g = "https://www.sports-reference.com/olympics/winter/" + years_df["Years"] + "/ASK/womens-super-g.html"

In [17]:
urls_super_g

0     https://www.sports-reference.com/olympics/winter/1936/ASK/womens-super-g.html
1     https://www.sports-reference.com/olympics/winter/1948/ASK/womens-super-g.html
2     https://www.sports-reference.com/olympics/winter/1952/ASK/womens-super-g.html
3     https://www.sports-reference.com/olympics/winter/1956/ASK/womens-super-g.html
4     https://www.sports-reference.com/olympics/winter/1960/ASK/womens-super-g.html
5     https://www.sports-reference.com/olympics/winter/1964/ASK/womens-super-g.html
6     https://www.sports-reference.com/olympics/winter/1968/ASK/womens-super-g.html
7     https://www.sports-reference.com/olympics/winter/1972/ASK/womens-super-g.html
8     https://www.sports-reference.com/olympics/winter/1976/ASK/womens-super-g.html
9     https://www.sports-reference.com/olympics/winter/1980/ASK/womens-super-g.html
10    https://www.sports-reference.com/olympics/winter/1984/ASK/womens-super-g.html
11    https://www.sports-reference.com/olympics/winter/1988/ASK/womens-super-g.html
12    https://www.sports-reference.com/olympics/winter/1992/ASK/womens-super-g.html
13    https://www.sports-reference.com/olympics/winter/1994/ASK/womens-super-g.html
14    https://www.sports-reference.com/olympics/winter/1998/ASK/womens-super-g.html
15    https://www.sports-reference.com/olympics/winter/2002/ASK/womens-super-g.html
16    https://www.sports-reference.com/olympics/winter/2006/ASK/womens-super-g.html
17    https://www.sports-reference.com/olympics/winter/2010/ASK/womens-super-g.html
18    https://www.sports-reference.com/olympics/winter/2014/ASK/womens-super-g.html
19    https://www.sports-reference.com/olympics/winter/2018/ASK/womens-super-g.html
Name: Years, dtype: object

In [18]:
list_super_g = []

for i in urls_super_g:
    response = rq.post(i)
    doc = BeautifulSoup(response.text, "html.parser")
    for n in doc.find_all("tr")[4:]:
        dictionary = {}
        rank = n.find_all("td")[0]
        if rank:
            dictionary["Rank"] = rank.text.strip()
        Athlete = n.find_all("td")[1]
        if Athlete:
            dictionary["Athlete"] = Athlete.text.strip()
        Age = n.find_all("td")[2]
        if Age:
            dictionary["Age"] = Age.text.strip()
        Country = n.find_all("td")[3]
        if Country:
            dictionary["Country"] = Country.text.strip()
        NOC = n.find_all("td")[4]
        if NOC:
            dictionary["NOC"] = NOC.text.strip()
        Medal = n.find_all("td")[5]
        if Medal:
            dictionary["Medal"] = Medal.text.strip()
        Time = n.find_all("td")[6]
        if Time:
            dictionary["Time"] = Time.text.strip()
        list_super_g.append(dictionary)

In [19]:
df_super_g_women = pd.DataFrame(list_super_g)

In [20]:
df_super_g_women["Rank"] = df_super_g_women["Rank"].str.replace("[A-Z]", "")

In [21]:
df_super_g_women.head()

  Age               Athlete       Country   Medal  NOC Rank     Time
0  23           Sigrid Wolf       Austria    Gold  AUT    1  1:19.03
1  21        Michela Figini   Switzerland  Silver  SUI    2  1:20.03
2  21           Karen Percy        Canada  Bronze  CAN    3  1:20.29
3  26  Regine MÃ¶senlechner  West Germany          FRG    4  1:20.33
4  21         Anita Wachter       Austria          AUT    5  1:20.36

In [22]:
df_super_g_women.to_csv("df_super_g_women.csv")

In [23]:
urls_giant_slalom = "https://www.sports-reference.com/olympics/winter/" + years_df["Years"] + "/ASK/womens-giant-slalom.html"

In [24]:
urls_giant_slalom

0     https://www.sports-reference.com/olympics/winter/1936/ASK/womens-giant-slalom.html
1     https://www.sports-reference.com/olympics/winter/1948/ASK/womens-giant-slalom.html
2     https://www.sports-reference.com/olympics/winter/1952/ASK/womens-giant-slalom.html
3     https://www.sports-reference.com/olympics/winter/1956/ASK/womens-giant-slalom.html
4     https://www.sports-reference.com/olympics/winter/1960/ASK/womens-giant-slalom.html
5     https://www.sports-reference.com/olympics/winter/1964/ASK/womens-giant-slalom.html
6     https://www.sports-reference.com/olympics/winter/1968/ASK/womens-giant-slalom.html
7     https://www.sports-reference.com/olympics/winter/1972/ASK/womens-giant-slalom.html
8     https://www.sports-reference.com/olympics/winter/1976/ASK/womens-giant-slalom.html
9     https://www.sports-reference.com/olympics/winter/1980/ASK/womens-giant-slalom.html
10    https://www.sports-reference.com/olympics/winter/1984/ASK/womens-giant-slalom.html
11    https://www.sports-reference.com/olympics/winter/1988/ASK/womens-giant-slalom.html
12    https://www.sports-reference.com/olympics/winter/1992/ASK/womens-giant-slalom.html
13    https://www.sports-reference.com/olympics/winter/1994/ASK/womens-giant-slalom.html
14    https://www.sports-reference.com/olympics/winter/1998/ASK/womens-giant-slalom.html
15    https://www.sports-reference.com/olympics/winter/2002/ASK/womens-giant-slalom.html
16    https://www.sports-reference.com/olympics/winter/2006/ASK/womens-giant-slalom.html
17    https://www.sports-reference.com/olympics/winter/2010/ASK/womens-giant-slalom.html
18    https://www.sports-reference.com/olympics/winter/2014/ASK/womens-giant-slalom.html
19    https://www.sports-reference.com/olympics/winter/2018/ASK/womens-giant-slalom.html
Name: Years, dtype: object

In [25]:
list_giant_slalom = []

for i in urls_giant_slalom:
    response = rq.post(i)
    doc = BeautifulSoup(response.text, "html.parser")
    for n in doc.find_all("tr")[4:]:
        dictionary = {}
        rank = n.find_all("td")[0]
        if rank:
            dictionary["Rank"] = rank.text.strip()
        Athlete = n.find_all("td")[1]
        if Athlete:
            dictionary["Athlete"] = Athlete.text.strip()
        Age = n.find_all("td")[2]
        if Age:
            dictionary["Age"] = Age.text.strip()
        Country = n.find_all("td")[3]
        if Country:
            dictionary["Country"] = Country.text.strip()
        NOC = n.find_all("td")[4]
        if NOC:
            dictionary["NOC"] = NOC.text.strip()
        Medal = n.find_all("td")[5]
        if Medal:
            dictionary["Medal"] = Medal.text.strip()
        Time = n.find_all("td")[6]
        if Time:
            dictionary["Time"] = Time.text.strip()
        list_giant_slalom.append(dictionary)

In [26]:
df_giant_slalom = pd.DataFrame(list_giant_slalom)

In [28]:
df_giant_slalom["Rank"] = df_giant_slalom["Rank"].str.replace("[A-Z]", "")

In [29]:
df_giant_slalom.head()

  Age               Athlete        Country   Medal  NOC Rank    Time
0  19  Andrea Mead-Lawrence  United States    Gold  USA    1  2:06.8
1  23            Dagmar Rom        Austria  Silver  AUT    2  2:09.0
2  27          Mirl Buchner        Germany  Bronze  GER    3  2:10.0
3  26         Trude Klecker        Austria          AUT    4  2:11.4
4  21          Katy Rodolph  United States          USA    5  2:11.7

In [30]:
df_giant_slalom.to_csv("df_giant_slalom_women.csv")

In [31]:
urls_slalom = "https://www.sports-reference.com/olympics/winter/" + years_df["Years"] + "/ASK/womens-slalom.html"

In [32]:
urls_slalom

0     https://www.sports-reference.com/olympics/winter/1936/ASK/womens-slalom.html
1     https://www.sports-reference.com/olympics/winter/1948/ASK/womens-slalom.html
2     https://www.sports-reference.com/olympics/winter/1952/ASK/womens-slalom.html
3     https://www.sports-reference.com/olympics/winter/1956/ASK/womens-slalom.html
4     https://www.sports-reference.com/olympics/winter/1960/ASK/womens-slalom.html
5     https://www.sports-reference.com/olympics/winter/1964/ASK/womens-slalom.html
6     https://www.sports-reference.com/olympics/winter/1968/ASK/womens-slalom.html
7     https://www.sports-reference.com/olympics/winter/1972/ASK/womens-slalom.html
8     https://www.sports-reference.com/olympics/winter/1976/ASK/womens-slalom.html
9     https://www.sports-reference.com/olympics/winter/1980/ASK/womens-slalom.html
10    https://www.sports-reference.com/olympics/winter/1984/ASK/womens-slalom.html
11    https://www.sports-reference.com/olympics/winter/1988/ASK/womens-slalom.html
12    https://www.sports-reference.com/olympics/winter/1992/ASK/womens-slalom.html
13    https://www.sports-reference.com/olympics/winter/1994/ASK/womens-slalom.html
14    https://www.sports-reference.com/olympics/winter/1998/ASK/womens-slalom.html
15    https://www.sports-reference.com/olympics/winter/2002/ASK/womens-slalom.html
16    https://www.sports-reference.com/olympics/winter/2006/ASK/womens-slalom.html
17    https://www.sports-reference.com/olympics/winter/2010/ASK/womens-slalom.html
18    https://www.sports-reference.com/olympics/winter/2014/ASK/womens-slalom.html
19    https://www.sports-reference.com/olympics/winter/2018/ASK/womens-slalom.html
Name: Years, dtype: object

In [33]:
list_slalom = []

for i in urls_slalom:
    response = rq.post(i)
    doc = BeautifulSoup(response.text, "html.parser")
    for n in doc.find_all("tr")[4:]:
        dictionary = {}
        rank = n.find_all("td")[0]
        if rank:
            dictionary["Rank"] = rank.text.strip()
        Athlete = n.find_all("td")[1]
        if Athlete:
            dictionary["Athlete"] = Athlete.text.strip()
        Age = n.find_all("td")[2]
        if Age:
            dictionary["Age"] = Age.text.strip()
        Country = n.find_all("td")[3]
        if Country:
            dictionary["Country"] = Country.text.strip()
        NOC = n.find_all("td")[4]
        if NOC:
            dictionary["NOC"] = NOC.text.strip()
        Medal = n.find_all("td")[5]
        if Medal:
            dictionary["Medal"] = Medal.text.strip()
        Time = n.find_all("td")[6]
        if Time:
            dictionary["Time"] = Time.text.strip()
        list_slalom.append(dictionary)

In [34]:
df_slalom_women = pd.DataFrame(list_slalom)

In [35]:
df_slalom_women["Rank"] = df_slalom_women["Rank"].str.replace("[A-Z]", "")

In [36]:
df_slalom_women.head()

  Age                       Athlete        Country   Medal  NOC Rank    Time
0  28               Gretchen Fraser  United States    Gold  USA    1  1:57.2
1  27              Antoinette Meyer    Switzerland  Silver  SUI    2  1:57.7
2  23               Erika Mahringer        Austria  Bronze  AUT    3  1:58.0
3  27  Georgette Miller-ThiolliÃ¨re         France          FRA    4  1:58.8
4  21                  RenÃ©e Clerc    Switzerland          SUI    5  2:05.8

In [37]:
df_slalom_women.to_csv("df_slalom_women.csv")

In [38]:
urls_combine = "https://www.sports-reference.com/olympics/winter/" + years_df["Years"] + "/ASK/womens-combined.html"

In [39]:
urls_combine

0     https://www.sports-reference.com/olympics/winter/1936/ASK/womens-combined.html
1     https://www.sports-reference.com/olympics/winter/1948/ASK/womens-combined.html
2     https://www.sports-reference.com/olympics/winter/1952/ASK/womens-combined.html
3     https://www.sports-reference.com/olympics/winter/1956/ASK/womens-combined.html
4     https://www.sports-reference.com/olympics/winter/1960/ASK/womens-combined.html
5     https://www.sports-reference.com/olympics/winter/1964/ASK/womens-combined.html
6     https://www.sports-reference.com/olympics/winter/1968/ASK/womens-combined.html
7     https://www.sports-reference.com/olympics/winter/1972/ASK/womens-combined.html
8     https://www.sports-reference.com/olympics/winter/1976/ASK/womens-combined.html
9     https://www.sports-reference.com/olympics/winter/1980/ASK/womens-combined.html
10    https://www.sports-reference.com/olympics/winter/1984/ASK/womens-combined.html
11    https://www.sports-reference.com/olympics/winter/1988/ASK/womens-combined.html
12    https://www.sports-reference.com/olympics/winter/1992/ASK/womens-combined.html
13    https://www.sports-reference.com/olympics/winter/1994/ASK/womens-combined.html
14    https://www.sports-reference.com/olympics/winter/1998/ASK/womens-combined.html
15    https://www.sports-reference.com/olympics/winter/2002/ASK/womens-combined.html
16    https://www.sports-reference.com/olympics/winter/2006/ASK/womens-combined.html
17    https://www.sports-reference.com/olympics/winter/2010/ASK/womens-combined.html
18    https://www.sports-reference.com/olympics/winter/2014/ASK/womens-combined.html
19    https://www.sports-reference.com/olympics/winter/2018/ASK/womens-combined.html
Name: Years, dtype: object

In [40]:
list_combine = []

for i in urls_combine:
    response = rq.post(i)
    doc = BeautifulSoup(response.text, "html.parser")
    for n in doc.find_all("tr")[4:]:
        dictionary = {}
        rank = n.find_all("td")[0]
        if rank:
            dictionary["Rank"] = rank.text.strip()
        Athlete = n.find_all("td")[1]
        if Athlete:
            dictionary["Athlete"] = Athlete.text.strip()
        Age = n.find_all("td")[2]
        if Age:
            dictionary["Age"] = Age.text.strip()
        Country = n.find_all("td")[3]
        if Country:
            dictionary["Country"] = Country.text.strip()
        NOC = n.find_all("td")[4]
        if NOC:
            dictionary["NOC"] = NOC.text.strip()
        Medal = n.find_all("td")[5]
        if Medal:
            dictionary["Medal"] = Medal.text.strip()
        Time = n.find_all("td")[6]
        if Time:
            dictionary["Time"] = Time.text.strip()
        list_combine.append(dictionary)

In [41]:
df_combine_women = pd.DataFrame(list_combine)

In [42]:
df_combine_women["Rank"] = df_combine_women["Rank"].str.replace("[A-Z]", "")

In [44]:
df_combine_women.to_csv("df_combine_women.csv")

In [45]:
df_combine_women.head()

  Age             Athlete      Country   Medal  NOC Rank   Time
0  21       Christl Cranz      Germany    Gold  GER    1  97.06
1  18    KÃ¤the Grasegger      Germany  Silver  GER    2  95.26
2  16  Laila Schou Nilsen       Norway  Bronze  NOR    3  93.48
3  18         Erna Steuri  Switzerland          SUI    4  92.36
4  29        Hadi Pfeifer      Germany          GER    5  91.85

In [46]:
df_downhill_women_years = pd.read_csv("df_downhill_women - df_downhill_women.csv")

In [47]:
df_downhill_women_years.head()

   Age              Athlete      Country   Medal  NOC  Rank    Time  Year
0   24     Hedy Schlunegger  Switzerland    Gold  SUI   1.0  2:28.3  1948
1   20  Trude Jochum-Beiser      Austria  Silver  AUT   2.0  2:29.1  1948
2   22        Resi Hammerer      Austria  Bronze  AUT   3.0  2:30.2  1948
3   27         Celina Seghi        Italy     NaN  ITA   4.0  2:31.1  1948
4   28         Lina Mittner  Switzerland     NaN  SUI   5.0  2:31.2  1948

In [48]:
df_super_g_women_years = pd.read_csv("df_super_g_women - df_super_g_women.csv")

In [49]:
df_super_g_women_years.head()

   Age               Athlete       Country   Medal  NOC  Rank     Time  Year
0   23           Sigrid Wolf       Austria    Gold  AUT   1.0  1:19.03  1988
1   21        Michela Figini   Switzerland  Silver  SUI   2.0  1:20.03  1988
2   21           Karen Percy        Canada  Bronze  CAN   3.0  1:20.29  1988
3   26  Regine MÃ¶senlechner  West Germany     NaN  FRG   4.0  1:20.33  1988
4   21         Anita Wachter       Austria     NaN  AUT   5.0  1:20.36  1988

In [50]:
df_giant_slalom_women_years = pd.read_csv("df_giant_slalom_women - df_giant_slalom_women.csv")

In [51]:
df_giant_slalom_women_years.head()

   Age               Athlete        Country   Medal  NOC  Rank    Time  Year
0   19  Andrea Mead-Lawrence  United States    Gold  USA   1.0  2:06.8  1952
1   23            Dagmar Rom        Austria  Silver  AUT   2.0  2:09.0  1952
2   27          Mirl Buchner        Germany  Bronze  GER   3.0  2:10.0  1952
3   26         Trude Klecker        Austria     NaN  AUT   4.0  2:11.4  1952
4   21          Katy Rodolph  United States     NaN  USA   5.0  2:11.7  1952

In [52]:
df_slalom_women_years = pd.read_csv("df_slalom_women - df_slalom_women.csv")

In [53]:
df_slalom_women_years.head()

,Age,Athlete,Country,Medal,NOC,Rank,Time,Year
0,28,Gretchen Fraser,United States,Gold,USA,1.0,1:57.2,1948
1,27,Antoinette Meyer,Switzerland,Silver,SUI,2.0,1:57.7,1948
2,23,Erika Mahringer,Austria,Bronze,AUT,3.0,1:58.0,1948
3,27,Georgette Miller-ThiolliÃ¨re,France,NaN,FRA,4.0,1:58.8,1948
4,21,RenÃ©e Clerc,Switzerland,NaN,SUI,5.0,2:05.8,1948

In [54]:
df_combine_women_years = pd.read_csv("df_combine_women - df_combine_women.csv")

In [56]:
df_combine_women_years.head()

   Age             Athlete      Country   Medal  NOC  Rank   Time  Year
0   21       Christl Cranz      Germany    Gold  GER   1.0  97.06  1936
1   18    KÃ¤the Grasegger      Germany  Silver  GER   2.0  95.26  1936
2   16  Laila Schou Nilsen       Norway  Bronze  NOR   3.0  93.48  1936
3   18         Erna Steuri  Switzerland     NaN  SUI   4.0  92.36  1936
4   29        Hadi Pfeifer      Germany     NaN  GER   5.0  91.85  1936

In [57]:
df_combine_women_years["Type"] = "Combine"
df_slalom_women_years["Type"] = "Slalom"
df_super_g_women_years["Type"] = "Super G"
df_downhill_women_years["Type"] = "Downhill"
df_giant_slalom_women_years["Type"] = "Giant Slalom"

In [58]:
women_olypmics_skiing = df_downhill_women_years.append(df_combine_women_years)

In [59]:
 women_olypmics_skiing= women_olypmics_skiing.append(df_slalom_women_years)

In [60]:
women_olypmics_skiing = women_olypmics_skiing.append(df_super_g_women_years)

In [61]:
women_olypmics_skiing = women_olypmics_skiing.append(df_giant_slalom_women_years)

In [63]:
women_olypmics_skiing["Gender"] = "Women"

In [64]:
women_olypmics_skiing.to_csv("women_olypmics_skiing.csv")