In [1]:
import pandas as pd
import re

In [2]:
Transportation_grant = pd.read_csv("check.csv")

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2683: DtypeWarning: Columns (8,10,19,20,31,34,35,36,37,38,39,41,42,43,45,46,49,50,67) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
Transportation_grant["Year"] = Transportation_grant["Award Date"].str.split("-", 1, expand = True)[0]

In [4]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [5]:
Transportation_grant[Transportation_grant["Funding Org:Name"] == "Department for Transport"].groupby("Year")["Amount Awarded"].sum()

Year
2011      1570621.000
2012   3747040226.000
2013        46543.000
Name: Amount Awarded, dtype: float64

In [6]:
Transportation_grant.groupby(["Funding Org:Name", "Year"])["Amount Awarded"].sum().reset_index().sort_values(by = "Amount Awarded", ascending = False)

                             Funding Org:Name  Year  Amount Awarded
19                   Department for Transport  2012  3747040226.000
137                        The Wellcome Trust  2014    20410408.000
130                        The Wellcome Trust  2007    19003084.000
131                        The Wellcome Trust  2008    14892587.000
106                      The Big Lottery Fund  2013    14884366.530
133                        The Wellcome Trust  2010    12486346.000
140                        The Wellcome Trust  2017    11784644.000
135                        The Wellcome Trust  2012    10622905.000
105                      The Big Lottery Fund  2012    10423844.470
132                        The Wellcome Trust  2009     9493932.000
102                      The Big Lottery Fund  2009     9264834.000
98                       The Big Lottery Fund  2005     8878628.000
104                      The Big Lottery Fund  2011     8618343.000
100                      The Big Lottery Fund  2007     8592343.000
138                        The Wellcome Trust  2015     8501111.000
134                        The Wellcome Trust  2011     8419839.000
139                        The Wellcome Trust  2016     8255631.000
109                      The Big Lottery Fund  2016     7306200.000
101                      The Big Lottery Fund  2008     7266040.000
136                        The Wellcome Trust  2013     7114472.000
129                        The Wellcome Trust  2006     6931125.000
97                       The Big Lottery Fund  2004     5769754.000
99                       The Big Lottery Fund  2006     5500065.000
103                      The Big Lottery Fund  2010     4790310.000
110                      The Big Lottery Fund  2017     4509557.000
108                      The Big Lottery Fund  2015     3867357.000
40                Lloyd's Register Foundation  2013     3174768.988
107                      The Big Lottery Fund  2014     2634649.000
38                Lloyd's Register Foundation  2010     2300000.000
128                        The Wellcome Trust  2005     1971294.000
..                                        ...   ...             ...
114                       The Dulverton Trust  2008        3000.000
166                 Woodward Charitable Trust  2015        3000.000
116                       The Dulverton Trust  2010        2500.000
164                 Woodward Charitable Trust  2013        2500.000
34      Heart Of England Community Foundation  2016        2330.000
65                             One Manchester  2016        2080.000
159                 Woodward Charitable Trust  2006        2000.000
111                       The Dulverton Trust  2005        2000.000
37                 Joseph Rowntree Foundation  2018        1860.000
94                              Sport England  2014        1800.000
167                 Woodward Charitable Trust  2016        1500.000
96                              Staples Trust  2017        1500.000
160                 Woodward Charitable Trust  2007        1500.000
156                 Woodward Charitable Trust  2002        1500.000
122                  The Henry Smith Charity   2016        1250.000
162                 Woodward Charitable Trust  2011        1000.000
49                            London Catalyst  2014        1000.000
155                 Woodward Charitable Trust  2000        1000.000
153                 Woodward Charitable Trust  1997        1000.000
66                        Oxford City Council  2014        1000.000
67                        Oxford City Council  2015        1000.000
68                        Oxford City Council  2016        1000.000
69                        Oxford City Council  2017         750.000
157                 Woodward Charitable Trust  2004         500.000
33                      Greenham Common Trust  2015         500.000
71           Oxfordshire Community Foundation  2013         500.000
168                 Woodward Charitable Trust  2017         500.000
142  Trafford Housing Trust Social Investment  2016         200.000
152                        Wolfson Foundation  2016           0.000
150                        Wolfson Foundation  2014           0.000

[169 rows x 3 columns]

In [7]:
Transportation_grant.head()

,Identifier,Title,Description,Currency,Amount Applied For,Amount Awarded,Amount Disbursed,Award Date,URL,Planned Dates:Start Date,...,Publisher:Name,Recipient Region,Recipient District,Recipient District Geographic Code,Recipient Ward,Recipient Ward Geographic Code,Retrieved for use in GrantNav,License (see note),"Note, this file also contains OS data © Crown copyright and database right 2016, Royal Mail data © Royal Mail copyright and Database right 2016, National Statistics data © Crown copyright and database right 2015 & 2016, see http://grantnav.threesixtygiving.org/datasets/ for more information.",Year
0,360G-CFSurrey-A420217,ACB Community Allotment project,Equipment and small items for a start-up allot...,GBP,2000.000,2000.000,nan,2016-10-19T00:00:00+00:00,http://www.ageconcernbanstead.org.uk,2016-11-01T00:00:00+00:00,...,Community Foundation for Surrey,NaN,NaN,NaN,NaN,NaN,2018-07-05T10:54:31+00:00,https://creativecommons.org/licenses/by/4.0/,nan,2016
1,360G-CFSurrey-A433860,Men's Shed Project - Coordinators Salary,A Project Coordinators Salary for the Men in S...,GBP,10000.000,4000.000,nan,2017-02-23T00:00:00+00:00,http://www.ageconcernmrr.org.uk,2017-06-01T00:00:00+00:00,...,Community Foundation for Surrey,NaN,NaN,NaN,NaN,NaN,2018-07-05T10:54:31+00:00,https://creativecommons.org/licenses/by/4.0/,nan,2017
2,360G-CFSurrey-A400577,Minibus operating costs,Maintenance and running expenses of a charity'...,GBP,1729.000,1729.000,nan,2016-04-25T00:00:00+00:00,NaN,2016-01-01T00:00:00+00:00,...,Community Foundation for Surrey,NaN,NaN,NaN,NaN,NaN,2018-07-05T10:54:31+00:00,https://creativecommons.org/licenses/by/4.0/,nan,2016
3,360G-CFSurrey-A430194,Weekend Lunches,To support the cost of providing a monthly Sun...,GBP,3848.640,3848.000,nan,2017-01-19T00:00:00+00:00,http://farnham-assist.org.uk,2017-01-08T00:00:00+00:00,...,Community Foundation for Surrey,NaN,NaN,NaN,NaN,NaN,2018-07-05T10:54:31+00:00,https://creativecommons.org/licenses/by/4.0/,nan,2017
4,360G-CFSurrey-A412720,Rose Theatre Trip,Outing for a group of 40 elderly members of Me...,GBP,1143.000,1143.000,nan,2016-07-01T00:00:00+00:00,http://oatlandschurch.org.uk,2016-10-13T00:00:00+00:00,...,Community Foundation for Surrey,NaN,NaN,NaN,NaN,NaN,2018-07-05T10:54:31+00:00,https://creativecommons.org/licenses/by/4.0/,nan,2016