In [7]:
import pandas as pd
%matplotlib inline
import re

In [2]:
Friends_finished = pd.read_csv("Friends_finished_4.csv")

In [4]:
Friends_finished.drop("Unnamed: 0", 1, inplace = True)

In [9]:
Friends_finished["Scripts"]

False    57856
True      1785
Name: Scripts, dtype: int64

In [11]:
Friends_finished = Friends_finished.loc[Friends_finished['Character'].isin(["monica", "rachel", "ross", "chandler", "joey", "phoebe"])]

In [15]:
Monica = Friends_finished[Friends_finished["Character"] == "monica"]
Ross = Friends_finished[Friends_finished["Character"] == "ross"]
Joey = Friends_finished[Friends_finished["Character"] == "joey"]
Rachel = Friends_finished[Friends_finished["Character"] == "rachel"]
Chandler = Friends_finished[Friends_finished["Character"] == "chandler"]
Phoebe = Friends_finished[Friends_finished["Character"] == "phoebe"]

In [ ]:
Monica["Scripts"] = Monica["Scripts"].str.lower()

In [35]:
Monica["Ross"] = Monica["Scripts"].str.contains("ross") 
Monica["Chandler"] = Monica["Scripts"].str.contains("chandler")
Monica["Joey"] = Monica["Scripts"].str.contains("joey")
Monica["Rachel"] = Monica["Scripts"].str.contains("rachel")
Monica["Phoebe"] = Monica["Scripts"].str.contains("phoebe")

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [38]:
Monica_mentions = Monica["Ross"].value_counts().reset_index()

In [40]:
Monica_mentions["Chandler"] = Monica["Chandler"].value_counts()
Monica_mentions["Rachel"] = Monica["Rachel"].value_counts()
Monica_mentions["Joey"] = Monica["Joey"].value_counts()
Monica_mentions["Ross"] = Monica["Ross"].value_counts()
Monica_mentions["Phoebe"] = Monica["Phoebe"].value_counts()

In [44]:
Monica_mentions = Monica_mentions[Monica_mentions["index"] != False]

In [45]:
Monica_mentions

   index  Ross  Chandler  Rachel  Joey  Phoebe
1   True   267       454     294   291     341

In [62]:
Ross["Scripts"] = Ross["Scripts"].str.lower()

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [66]:
Ross["Monica"] = Ross["Scripts"].str.contains("monica") 
Ross["Chandler"] = Ross["Scripts"].str.contains("chandler")
Ross["Joey"] = Ross["Scripts"].str.contains("joey")
Ross["Rachel"] = Ross["Scripts"].str.contains("rachel")
Ross["Phoebe"] = Ross["Scripts"].str.contains("phoebe")

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [68]:
Ross_mentions = Ross["Chandler"].value_counts().reset_index()

In [69]:
Ross_mentions["Rachel"] = Ross["Rachel"].value_counts()
Ross_mentions["Joey"] = Ross["Joey"].value_counts()
Ross_mentions["Monica"] = Ross["Monica"].value_counts()
Ross_mentions["Phoebe"] = Ross["Phoebe"].value_counts()

In [72]:
Ross_mentions = Ross_mentions[Ross_mentions["index"] != False]

In [73]:
Ross_mentions

   index  Chandler  Rachel  Joey  Monica  Phoebe
1   True       251     398   285     197     161

In [74]:
Joey["Scripts"] = Joey["Scripts"].str.lower()

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [80]:
Joey["Monica"] = Joey["Scripts"].str.contains("monica") 
Joey["Chandler"] = Joey["Scripts"].str.contains("chandler")
Joey["Ross"] = Joey["Scripts"].str.contains("ross")
Joey["Rachel"] = Joey["Scripts"].str.contains("rachel")
Joey["Phoebe"] = Joey["Scripts"].str.contains("phoebe")

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [81]:
Joey_mentions = Joey["Chandler"].value_counts().reset_index()

In [82]:
Joey_mentions

   index  Chandler
0  False      7479
1   True       403

In [83]:
Joey_mentions["Rachel"] = Joey["Rachel"].value_counts()
Joey_mentions["Ross"] = Joey["Ross"].value_counts()
Joey_mentions["Monica"] = Joey["Monica"].value_counts()
Joey_mentions["Phoebe"] = Joey["Phoebe"].value_counts()

In [86]:
Joey_mentions = Joey_mentions[Joey_mentions["index"] != False]

In [87]:
Joey_mentions

   index  Chandler  Rachel  Ross  Monica  Phoebe
1   True       403     198   426     200     141

In [89]:
Rachel["Scripts"] = Rachel["Scripts"].str.lower()

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [91]:
Rachel["Monica"] = Rachel["Scripts"].str.contains("monica") 
Rachel["Chandler"] = Rachel["Scripts"].str.contains("chandler")
Rachel["Ross"] = Rachel["Scripts"].str.contains("ross")
Rachel["Joey"] = Rachel["Scripts"].str.contains("joey")
Rachel["Phoebe"] = Rachel["Scripts"].str.contains("phoebe")

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [94]:
Rachel_mentions = Rachel["Monica"].value_counts().reset_index()

Rachel_mentions

   index  Monica
0  False    8559
1   True     326

In [97]:
Rachel_mentions["Joey"] = Rachel["Joey"].value_counts()
Rachel_mentions["Ross"] = Rachel["Ross"].value_counts()
Rachel_mentions["Chandler"] = Rachel["Chandler"].value_counts()
Rachel_mentions["Phoebe"] = Rachel["Phoebe"].value_counts()

In [100]:
Rachel_mentions = Rachel_mentions[Rachel_mentions["index"] != False]

In [101]:
Rachel_mentions

   index  Monica  Joey  Ross  Phoebe  Chandler
1   True     326   403   665     286       200

In [103]:
Chandler["Scripts"] = Chandler["Scripts"].str.lower()

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [105]:
Chandler["Monica"] = Chandler["Scripts"].str.contains("monica") 
Chandler["Joey"] = Chandler["Scripts"].str.contains("joey")
Chandler["Ross"] = Chandler["Scripts"].str.contains("ross")
Chandler["Rachel"] = Chandler["Scripts"].str.contains("rachel")
Chandler["Phoebe"] = Chandler["Scripts"].str.contains("phoebe")

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [107]:
Chandler_mentions = Chandler["Monica"].value_counts().reset_index()

In [108]:
Chandler_mentions["Joey"] = Chandler["Joey"].value_counts()
Chandler_mentions["Ross"] = Chandler["Ross"].value_counts()
Chandler_mentions["Rachel"] = Chandler["Rachel"].value_counts()
Chandler_mentions["Phoebe"] = Chandler["Phoebe"].value_counts()

In [111]:
Chandler_mentions = Chandler_mentions[Chandler_mentions["index"] != False]

In [112]:
Chandler_mentions

   index  Monica  Joey  Ross  Rachel  Phoebe
1   True     380   374   293     132     128

In [113]:
Phoebe["Scripts"] = Phoebe["Scripts"].str.lower()

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [115]:
Phoebe["Monica"] = Phoebe["Scripts"].str.contains("monica") 
Phoebe["Joey"] = Phoebe["Scripts"].str.contains("joey")
Phoebe["Ross"] = Phoebe["Scripts"].str.contains("ross")
Phoebe["Rachel"] = Phoebe["Scripts"].str.contains("rachel")
Phoebe["Chandler"] = Phoebe["Scripts"].str.contains("chandler")

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [117]:
Phoebe_mentions = Phoebe["Monica"].value_counts().reset_index()

In [118]:
Phoebe_mentions["Joey"] = Phoebe["Joey"].value_counts()
Phoebe_mentions["Ross"] = Phoebe["Ross"].value_counts()
Phoebe_mentions["Rachel"] = Phoebe["Rachel"].value_counts()
Phoebe_mentions["Chandler"] = Phoebe["Chandler"].value_counts()

In [121]:
Phoebe_mentions = Phoebe_mentions[Phoebe_mentions["index"] != False]

In [122]:
Phoebe_mentions

   index  Monica  Joey  Ross  Rachel  Chandler
1   True     289   211   251     247       210

In [124]:
Phoebe_mentions_long = Phoebe_mentions.melt(var_name='Character', value_name='Count', id_vars=['index'])

In [129]:
Phoebe_mentions_long["index"] = Phoebe_mentions_long["index"].astype(str).str.replace("True", "Phoebe")

In [130]:
Phoebe_mentions_long

    index Character  Count
0  Phoebe    Monica    289
1  Phoebe      Joey    211
2  Phoebe      Ross    251
3  Phoebe    Rachel    247
4  Phoebe  Chandler    210

In [133]:
Joey_mentions_long = Joey_mentions.melt(var_name='Character', value_name='Count', id_vars=['index'])

In [135]:
Joey_mentions_long["index"] = Joey_mentions_long["index"].astype(str).str.replace("True", "Joey")

In [136]:
Joey_mentions_long

  index Character  Count
0  Joey  Chandler    403
1  Joey    Rachel    198
2  Joey      Ross    426
3  Joey    Monica    200
4  Joey    Phoebe    141

In [139]:
Rachel_mentions_long = Rachel_mentions.melt(var_name='Character', value_name='Count', id_vars=['index'])

In [141]:
Rachel_mentions_long["index"] = Rachel_mentions_long["index"].astype(str).str.replace("True", "Rachel")

In [142]:
Rachel_mentions_long

    index Character  Count
0  Rachel    Monica    326
1  Rachel      Joey    403
2  Rachel      Ross    665
3  Rachel    Phoebe    286
4  Rachel  Chandler    200

In [144]:
Ross_mentions_long = Ross_mentions.melt(var_name='Character', value_name='Count', id_vars=['index'])

In [146]:
Ross_mentions_long["index"] = Ross_mentions_long["index"].astype(str).str.replace("True", "Ross")

In [147]:
Ross_mentions_long

  index Character  Count
0  Ross  Chandler    251
1  Ross    Rachel    398
2  Ross      Joey    285
3  Ross    Monica    197
4  Ross    Phoebe    161

In [149]:
Monica_mentions_long = Monica_mentions.melt(var_name='Character', value_name='Count', id_vars=['index'])

In [151]:
Monica_mentions_long["index"] = Monica_mentions_long["index"].astype(str).str.replace("True", "Monica")

In [152]:
Monica_mentions_long

    index Character  Count
0  Monica      Ross    267
1  Monica  Chandler    454
2  Monica    Rachel    294
3  Monica      Joey    291
4  Monica    Phoebe    341

In [155]:
Chandler_mentions = Chandler_mentions.melt(var_name='Character', value_name='Count', id_vars=['index'])

In [157]:
Chandler_mentions["index"] = Chandler_mentions["index"].astype(str).str.replace("True", "Chandler")

In [158]:
Chandler_mentions

      index Character  Count
0  Chandler    Monica    380
1  Chandler      Joey    374
2  Chandler      Ross    293
3  Chandler    Rachel    132
4  Chandler    Phoebe    128

In [160]:
Character_mentions = Chandler_mentions.append(Monica_mentions_long)

In [162]:
Character_mentions = Character_mentions.append(Ross_mentions_long)

In [165]:
Character_mentions = Character_mentions.append(Rachel_mentions_long)

In [167]:
Character_mentions = Character_mentions.append(Joey_mentions_long)

In [170]:
Character_mentions = Character_mentions.append(Phoebe_mentions_long)

In [172]:
Character_mentions.to_csv("Character_mentions.csv")