In [1]:
import pandas as pd
import re

In [2]:
arms_transfer = pd.read_csv("arms_transfer_geo.csv")

In [3]:
arms_transfer.head()

,Unnamed: 0,Exporter,Importer,Years,Millions,Latitude_exp,Longitude_exp,Latitude_imp,Longitude_imp
0,0,United States,Afghanistan,1950,0.0,37.09024,-95.712891,33.939110,67.709953
1,1,United States,Algeria,1950,0.0,37.09024,-95.712891,28.033886,1.659626
2,2,United States,Angola,1950,0.0,37.09024,-95.712891,-11.202692,17.873887
3,3,United States,Argentina,1950,70.0,37.09024,-95.712891,-38.416097,-63.616672
4,4,United States,Australia,1950,0.0,37.09024,-95.712891,-25.274398,133.775136

In [6]:
arms_transfer_filtered = arms_transfer[arms_transfer["Years"] > 2011]

In [8]:
arms_transfer_filtered_grouped = arms_transfer_filtered.groupby(["Exporter", "Importer", "Latitude_exp", "Longitude_exp", "Latitude_imp", "Longitude_imp"])["Millions"].sum().reset_index()

In [10]:
arms_transfer_filtered_grouped.to_csv("arms_transfer_2012_2016.csv")