In [1]:
import requests as rq
from bs4 import BeautifulSoup
import pandas as pd
import re
%matplotlib inline
import numpy as np

In [2]:
df_enrollment = pd.read_csv("Ryerson enrollment.csv")

In [3]:
df_enrollment.head()

,Program [1],Full-time Equivalent Students (FFTE) [2],Number of Students [3],% with full-time load [4],Inter- national Students [5],Year,Department
0,Arts and Contemporary Studies,365.9,424,75.00%,4.0,2016-2017,Arts
1,Criminology,480.3,515,85.00%,1.0,2016-2017,Arts
2,Double Major,16.7,17,94.10%,NaN,2016-2017,Arts
3,English,368,410,84.90%,3.0,2016-2017,Arts
4,Environment & Urban Sustainability,275,293,87.00%,13.0,2016-2017,Arts

In [4]:
df_enrollment = df_enrollment[df_enrollment["Program [1]"] != "Ted Rogers School of Management"]
df_enrollment = df_enrollment[df_enrollment["Program [1]"] != "Communication and Design"]
df_enrollment = df_enrollment[df_enrollment["Program [1]"] != "Community Services"]
df_enrollment = df_enrollment[df_enrollment["Program [1]"] != "Engineering and Architectural Science"]
df_enrollment = df_enrollment[df_enrollment["Program [1]"] != "Science"]
df_enrollment = df_enrollment[df_enrollment["Program [1]"] != "Arts"]
df_enrollment = df_enrollment[df_enrollment["Program [1]"] != "Business"]
df_enrollment = df_enrollment[df_enrollment["Program [1]"] != "Engineering and Applied Science"]
df_enrollment = df_enrollment[df_enrollment["Program [1]"] != "Graphic Communication Management"]

In [5]:
df_enrollment.dtypes

Program [1]                                  object
Full-time Equivalent Students (FFTE) [2]     object
Number of Students [3]                       object
% with full-time load [4]                    object
Inter- \nnational Students [5]              float64
Year                                         object
Department                                   object
dtype: object

In [6]:
df_enrollment["Number of Students [3]"] = df_enrollment["Number of Students [3]"].str.replace(",", "")
df_enrollment["Full-time Equivalent Students (FFTE) [2]"] = df_enrollment["Full-time Equivalent Students (FFTE) [2]"].str.replace(",", "")

In [7]:
df_enrollment["Number of Students [3]"] = df_enrollment["Number of Students [3]"].astype(float)

In [8]:
df_enrollment.sort_values(by = "Number of Students [3]", ascending = False)

,Program [1],Full-time Equivalent Students (FFTE) [2],Number of Students [3],% with full-time load [4],Inter- national Students [5],Year,Department
17,Business Management,5702.50,6088.0,81.00%,206.0,2016-2017,TRSM
99,Business Management,5697.40,6040.0,81.10%,169.0,2015-2016,TRSM
264,Business Management,5657.40,6009.0,80.90%,152.0,2013-2014,Ted Rogers School of Management
181,Business Management,5659.80,5981.0,80.80%,145.0,2014-2015,TRSM
344,Business Management,5487.30,5903.0,81.70%,132.0,2012-2013,TRSM
417,Business Management,5238.30,5636.0,79.90%,128.0,2011-2012,TRSM
490,Business Management,4936.50,5285.0,77.8,137.0,2010-2011,TRSM
564,Business Management,4636.80,4921.0,80.3,131.0,2009-2010,TRSM
639,Business Management,null,4251.0,80.5,131.0,2008-2009,TRSM
715,Business Management,3746.00,3828.0,81.7,139.0,2007-2008,TRSM
789,Business Management,3656.70,3709.0,83.6,121.0,2006-2007,TRSM
864,Business Management,3105.40,3482.0,86.9,112.0,2005-2006,TRSM
932,Business Management,2921.90,3060.0,74.8,90.0,2004-2005,TRSM
997,Business Management (FT),2462.60,2771.0,77.4,71.0,2003-2004,TRSM
1058,Business Management (FT),2076.30,2355.0,74.7,44.0,2002-2003,TRSM
1166,Business Management (FT),1939.00,2226.0,74.2,34.0,2000-2001,TRSM
1113,Business Management (FT),1942.60,2215.0,74.3,36.0,2001-2002,TRSM
102,Business Technology Management (4-year program),1572.00,1682.0,59.20%,35.0,2015-2016,TRSM
20,Business Technology Management (4-year program),1550.60,1678.0,NaN,42.0,2016-2017,TRSM
1000,Information Technology Management (FT),1501.80,1620.0,69.6,36.0,2003-2004,TRSM
184,Business Technology Management (4-year program),1494.40,1610.0,60.00%,27.0,2014-2015,TRSM
267,Business Technology Management (4-year program),1427.90,1514.0,58.60%,23.0,2013-2014,Ted Rogers School of Management
1061,Information Technology Management (FT),1409.40,1472.0,73.9,20.0,2002-2003,TRSM
935,Information Technology Management (4-year prog...,1385.10,1437.0,66.9,40.0,2004-2005,TRSM
347,Business Technology Management (4-year program),1280.40,1394.0,57.20%,22.0,2012-2013,TRSM
420,Business Technology Management (4-year program),1211.40,1341.0,51.20%,25.0,2011-2012,TRSM
867,Information Technology Management (4-year prog...,1264.9,1326.0,80,52.0,2005-2006,TRSM
493,Business Technology Management (4-year program),1155.60,1233.0,79,27.0,2010-2011,TRSM
792,Information Technology Management (4-year prog...,1154.30,1194.0,77.5,48.0,2006-2007,TRSM
716,Business Management (PT),652,1153.0,18.6,13.0,2007-2008,TRSM
...,...,...,...,...,...,...,...
825,Nurse Practitioner (FT) (2-year Program),1.8,9.0,NaN,NaN,2006-2007,Community Services
1064,Retail Management (PT),4,8.0,NaN,NaN,2002-2003,TRSM
495,Business Technology Management (2-year program),8.1,8.0,37.5,0.0,2010-2011,TRSM
597,Nurse Practitioner (FT) (2-year Program),9.9,8.0,0,0.0,2009-2010,Community Services
638,Administration and Information Management (PT),null,8.0,0,NaN,2008-2009,TRSM
896,Critical Care Nursing (PT),1.5,8.0,NaN,NaN,2005-2006,Community Services
542,Computer Science (PT),2.2,7.0,0,0.0,2010-2011,Engineering and Applied Science
899,Nurse Practitioner (FT) (2-year Program),0.8,7.0,NaN,NaN,2005-2006,Community Services
473,Computer Science (PT),3.2,6.0,16.70%,NaN,2011-2012,Science
90,Justice Studies (PT),2,6.0,NaN,NaN,2015-2016,Arts
967,Nurse Practitioner (FT) (2-year Program),7.8,6.0,NaN,NaN,2004-2005,Community Services
964,Critical Care Nursing (PT),1.1,5.0,NaN,NaN,2004-2005,Community Services
563,Administration and Information Management (PT),4.3,5.0,20,0.0,2009-2010,TRSM
617,Computer Science (PT),2,4.0,0,0.0,2009-2010,Engineering and Applied Science
400,Computer Science (PT),2.2,4.0,NaN,NaN,2012-2013,Science
1018,Critical Care Nursing (PT),0.6,4.0,NaN,NaN,2003-2004,Community Services
296,Nurse Practitioner (FT) (2-year Program),1.7,4.0,NaN,NaN,2013-2014,Community Services
489,Administration and Information Management (PT),1.7,4.0,0,0.0,2010-2011,TRSM
172,Justice Studies (PT),2.1,4.0,NaN,NaN,2014-2015,Arts
654,Journalism (2-Year Program),null,3.0,66.7,NaN,2008-2009,Communication and Design
862,Administration and Information Management,0.5,3.0,NaN,NaN,2005-2006,TRSM
214,Nurse Practitioner (FT) (2-year Program),1.1,3.0,NaN,NaN,2014-2015,Community Services
628,Diploma in Arts,null,3.0,66.7,NaN,2008-2009,Arts
822,Critical Care Nursing (PT),1,2.0,0,NaN,2006-2007,Community Services
930,Administration and Information Management,0.7,1.0,100,NaN,2004-2005,TRSM
553,Diploma in Arts,0.6,1.0,0,0.0,2009-2010,Arts
533,Applied Chemistry and Biology,0.5,1.0,0,0.0,2010-2011,Engineering and Applied Science
598,Nurse Practitioner (PT) (2-year Program),4.6,0.0,0,0.0,2009-2010,Community Services
787,Administration and Information Management,0.6,NaN,NaN,NaN,2006-2007,TRSM
806,Radio and Television Arts (2-year Program),0.1,NaN,NaN,NaN,2006-2007,Communication and Design

In [9]:
df_enrollment[df_enrollment["Full-time Equivalent Students (FFTE) [2]"] == "null"]

,Program [1],Full-time Equivalent Students (FFTE) [2],Number of Students [3],% with full-time load [4],Inter- national Students [5],Year,Department
626,Arts and Contemporary Studies,null,501.0,86.4,6.0,2008-2009,Arts
627,Criminal Justice,null,350.0,88.6,2.0,2008-2009,Arts
628,Diploma in Arts,null,3.0,66.7,NaN,2008-2009,Arts
629,Geographical Analysis,null,234.0,72.2,3.0,2008-2009,Arts
630,International Economics,null,216.0,60.6,11.0,2008-2009,Arts
631,Justice Studies (PT),null,46.0,17.4,NaN,2008-2009,Arts
632,Politics and Governance,null,231.0,87,2.0,2008-2009,Arts
633,Psychology,null,356.0,87.9,3.0,2008-2009,Arts
634,Public Administration (PT),null,253.0,4,1.0,2008-2009,Arts
635,Social Science - undeclared,null,86.0,90.7,1.0,2008-2009,Arts
636,Sociology,null,241.0,87.1,4.0,2008-2009,Arts
638,Administration and Information Management (PT),null,8.0,0,NaN,2008-2009,TRSM
639,Business Management,null,4251.0,80.5,131.0,2008-2009,TRSM
640,Business Management (PT),null,1039.0,18.7,13.0,2008-2009,TRSM
641,Hospitality and Tourism Management,null,627.0,76.9,47.0,2008-2009,TRSM
642,Information Technology Management (4-year prog...,null,1054.0,76.6,35.0,2008-2009,TRSM
643,Information Technology Management (PT) (4-year...,null,357.0,11.5,3.0,2008-2009,TRSM
644,Information Technology Management (2-year prog...,null,17.0,64.7,NaN,2008-2009,TRSM
645,Information Technology Management (PT) (2-year...,null,15.0,13.3,NaN,2008-2009,TRSM
646,Retail Management,null,319.0,59.2,10.0,2008-2009,TRSM
647,Retail Management (PT),null,41.0,22,2.0,2008-2009,TRSM
649,Fashion,null,576.0,86.8,8.0,2008-2009,Communication and Design
651,Image Arts,null,663.0,82.2,11.0,2008-2009,Communication and Design
652,Interior Design,null,379.0,82.1,14.0,2008-2009,Communication and Design
653,Journalism (4-Year Program),null,551.0,91.5,11.0,2008-2009,Communication and Design
654,Journalism (2-Year Program),null,3.0,66.7,NaN,2008-2009,Communication and Design
655,Radio and Television Arts,null,625.0,89.1,10.0,2008-2009,Communication and Design
656,Theatre - Acting,null,92.0,91.3,NaN,2008-2009,Communication and Design
657,Theatre - Dance,null,123.0,95.1,3.0,2008-2009,Communication and Design
658,Theatre - Technical Production,null,212.0,94.3,2.0,2008-2009,Communication and Design
...,...,...,...,...,...,...,...
670,Nursing (Cent/GB years 3 & 4),null,596.0,89.4,2.0,2008-2009,Community Services
671,Nursing Post (FT) (2-Year Program),null,173.0,38.7,2.0,2008-2009,Community Services
672,Nursing Post (PT) (2-year Program),null,704.0,12.2,1.0,2008-2009,Community Services
673,Nurse Practitioner (FT) (2-year Program),null,12.0,0,NaN,2008-2009,Community Services
674,Nurse Practitioner (PT) (2-year Program),null,12.0,0,NaN,2008-2009,Community Services
675,Nutrition and Food,null,407.0,65.8,10.0,2008-2009,Community Services
676,Occupational and Public Health (4-year Program),null,312.0,73.7,2.0,2008-2009,Community Services
677,Occupational and Public Health (2-year Program),null,151.0,53,2.0,2008-2009,Community Services
678,Social Work,null,674.0,69.7,4.0,2008-2009,Community Services
679,Social Work (PT),null,140.0,35.7,NaN,2008-2009,Community Services
680,Urban and Regional Planning (4-year program),null,300.0,84.3,4.0,2008-2009,Community Services
681,Urban and Regional Planning (2-year program),null,47.0,97.9,NaN,2008-2009,Community Services
683,Aerospace Engineering,null,370.0,76.2,38.0,2008-2009,Engineering and Applied Science
684,Applied Chemistry and Biology,null,34.0,52.9,4.0,2008-2009,Engineering and Applied Science
685,Architectural Science,null,627.0,77.7,30.0,2008-2009,Engineering and Applied Science
686,Biology,null,467.0,71.1,21.0,2008-2009,Engineering and Applied Science
687,Biomedical Engineering,null,68.0,85.3,7.0,2008-2009,Engineering and Applied Science
688,Chemical Engineering,null,278.0,62.9,17.0,2008-2009,Engineering and Applied Science
689,Chemistry,null,143.0,79,4.0,2008-2009,Engineering and Applied Science
690,Civil Engineering,null,416.0,72.6,40.0,2008-2009,Engineering and Applied Science
691,Computer Engineering,null,226.0,61.5,17.0,2008-2009,Engineering and Applied Science
692,Computer Science,null,422.0,77.3,19.0,2008-2009,Engineering and Applied Science
693,Computer Science (PT),null,9.0,11.1,NaN,2008-2009,Engineering and Applied Science
694,Comtemporary Science - undeclared,null,107.0,78.5,3.0,2008-2009,Engineering and Applied Science
695,Electrical Engineering,null,522.0,61.1,36.0,2008-2009,Engineering and Applied Science
696,Engineering - undeclared,null,64.0,78.1,6.0,2008-2009,Engineering and Applied Science
697,Industrial Engineering,null,136.0,67.6,13.0,2008-2009,Engineering and Applied Science
698,Mathematics,null,16.0,75,3.0,2008-2009,Engineering and Applied Science
699,Mechanical Engineering,null,573.0,72.3,54.0,2008-2009,Engineering and Applied Science
700,Medical Physics,null,115.0,73.9,4.0,2008-2009,Engineering and Applied Science

In [10]:
df_enrollment["Full-time Equivalent Students (FFTE) [2]"] = df_enrollment["Full-time Equivalent Students (FFTE) [2]"].replace("null", np.nan)

In [11]:
df_enrollment["Full-time Equivalent Students (FFTE) [2]"] = df_enrollment["Full-time Equivalent Students (FFTE) [2]"].astype(float)

In [16]:
df_enrollment_Department_grouped_year = df_enrollment.groupby(["Year", "Department"])["Number of Students [3]"].sum().reset_index()

In [26]:
df_enrollment_Department_grouped_year[(df_enrollment_Department_grouped_year["Year"] == "2009-2010") | (df_enrollment_Department_grouped_year["Year"] == "2016-2017")]

         Year                             Department  Number of Students [3]
44  2009-2010                                   Arts                  2828.0
45  2009-2010               Communication and Design                  3232.0
46  2009-2010                     Community Services                  6072.0
47  2009-2010        Engineering and Applied Science                  4758.0
48  2009-2010                                   TRSM                  8167.0
84  2016-2017                                   Arts                  4457.0
85  2016-2017               Communication and Design                  4729.0
86  2016-2017                     Community Services                  6552.0
87  2016-2017  Engineering and Architectural Science                  5085.0
88  2016-2017                                Science                  2886.0
89  2016-2017                                   TRSM                 10792.0

In [17]:
df_enrollment_Department_grouped_year

         Year                             Department  Number of Students [3]
0   2000-2001                                   Arts                   585.0
1   2000-2001               Communication and Design                  2637.0
2   2000-2001                     Community Services                  3197.0
3   2000-2001        Engineering and Applied Science                  3563.0
4   2000-2001                                   TRSM                  4926.0
5   2001-2002                                   Arts                   694.0
6   2001-2002               Communication and Design                  2701.0
7   2001-2002                     Community Services                  3292.0
8   2001-2002        Engineering and Applied Science                  3727.0
9   2001-2002                                   TRSM                  5145.0
10  2002-2003                                   Arts                   715.0
11  2002-2003               Communication and Design                  2817.0
12  2002-2003                     Community Services                  3550.0
13  2002-2003        Engineering and Applied Science                  3891.0
14  2002-2003                                   TRSM                  5650.0
15  2003-2004                                   Arts                  1004.0
16  2003-2004                     Community Services                  4332.0
17  2003-2004        Engineering and Applied Science                  4136.0
18  2003-2004       Graphic Communication Management                  2454.0
19  2003-2004                                   TRSM                  6863.0
20  2004-2005               Communication and Design                  3179.0
21  2004-2005                     Community Services                  4906.0
22  2004-2005        Engineering and Applied Science                  5301.0
23  2004-2005                                   TRSM                  6553.0
24  2005-2006                                   Arts                  1692.0
25  2005-2006               Communication and Design                  3369.0
26  2005-2006                     Community Services                  5479.0
27  2005-2006        Engineering and Applied Science                  4248.0
28  2005-2006                                   TRSM                  7068.0
29  2006-2007                                   Arts                  1917.0
..        ...                                    ...                     ...
60  2012-2013                                   Arts                  3600.0
61  2012-2013               Communication and Design                  3488.0
62  2012-2013                     Community Services                  6149.0
63  2012-2013  Engineering and Architectural Science                  4038.0
64  2012-2013                                Science                  1818.0
65  2012-2013                                   TRSM                  9577.0
66  2013-2014                                   Arts                  3860.0
67  2013-2014               Communication and Design                  3829.0
68  2013-2014                     Community Services                  6179.0
69  2013-2014  Engineering and Architectural Science                  4259.0
70  2013-2014                                Science                  2096.0
71  2013-2014        Ted Rogers School of Management                 10078.0
72  2014-2015                                   Arts                  4070.0
73  2014-2015               Communication and Design                  4137.0
74  2014-2015                     Community Services                  6296.0
75  2014-2015  Engineering and Architectural Science                  4590.0
76  2014-2015                                Science                  2371.0
77  2014-2015                                   TRSM                 10365.0
78  2015-2016                                   Arts                  4314.0
79  2015-2016               Communication and Design                  4439.0
80  2015-2016                     Community Services                  6401.0
81  2015-2016  Engineering and Architectural Science                  4912.0
82  2015-2016                                Science                  2604.0
83  2015-2016                                   TRSM                 10545.0
84  2016-2017                                   Arts                  4457.0
85  2016-2017               Communication and Design                  4729.0
86  2016-2017                     Community Services                  6552.0
87  2016-2017  Engineering and Architectural Science                  5085.0
88  2016-2017                                Science                  2886.0
89  2016-2017                                   TRSM                 10792.0

[90 rows x 3 columns]

In [12]:
df_enrollment_grouped_year = df_enrollment.groupby("Year")["Number of Students [3]", "Full-time Equivalent Students (FFTE) [2]"].sum()

In [13]:
df_enrollment_grouped_year

           Number of Students [3]  Full-time Equivalent Students (FFTE) [2]
Year
2000-2001                 14908.0                                   12693.3
2001-2002                 15559.0                                   13300.6
2002-2003                 16623.0                                   14165.7
2003-2004                 18789.0                                   16198.0
2004-2005                 19939.0                                   17744.9
2005-2006                 21856.0                                   18850.0
2006-2007                 22510.0                                   19444.5
2007-2008                 23054.0                                   19736.2
2008-2009                 24051.0                                       NaN
2009-2010                 25057.0                                   21834.4
2010-2011                 26203.0                                   22800.3
2011-2012                 27529.0                                   23710.8
2012-2013                 28670.0                                   24975.5
2013-2014                 30301.0                                   26842.6
2014-2015                 31829.0                                   28407.0
2015-2016                 33215.0                                   29934.6
2016-2017                 34501.0                                   30957.1