In [1]:
import requests as rq
from bs4 import BeautifulSoup
import pandas as pd
import re

In [2]:
df = pd.read_csv("US Mass shootings - Sheet1.csv")

In [3]:
cities_us = pd.read_csv("US_cities.csv")

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2683: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
cities_us.head()

,Country,City,AccentCity,Region,Population,Latitude,Longitude
2907718,us,abanda,Abanda,AL,NaN,33.100833,-85.529722
2907719,us,abbeville,Abbeville,AL,NaN,31.571667,-85.250556
2907720,us,abbot springs,Abbot Springs,AL,NaN,33.360833,-86.481667
2907721,us,abel,Abel,AL,NaN,33.548611,-85.712500
2907722,us,abercrombie,Abercrombie,AL,NaN,32.848611,-87.165000

In [6]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

In [7]:
us_state_abbrev=pd.Series(us_state_abbrev, name='Code')

In [8]:
us_state_abbrev = us_state_abbrev.reset_index()

In [9]:
us_state_abbrev.head()

        index Code
0     Alabama   AL
1      Alaska   AK
2     Arizona   AZ
3    Arkansas   AR
4  California   CA

In [10]:
df_merged =df.merge(us_state_abbrev, left_on="State", right_on="index", how="left")

In [11]:
df_merged.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured,Year,index,Code
0,31-Dec-13,New York,Brooklyn,60 Glenmore Ave,0,6,2013,New York,NY
1,28-Dec-13,Alabama,Montgomery,954 Highland Ave,3,5,2013,Alabama,AL
2,26-Dec-13,Louisiana,Slidell,2144 First St,2,6,2013,Louisiana,LA
3,26-Dec-13,Louisiana,Lockport,313 Tenth St,3,3,2013,Louisiana,LA
4,25-Dec-13,New Jersey,Irvington,Nye Avenue and 21st Street,3,2,2013,New Jersey,NJ

In [12]:
df_merged.drop("index",1,inplace=True)

In [13]:
df_merged.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured,Year,Code
0,31-Dec-13,New York,Brooklyn,60 Glenmore Ave,0,6,2013,NY
1,28-Dec-13,Alabama,Montgomery,954 Highland Ave,3,5,2013,AL
2,26-Dec-13,Louisiana,Slidell,2144 First St,2,6,2013,LA
3,26-Dec-13,Louisiana,Lockport,313 Tenth St,3,3,2013,LA
4,25-Dec-13,New Jersey,Irvington,Nye Avenue and 21st Street,3,2,2013,NJ

In [14]:
df_merged["City Or County"] = df_merged["City Or County"].str.replace("\(.*\)", "")

In [15]:
df_merged["City Or County"] = df_merged["City Or County"].str.strip()

In [16]:
df_merged_lon_lat = df_merged.merge(cities_us, left_on=["City Or County", "Code"], right_on=["AccentCity","Region"], how="left")

In [17]:
df_merged_lon_lat.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured,Year,Code,Country,City,AccentCity,Region,Population,Latitude,Longitude
0,31-Dec-13,New York,Brooklyn,60 Glenmore Ave,0,6,2013,NY,us,brooklyn,Brooklyn,NY,NaN,40.650000,-73.950000
1,28-Dec-13,Alabama,Montgomery,954 Highland Ave,3,5,2013,AL,us,montgomery,Montgomery,AL,198325.0,32.366667,-86.300000
2,26-Dec-13,Louisiana,Slidell,2144 First St,2,6,2013,LA,us,slidell,Slidell,LA,27799.0,30.275000,-89.781111
3,26-Dec-13,Louisiana,Lockport,313 Tenth St,3,3,2013,LA,us,lockport,Lockport,LA,NaN,29.645833,-90.539167
4,25-Dec-13,New Jersey,Irvington,Nye Avenue and 21st Street,3,2,2013,NJ,us,irvington,Irvington,NJ,61323.0,40.732222,-74.235278

In [18]:
df_merged_lon_lat["test"] = df_merged_lon_lat["Latitude"].isnull()

In [19]:
df_merged_lon_lat[df_merged_lon_lat["test"] == True]

,Incident Date,State,City Or County,Address,# Killed,# Injured,Year,Code,Country,City,AccentCity,Region,Population,Latitude,Longitude,test
32,05-Nov-13,District of Columbia,Washington,3900 block of Minnesota Ave,0,4,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
70,16-Sep-13,District of Columbia,Washington Navy Yard,1336 Isaac Hull Ave,11,3,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
75,12-Sep-13,District of Columbia,Washington,First Street and Pierce Street NW,1,3,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
121,13-Jul-13,District of Columbia,Washington,2700 block of Stanton Road,0,4,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
164,02-Jun-13,Georgia,Lagrange,Union Street,0,7,2013,GA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
221,11-Mar-13,District of Columbia,Washington,1200 North Capitol Street,0,13,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
239,03-Feb-13,California,Yuba,5800 block of Poplar Avenue,1,3,2013,CA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
242,26-Jan-13,District of Columbia,Washington,2403 Benning Road Northeast,0,5,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
252,01-Jan-13,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,2013,PA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
257,26-Dec-14,Illinois,East St. Louis,2500 block of Summit Avenue,1,3,2014,IL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
282,23-Nov-14,Virginia,Accomack County,Parksley Road,0,4,2014,VA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
302,18-Oct-14,New York,Queens,33-02 Queens Blvd,0,4,2014,NY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
322,26-Sep-14,South Carolina,Darlington County,600 block of Turner Road,1,4,2014,SC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
324,20-Sep-14,Mississippi,Panola County,NaN,2,2,2014,MS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
325,19-Sep-14,New York,Queens,32-14 106th St,0,4,2014,NY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
347,17-Aug-14,New York,Queens,153-38 118th Ave,0,4,2014,NY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
355,12-Aug-14,Georgia,Bartow County,Brent Circle,2,3,2014,GA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
358,10-Aug-14,District of Columbia,Washington,N Street SW,0,6,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
363,08-Aug-14,District of Columbia,Washington,Second Street and Todd Place NE,0,4,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
389,13-Jul-14,District of Columbia,Washington,1700 block of Lincoln Road NE,0,4,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
413,28-Jun-14,New York,Manhattan,Fifth Avenue and West 139th Street,0,4,2014,NY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
422,21-Jun-14,District of Columbia,Washington,Florida Avenue and U Street NW,0,4,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
447,17-May-14,District of Columbia,Washington,2200 block of Adams Place NE,0,5,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
466,14-Apr-14,District of Columbia,Washington,1500 block of 19th Street,0,4,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
469,09-Apr-14,Tennessee,Lookout Valley,Kellys Ferry Road and Kellys Ferry Place,3,1,2014,TN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
477,02-Apr-14,Texas,Fort Hood,Motor Pool Road and Tank Destroyer Boulevard,4,16,2014,TX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
499,16-Feb-14,Florida,Orange County,4500 block of Riviera Shores,1,6,2014,FL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
524,03-Jan-14,New York,Queens,Farmers Boulevard and 133rd Avenue,1,3,2014,NY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
534,20-Dec-15,Florida,Miami-dade,Northeast Seventh Avenue and Northeast 166th S...,0,4,2015,FL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
538,12-Dec-15,Illinois,Lovejoy,307 Jefferson St,1,3,2015,IL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
578,25-Oct-15,District of Columbia,Washington,4300 block of Wheeler Road SE,0,5,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
641,20-Aug-15,Texas,Grulla,FM 2360,2,2,2015,TX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
702,04-Jul-15,District of Columbia,Washington,2600 Douglas Place SE,1,3,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
708,29-Jun-15,Florida,Opa Locka,13450 NW 30th Ave,0,4,2015,FL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
818,01-Mar-15,Florida,Orange County,4900 block of Steyr Street,0,4,2015,FL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
837,31-Jan-15,Georgia,Lagrange,100 block of Woodstream Trail,4,0,2015,GA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
838,28-Jan-15,Georgia,Dekalb County,1600 block of Panola Road,1,3,2015,GA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
951,01-Oct-16,Illinois,Pembroke Township,17250E Road,4,0,2016,IL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
954,26-Sep-16,North Carolina,Winston Salem,100 block of 5 Royales Dr,0,4,2016,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
966,17-Sep-16,District of Columbia,Washington,2600 block of Birney Place SE,2,7,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
979,08-Sep-16,Arkansas,Hot Springs National Park,300 block of Lacey St,1,4,2016,AR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1063,11-Jul-16,District of Columbia,Washington,"5100 block of Call Pl., SE",0,4,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1093,22-Jun-16,Georgia,Dekalb,Lancashire Drive and Central Drive,1,4,2016,GA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1113,08-Jun-16,District of Columbia,Washington,North Capitol Street and New York Avenue NW,0,4,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1230,03-Feb-16,District of Columbia,Washington,1500 block of Butler St. SE,0,4,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1238,08-Jan-16,District of Columbia,Washington,1700 East Capitol Street Northeast,0,4,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1304,03-Aug-17,District of Columbia,Washington,3426 18th St NE,1,3,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1347,25-Jun-17,District of Columbia,Washington,5900 block of Southern Ave SE,0,4,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1354,18-Jun-17,District of Columbia,Washington,3100 block of Buena Vista Terrace SE,0,4,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1373,06-Jun-17,Utah,Sandy,2232 Alta Canyon Drive,3,2,2017,UT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1386,27-May-17,District of Columbia,Washington,100 block of Q Street Northwest,1,7,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1490,31-Jan-17,District of Columbia,Washington,2900 block of Martin Luther King Jr Ave,0,4,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [20]:
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Washington", 'Latitude'] = "47.751076"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Washington", 'Longitude'] = "-120.740135"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Sandy", 'Latitude'] = "40.571563"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Sandy", 'Longitude'] = "-111.852286"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Dekalb", 'Latitude'] = "33.7956"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Dekalb", 'Longitude'] = "-84.2279"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Dekalb County", 'Latitude'] = "33.7956"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Dekalb County", 'Longitude'] = "-84.2279"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Lagrange", 'Latitude'] = "33.037880"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Lagrange", 'Longitude'] = "-85.030060"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Yuba", 'Latitude'] = "39.136986"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Yuba", 'Longitude'] = "-121.607841"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Mckeesport", 'Latitude'] = "40.3470671"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Mckeesport", 'Longitude'] = "-79.8641232"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "East St. Louis", 'Latitude'] = "38.624514"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "East St. Louis", 'Longitude'] = "-90.1506465"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Accomack County", 'Latitude'] = "37.7501289"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Accomack County", 'Longitude'] = "-75.6663182"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Queens", 'Latitude'] = "40.742054"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Queens", 'Longitude'] = "-73.769417"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Darlington County", 'Latitude'] = "34.3650"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Darlington County", 'Longitude'] = "-80.0088"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Panola County", 'Latitude'] = "32.1920"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Panola County", 'Longitude'] = "-94.3154"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Bartow County", 'Latitude'] = "34.1659305"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Bartow County", 'Longitude'] = "-84.797716"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Manhattan", 'Latitude'] = "40.758896"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Manhattan", 'Longitude'] = "-73.985130"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Lookout Valley", 'Latitude'] = "34.9939646"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Lookout Valley", 'Longitude'] = "-85.3746811"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Fort Hood", 'Latitude'] = "31.2548307"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Fort Hood", 'Longitude'] = "-97.709127"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Orange County", 'Latitude'] = "33.7174708"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Orange County", 'Longitude'] = "-117.83114280000001"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Miami-dade", 'Latitude'] = "25.778135"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Miami-dade", 'Longitude'] = "-80.179100"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Lovejoy", 'Latitude'] = "40.5369809"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Lovejoy", 'Longitude'] = "-87.7039152"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Grulla", 'Latitude'] = "26.285343"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Grulla", 'Longitude'] = "-98.644474"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Opa Locka", 'Latitude'] = "25.9023168"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Opa Locka", 'Longitude'] = "-80.25032709999999"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Pembroke Township", 'Latitude'] = "45.81681"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Pembroke Township", 'Longitude'] = "-77.11616"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Winston Salem", 'Latitude'] = "36.099861"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Winston Salem", 'Longitude'] = "-80.244217"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Hot Springs National Park", 'Latitude'] = "34.5313219"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Hot Springs National Park", 'Longitude'] = "-93.0637411"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Washington Navy Yard", 'Latitude'] = "38.8746334"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Washington Navy Yard", 'Longitude'] = "-76.9945473"

In [21]:
df_merged_lon_lat.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured,Year,Code,Country,City,AccentCity,Region,Population,Latitude,Longitude,test
0,31-Dec-13,New York,Brooklyn,60 Glenmore Ave,0,6,2013,NY,us,brooklyn,Brooklyn,NY,NaN,40.65,-73.95,False
1,28-Dec-13,Alabama,Montgomery,954 Highland Ave,3,5,2013,AL,us,montgomery,Montgomery,AL,198325.0,32.3667,-86.3,False
2,26-Dec-13,Louisiana,Slidell,2144 First St,2,6,2013,LA,us,slidell,Slidell,LA,27799.0,30.275,-89.7811,False
3,26-Dec-13,Louisiana,Lockport,313 Tenth St,3,3,2013,LA,us,lockport,Lockport,LA,NaN,29.6458,-90.5392,False
4,25-Dec-13,New Jersey,Irvington,Nye Avenue and 21st Street,3,2,2013,NJ,us,irvington,Irvington,NJ,61323.0,40.7322,-74.2353,False

In [22]:
df_merged_lon_lat.drop(["Region", "Population", "City", "AccentCity", "Region"],1, inplace = True)

In [23]:
df_merged_lon_lat.columns = ["Date", "State", "City", "Address", "Killed", "Injured", "Year", "Code", "Country", "Latitude", "Longitude", "test"]

In [24]:
df_merged_lon_lat["Latitude"] = df_merged_lon_lat["Latitude"].astype(float)
df_merged_lon_lat["Longitude"] = df_merged_lon_lat["Longitude"].astype(float)

In [31]:
df_merged_lon_lat.sort_values(by="Killed", ascending = False)

,Date,State,City,Address,Killed,Injured,Year,Code,Country,Latitude,Longitude,test
1247,01-Oct-17,Nevada,Las Vegas,3950 Las Vegas Blvd S,59,241,2017,NV,us,36.175,-115.136,False
1106,12-Jun-16,Florida,Orlando,1912 S Orange Avenue,50,53,2016,FL,us,28.5381,-81.3794,False
544,02-Dec-15,California,San Bernardino,1365 South Waterman Avenue,16,19,2015,CA,us,34.1083,-117.289,False
70,16-Sep-13,District of Columbia,Washington Navy Yard,1336 Isaac Hull Ave,11,3,2013,NaN,NaN,38.8746,-76.9945,True
592,01-Oct-15,Oregon,Roseburg,1140 Umpqua College Rd,10,9,2015,OR,us,43.2167,-123.341,False
1269,10-Sep-17,Texas,Plano,1712 West Spring Creek Parkway,9,1,2017,TX,us,33.0197,-96.6986,False
762,17-May-15,Texas,Waco,4671 S Jack Kultgen Fwy,9,18,2015,TX,us,31.5492,-97.1464,False
722,17-Jun-15,South Carolina,Charleston,110 Calhoun Street,9,0,2015,SC,us,32.7764,-79.9311,False
655,08-Aug-15,Texas,Houston,2211 Falling Oaks,8,0,2015,TX,us,29.7631,-95.3631,False
326,18-Sep-14,Florida,Bell,NW 30th Street and NW 39th Terrace,8,0,2014,FL,us,29.7553,-82.8628,False
1164,22-Apr-16,Ohio,Piketon,4077 Union Hill Road,8,0,2016,OH,us,39.0681,-83.0144,False
821,26-Feb-15,Missouri,Tyrone,18279 Highway H,8,1,2015,MO,us,37.2033,-91.8764,False
1387,27-May-17,Mississippi,Bogue Chitto,2871 Lee Drive,8,1,2017,MS,us,31.4386,-90.4522,False
109,26-Jul-13,Florida,Hialeah,1485 W 46th St,7,0,2013,FL,us,25.8572,-80.2783,False
1165,22-Apr-16,Georgia,Appling,3162 Johnson Drive,6,0,2016,GA,us,33.5458,-82.3161,False
609,17-Sep-15,South Dakota,Geddes,36705 379th Street,6,0,2015,SD,us,43.2536,-98.695,False
163,07-Jun-13,California,Santa Monica,2036 Yorkshire Avenue,6,1,2013,CA,us,34.0194,-118.49,False
1214,20-Feb-16,Michigan,Kalamazoo,5581 Cracker Barrel Blvd,6,2,2016,MI,us,42.2917,-85.5872,False
393,09-Jul-14,Texas,Spring,711 Leaflet Ln,6,1,2014,TX,us,30.0797,-95.4169,False
685,16-Jul-15,Tennessee,Chattanooga,4051 Amnicola Highway,6,2,2015,TN,us,35.0456,-85.3097,False
1232,27-Jan-16,Virginia,Chesapeake,1401 N. George Washington Hwy,6,0,2016,VA,us,36.8189,-76.2753,False
1374,05-Jun-17,Florida,Orlando,2427 Forsyth Rd,6,0,2017,FL,us,28.5381,-81.3794,False
198,24-Apr-13,Illinois,Manchester,East Street,6,1,2013,IL,us,39.5422,-90.3322,False
219,13-Mar-13,New York,Mohawk,17 W Main St,6,2,2013,NY,us,43.0114,-75.0044,False
959,23-Sep-16,Washington,Burlington,201 Cascade Mall Dr,5,0,2016,WA,us,48.4758,-122.324,False
767,12-May-15,Arizona,Tucson,800 block of West Calle Medina Road,5,0,2015,AZ,us,32.2217,-110.926,False
62,20-Sep-13,Texas,Rice,700 block of NW 0149,5,0,2013,TX,us,32.2436,-96.4983,False
368,03-Aug-14,Virginia,Culpeper,4400 block of Rixeyville Road,5,0,2014,VA,us,38.4731,-77.9969,False
1020,06-Aug-16,Pennsylvania,Reading,51 Winding Brook Drive,5,0,2016,PA,us,40.3356,-75.9272,False
201,21-Apr-13,Washington,Federal Way,33300 block of 18th Lane South,5,0,2013,WA,us,47.3225,-122.311,False
...,...,...,...,...,...,...,...,...,...,...,...,...
692,14-Jul-15,Missouri,Saint Louis,1100 block of Riverview,0,4,2015,MO,us,38.6272,-90.1978,False
690,15-Jul-15,Michigan,Detroit,9200 block of Memorial,0,4,2015,MI,us,42.3314,-83.0458,False
666,30-Jul-15,Pennsylvania,Pittsburgh,Brushton Avenue,0,4,2015,PA,us,40.4406,-79.9961,False
644,16-Aug-15,Illinois,Chicago,5400 block of West Division Street,0,4,2015,IL,us,41.85,-87.65,False
645,16-Aug-15,South Carolina,Bennettsville,Highway 38N,0,5,2015,SC,us,34.6172,-79.685,False
647,15-Aug-15,California,Los Angeles,57th Street and South Normandie Avenue,0,4,2015,CA,us,34.0522,-118.243,False
649,10-Aug-15,California,Long Beach,1700 block of East 10th Street,0,4,2015,CA,us,33.7669,-118.188,False
652,09-Aug-15,Missouri,Kansas City,40th Street and Pennsylvania Avenue,0,4,2015,MO,us,39.0997,-94.5783,False
657,06-Aug-15,South Carolina,Columbia,1505 Garden Plaza,0,4,2015,SC,us,34.0006,-81.035,False
659,03-Aug-15,New York,Brooklyn,98 Dwight Street,0,5,2015,NY,us,40.65,-73.95,False
660,02-Aug-15,New York,Brooklyn,Stanley Avenue and Crescent Street,0,9,2015,NY,us,40.65,-73.95,False
661,02-Aug-15,Maryland,Baltimore,2700 block of Garrison Avenue,0,7,2015,MD,us,39.2903,-76.6125,False
663,02-Aug-15,Georgia,Savannah,Barnard Street,0,5,2015,GA,us,32.0833,-81.1,False
664,02-Aug-15,Illinois,Chicago,6700 block of South Winchester Avenue,0,4,2015,IL,us,41.85,-87.65,False
665,01-Aug-15,Florida,Orlando,5801 Shenandoah Way,0,4,2015,FL,us,28.5381,-81.3794,False
667,27-Jul-15,Illinois,Rockford,900 block of Kent Street,0,5,2015,IL,us,42.2711,-89.0939,False
689,15-Jul-15,Ohio,Cleveland,700 block of Thornhill,0,7,2015,OH,us,41.4994,-81.6956,False
669,26-Jul-15,Louisiana,New Orleans,Piety and Treasure street,0,4,2015,LA,us,29.9544,-90.075,False
670,25-Jul-15,Virginia,Hopewell,500 block of N. 7th Ave,0,4,2015,VA,us,37.3042,-77.2875,False
675,20-Jul-15,New York,Bronx,E. 153rd St. and the Grand Concourse,0,6,2015,NY,us,40.85,-73.8667,False
676,19-Jul-15,Virginia,Suffolk,100 block of North Capitol Street,0,4,2015,VA,us,36.7281,-76.5839,False
677,19-Jul-15,Kentucky,Louisville,2928 W Kentucky St,0,6,2015,KY,us,38.2542,-85.7594,False
678,19-Jul-15,North Carolina,Rocky Mount,Interstate 64 and Raliegh Street,0,4,2015,NC,us,35.9381,-77.7908,False
679,18-Jul-15,California,San Diego,200 block of South Bancroft Street,0,4,2015,CA,us,32.7153,-117.156,False
680,18-Jul-15,California,Santa Paula,Ojai-Santa Paula Street,0,5,2015,CA,us,34.3542,-119.058,False
683,17-Jul-15,Illinois,Chicago,4400 block of W. Maypole,0,5,2015,IL,us,41.85,-87.65,False
684,17-Jul-15,Ohio,Cincinnati,3100 block of Sunshine Avenue,0,4,2015,OH,us,39.1619,-84.4569,False
686,16-Jul-15,Texas,Dallas,Singleton and Hampton,0,5,2015,TX,us,32.7833,-96.8,False
687,15-Jul-15,Georgia,Atlanta,500 block of Center Hill Avenue,0,5,2015,GA,us,33.7489,-84.3881,False
1519,01-Jan-17,Florida,Miami,8000 block of NW 14th Ave,0,7,2017,FL,us,25.7739,-80.1939,False

In [26]:
df_merged_lon_lat[df_merged_lon_lat["City"] == "Pembroke Township"]

,Date,State,City,Address,Killed,Injured,Year,Code,Country,Latitude,Longitude,test
951,01-Oct-16,Illinois,Pembroke Township,17250E Road,4,0,2016,IL,NaN,45.81681,-77.11616,True

In [27]:
df_merged_lon_lat.loc[df_merged_lon_lat["City"] == "Pembroke Township", 'Latitude'] = "41.0667"
df_merged_lon_lat.loc[df_merged_lon_lat["City"] == "Pembroke Township", 'Longitude'] = "-87.6250348"

In [30]:
df_merged_lon_lat

,Date,State,City,Address,Killed,Injured,Year,Code,Country,Latitude,Longitude,test
0,31-Dec-13,New York,Brooklyn,60 Glenmore Ave,0,6,2013,NY,us,40.65,-73.95,False
1,28-Dec-13,Alabama,Montgomery,954 Highland Ave,3,5,2013,AL,us,32.3667,-86.3,False
2,26-Dec-13,Louisiana,Slidell,2144 First St,2,6,2013,LA,us,30.275,-89.7811,False
3,26-Dec-13,Louisiana,Lockport,313 Tenth St,3,3,2013,LA,us,29.6458,-90.5392,False
4,25-Dec-13,New Jersey,Irvington,Nye Avenue and 21st Street,3,2,2013,NJ,us,40.7322,-74.2353,False
5,25-Dec-13,New York,Medford,33A Cedarhurst Ave,1,3,2013,NY,us,40.8175,-73.0006,False
6,22-Dec-13,Michigan,Muskegon,2300 block of W McMillan Rd,1,3,2013,MI,us,43.2342,-86.2483,False
7,21-Dec-13,North Carolina,Shelby,Jose Street,0,4,2013,NC,us,35.2922,-81.5358,False
8,21-Dec-13,New Jersey,Trenton,Jersey Street and Home Avenue,1,4,2013,NJ,us,40.2169,-74.7433,False
9,15-Dec-13,Florida,Homestead,7th Avenue and 13th Terrace,1,3,2013,FL,us,25.4683,-80.4778,False
10,15-Dec-13,Texas,Channelview,900 block of Ashland Boulevard,0,5,2013,TX,us,29.7758,-95.1144,False
11,14-Dec-13,North Carolina,Statesville,167 Wallace Springs,0,4,2013,NC,us,35.7825,-80.8875,False
12,07-Dec-13,Delaware,Wilmington,3421 Kirkwood Hwy,0,4,2013,DE,us,39.7458,-75.5469,False
13,01-Dec-13,Kansas,Topeka,1629 SW Central Park,4,0,2013,KS,us,39.0483,-95.6778,False
14,01-Dec-13,Florida,Miami,NW 64th Street and 12th Avenue,2,2,2013,FL,us,25.7739,-80.1939,False
15,30-Nov-13,Michigan,Lansing,NaN,0,5,2013,MI,us,42.7325,-84.5556,False
16,30-Nov-13,Georgia,Valdosta,Gordon Street and North Ashley Street,0,4,2013,GA,us,30.8325,-83.2786,False
17,29-Nov-13,California,Fresno,Oleander and Modoc,0,4,2013,CA,us,36.7478,-119.771,False
18,29-Nov-13,Indiana,Indianapolis,3400 block of East 34th Street,0,4,2013,IN,us,39.7683,-86.1581,False
19,28-Nov-13,New York,Rochester,St. Paul Boulevard and Andrews Street,0,4,2013,NY,us,43.1547,-77.6158,False
20,25-Nov-13,Minnesota,Minneapolis,1611 E Lake St,1,3,2013,MN,us,44.98,-93.2636,False
21,25-Nov-13,California,Oakland,96th Avenue and Olive Street,0,7,2013,CA,us,37.8044,-122.27,False
22,23-Nov-13,Oklahoma,Tulsa,Pine Street and Harvard Avenue,4,1,2013,OK,us,36.1539,-95.9925,False
23,21-Nov-13,Pennsylvania,Philadelphia,1400 block of N. 60th Street,0,4,2013,PA,us,39.9522,-75.1642,False
24,20-Nov-13,Texas,Houston,8200 block of Sunbury,3,2,2013,TX,us,29.7631,-95.3631,False
25,15-Nov-13,Texas,Houston,4400 block of Tiffany,1,3,2013,TX,us,29.7631,-95.3631,False
26,11-Nov-13,New York,Brooklyn,318 Maujer St,4,1,2013,NY,us,40.65,-73.95,False
27,10-Nov-13,Ohio,Canton,1215 Tuscarawas St W,1,3,2013,OH,us,40.7989,-81.3786,False
28,10-Nov-13,Arizona,Phoenix,5800 South 53rd Glen,1,3,2013,AZ,us,33.4483,-112.073,False
29,09-Nov-13,Texas,Cypress,7300 block of Enchanted Creek Drive,2,16,2013,TX,us,29.9689,-95.6969,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1490,31-Jan-17,District of Columbia,Washington,2900 block of Martin Luther King Jr Ave,0,4,2017,NaN,NaN,47.7511,-120.74,True
1491,30-Jan-17,Minnesota,Minneapolis,5410 Lakeland Ave N,0,4,2017,MN,us,44.98,-93.2636,False
1492,29-Jan-17,Louisiana,Shreveport,6363 Hearne Ave,1,4,2017,LA,us,32.525,-93.75,False
1493,27-Jan-17,Tennessee,Brownsville,221 Morgan St,0,10,2017,TN,us,35.5939,-89.2622,False
1494,26-Jan-17,Georgia,Albany,1510 Maryland Drive,2,3,2017,GA,us,31.5783,-84.1558,False
1495,25-Jan-17,Illinois,Chicago,500 block of E 75th St,0,6,2017,IL,us,41.85,-87.65,False
1496,22-Jan-17,Illinois,Chicago,1800 block of W 63rd,0,4,2017,IL,us,41.85,-87.65,False
1497,22-Jan-17,Texas,Manvel,200 block of Oak Shore Dr,3,2,2017,TX,us,29.4625,-95.3578,False
1498,22-Jan-17,Georgia,Atlanta,2841 Greenbriar Pkwy SW,3,1,2017,GA,us,33.7489,-84.3881,False
1499,21-Jan-17,Georgia,Jonesboro,6510 Tara Blvd,0,6,2017,GA,us,33.5214,-84.3539,False
1500,21-Jan-17,Florida,Boynton Beach,500 NE 2nd St,0,5,2017,FL,us,26.525,-80.0667,False
1501,21-Jan-17,Tennessee,Memphis,500 block of Delta Road,2,2,2017,TN,us,35.1494,-90.0489,False
1502,20-Jan-17,Mississippi,Como,Smart Road,1,4,2017,MS,us,34.5106,-89.9397,False
1503,20-Jan-17,California,Fresno,4700 block of E Montecito Ave,0,4,2017,CA,us,36.7478,-119.771,False
1504,16-Jan-17,Texas,Houston,8535 Martin Luther King Boulevard,0,4,2017,TX,us,29.7631,-95.3631,False
1505,16-Jan-17,Florida,Miami,6011 NW 32nd Ave,0,8,2017,FL,us,25.7739,-80.1939,False
1506,15-Jan-17,Colorado,Capulin,County Road Y,3,1,2017,CO,us,37.2839,-106.111,False
1507,15-Jan-17,Mississippi,Magnolia,6000 block of Church Road,1,4,2017,MS,us,31.1431,-90.4586,False
1508,12-Jan-17,Missouri,Kansas City,8607 E 61st Terrace,3,2,2017,MO,us,39.0997,-94.5783,False
1509,12-Jan-17,California,Salinas,500 block of Sunrise St,2,2,2017,CA,us,36.6778,-121.654,False
1510,11-Jan-17,New Jersey,Newark,Hawkins Street and Christie Street,1,3,2017,NJ,us,40.7356,-74.1728,False
1511,11-Jan-17,Illinois,Chicago,4200 block of S Talman,1,3,2017,IL,us,41.85,-87.65,False
1512,07-Jan-17,Michigan,Flint,2500 block of Churchill Ave,1,3,2017,MI,us,43.0125,-83.6875,False
1513,06-Jan-17,California,Pasadena,100 block of W Claremont St,2,2,2017,CA,us,34.1478,-118.144,False
1514,06-Jan-17,Florida,Fort Lauderdale,100 Terminal Dr,5,6,2017,FL,us,26.1219,-80.1436,False
1515,04-Jan-17,California,Fontana,14520 Village Drive,3,1,2017,CA,us,34.0922,-117.434,False
1516,03-Jan-17,Texas,Allen,500 block of Hawthorne Drive,0,4,2017,TX,us,33.1031,-96.6703,False
1517,01-Jan-17,Mississippi,Winstonville,114 North Greyer Street,0,5,2017,MS,us,33.91,-90.7514,False
1518,01-Jan-17,Texas,Dallas,9220 Skillman Street,1,3,2017,TX,us,32.7833,-96.8,False
1519,01-Jan-17,Florida,Miami,8000 block of NW 14th Ave,0,7,2017,FL,us,25.7739,-80.1939,False

In [29]:
df_merged_lon_lat.to_csv("US_mass_shootings.csv")

In [34]:
df_merged_lon_lat_2017 = df_merged_lon_lat[df_merged_lon_lat["Year"] == 2017]

In [35]:
df_merged_lon_lat_2017

,Date,State,City,Address,Killed,Injured,Year,Code,Country,Latitude,Longitude,test
1242,09-Oct-17,Texas,Houston,3352 Old Spanish Trail,0,5,2017,TX,us,29.7631,-95.3631,False
1243,07-Oct-17,Arizona,Phoenix,87th Ave and Thomas Rd,0,4,2017,AZ,us,33.4483,-112.073,False
1244,06-Oct-17,Illinois,Chicago,8000 block of S Marshfield,0,5,2017,IL,us,41.85,-87.65,False
1245,05-Oct-17,Arizona,Casa Grande,400 block of W 13th Street,4,0,2017,AZ,us,32.8794,-111.757,False
1246,03-Oct-17,Florida,Miami,2051 NW 65th St,0,4,2017,FL,us,25.7739,-80.1939,False
1247,01-Oct-17,Nevada,Las Vegas,3950 Las Vegas Blvd S,59,241,2017,NV,us,36.175,-115.136,False
1248,01-Oct-17,Kansas,Lawrence,1000 block of Massachusetts St,3,2,2017,KS,us,38.9717,-95.235,False
1249,30-Sep-17,Tennessee,Memphis,800 block of Kerr Avenue,1,3,2017,TN,us,35.1494,-90.0489,False
1250,28-Sep-17,Louisiana,New Orleans,2001 N Rocheblave St,1,3,2017,LA,us,29.9544,-90.075,False
1251,26-Sep-17,Tennessee,Memphis,2531 Chelsea Ave,0,4,2017,TN,us,35.1494,-90.0489,False
1252,26-Sep-17,Maryland,Baltimore,3200 block of Lyndale Ave,2,2,2017,MD,us,39.2903,-76.6125,False
1253,26-Sep-17,Pennsylvania,Philadelphia,100 block of Pastorius St,1,3,2017,PA,us,39.9522,-75.1642,False
1254,24-Sep-17,Maryland,Baltimore,500 block of E. Patapsco Avenue,0,4,2017,MD,us,39.2903,-76.6125,False
1255,24-Sep-17,New Jersey,Mays Landing,6000 block of Hoover Dr,1,3,2017,NJ,us,39.4522,-74.7281,False
1256,24-Sep-17,Tennessee,Antioch,3890 Pin Hook Rd,1,8,2017,TN,us,36.06,-86.6722,False
1257,24-Sep-17,New York,Syracuse,1226 E Fayette St,0,4,2017,NY,us,43.0481,-76.1478,False
1258,23-Sep-17,Illinois,Danville,Seminary St and Jackson St,0,5,2017,IL,us,40.1244,-87.63,False
1259,23-Sep-17,California,Bakersfield,818 Real Rd,1,4,2017,CA,us,35.3733,-119.018,False
1260,20-Sep-17,Indiana,Gary,4300 block of 23rd Ct,0,5,2017,IN,us,41.5933,-87.3464,False
1261,17-Sep-17,Michigan,Detroit,5000 block of Stanton Street,1,3,2017,MI,us,42.3314,-83.0458,False
1262,17-Sep-17,Virginia,Petersburg,300 Mistletoe St,1,4,2017,VA,us,37.2278,-77.4022,False
1263,16-Sep-17,South Carolina,Columbia,920 Lady Street,0,8,2017,SC,us,34.0006,-81.035,False
1264,13-Sep-17,Washington,Rockford,14626 S Jackson Rd,1,3,2017,WA,us,47.4522,-117.13,False
1265,13-Sep-17,Pennsylvania,York,400 block of S Duke St,0,4,2017,PA,us,39.9625,-76.7281,False
1266,13-Sep-17,Pennsylvania,Philadelphia,3100 block of N 2nd St,0,4,2017,PA,us,39.9522,-75.1642,False
1267,13-Sep-17,Tennessee,Memphis,1000 block of Morehead St,1,5,2017,TN,us,35.1494,-90.0489,False
1268,10-Sep-17,Louisiana,New Orleans,Elysian Fields Ave and N Claiborne Ave,0,4,2017,LA,us,29.9544,-90.075,False
1269,10-Sep-17,Texas,Plano,1712 West Spring Creek Parkway,9,1,2017,TX,us,33.0197,-96.6986,False
1270,09-Sep-17,Alabama,Selma,Kings Bend Road,0,4,2017,AL,us,32.4072,-87.0211,False
1271,06-Sep-17,Illinois,Chicago,2700 block of Madison,0,4,2017,IL,us,41.85,-87.65,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1490,31-Jan-17,District of Columbia,Washington,2900 block of Martin Luther King Jr Ave,0,4,2017,NaN,NaN,47.7511,-120.74,True
1491,30-Jan-17,Minnesota,Minneapolis,5410 Lakeland Ave N,0,4,2017,MN,us,44.98,-93.2636,False
1492,29-Jan-17,Louisiana,Shreveport,6363 Hearne Ave,1,4,2017,LA,us,32.525,-93.75,False
1493,27-Jan-17,Tennessee,Brownsville,221 Morgan St,0,10,2017,TN,us,35.5939,-89.2622,False
1494,26-Jan-17,Georgia,Albany,1510 Maryland Drive,2,3,2017,GA,us,31.5783,-84.1558,False
1495,25-Jan-17,Illinois,Chicago,500 block of E 75th St,0,6,2017,IL,us,41.85,-87.65,False
1496,22-Jan-17,Illinois,Chicago,1800 block of W 63rd,0,4,2017,IL,us,41.85,-87.65,False
1497,22-Jan-17,Texas,Manvel,200 block of Oak Shore Dr,3,2,2017,TX,us,29.4625,-95.3578,False
1498,22-Jan-17,Georgia,Atlanta,2841 Greenbriar Pkwy SW,3,1,2017,GA,us,33.7489,-84.3881,False
1499,21-Jan-17,Georgia,Jonesboro,6510 Tara Blvd,0,6,2017,GA,us,33.5214,-84.3539,False
1500,21-Jan-17,Florida,Boynton Beach,500 NE 2nd St,0,5,2017,FL,us,26.525,-80.0667,False
1501,21-Jan-17,Tennessee,Memphis,500 block of Delta Road,2,2,2017,TN,us,35.1494,-90.0489,False
1502,20-Jan-17,Mississippi,Como,Smart Road,1,4,2017,MS,us,34.5106,-89.9397,False
1503,20-Jan-17,California,Fresno,4700 block of E Montecito Ave,0,4,2017,CA,us,36.7478,-119.771,False
1504,16-Jan-17,Texas,Houston,8535 Martin Luther King Boulevard,0,4,2017,TX,us,29.7631,-95.3631,False
1505,16-Jan-17,Florida,Miami,6011 NW 32nd Ave,0,8,2017,FL,us,25.7739,-80.1939,False
1506,15-Jan-17,Colorado,Capulin,County Road Y,3,1,2017,CO,us,37.2839,-106.111,False
1507,15-Jan-17,Mississippi,Magnolia,6000 block of Church Road,1,4,2017,MS,us,31.1431,-90.4586,False
1508,12-Jan-17,Missouri,Kansas City,8607 E 61st Terrace,3,2,2017,MO,us,39.0997,-94.5783,False
1509,12-Jan-17,California,Salinas,500 block of Sunrise St,2,2,2017,CA,us,36.6778,-121.654,False
1510,11-Jan-17,New Jersey,Newark,Hawkins Street and Christie Street,1,3,2017,NJ,us,40.7356,-74.1728,False
1511,11-Jan-17,Illinois,Chicago,4200 block of S Talman,1,3,2017,IL,us,41.85,-87.65,False
1512,07-Jan-17,Michigan,Flint,2500 block of Churchill Ave,1,3,2017,MI,us,43.0125,-83.6875,False
1513,06-Jan-17,California,Pasadena,100 block of W Claremont St,2,2,2017,CA,us,34.1478,-118.144,False
1514,06-Jan-17,Florida,Fort Lauderdale,100 Terminal Dr,5,6,2017,FL,us,26.1219,-80.1436,False
1515,04-Jan-17,California,Fontana,14520 Village Drive,3,1,2017,CA,us,34.0922,-117.434,False
1516,03-Jan-17,Texas,Allen,500 block of Hawthorne Drive,0,4,2017,TX,us,33.1031,-96.6703,False
1517,01-Jan-17,Mississippi,Winstonville,114 North Greyer Street,0,5,2017,MS,us,33.91,-90.7514,False
1518,01-Jan-17,Texas,Dallas,9220 Skillman Street,1,3,2017,TX,us,32.7833,-96.8,False
1519,01-Jan-17,Florida,Miami,8000 block of NW 14th Ave,0,7,2017,FL,us,25.7739,-80.1939,False

In [36]:
df_merged_lon_lat_2017.to_csv("US_mass_shootings_2017.csv")

In [48]:
df_merged_lon_lat_2017_grouped = df_merged_lon_lat_2017.groupby("Date")["Killed", "Injured"].sum().reset_index()

In [49]:
df_merged_lon_lat_2017_grouped.dtypes

Date       object
Killed      int64
Injured     int64
dtype: object

In [52]:
df_merged_lon_lat_2017_grouped["Date"] = pd.to_datetime(df_merged_lon_lat_2017_grouped["Date"], format="%d-%b-%y")

In [53]:
df_merged_lon_lat_2017_grouped.head()

        Date  Killed  Injured
0 2017-04-01       3       12
1 2017-08-01       0       17
2 2017-01-01       1       15
3 2017-07-01       2       35
4 2017-06-01       3        1

In [55]:
df_merged_lon_lat_2017_grouped = df_merged_lon_lat_2017_grouped.sort_values(by = "Date", ascending = True)

In [56]:
df_merged_lon_lat_2017_grouped.to_csv("US_mass_shootings_2017_by_date.csv")

In [58]:
df_merged_lon_lat_2017_grouped

          Date  Killed  Injured
2   2017-01-01       1       15
15  2017-01-03       0        4
22  2017-01-04       3        1
35  2017-01-06       7        8
42  2017-01-07       1        3
63  2017-01-11       2        6
67  2017-01-12       5        4
77  2017-01-15       4        5
83  2017-01-16       0       12
99  2017-01-20       1        8
105 2017-01-21       2       13
109 2017-01-22       6        7
121 2017-01-25       0        6
126 2017-01-26       2        3
134 2017-01-27       0       10
146 2017-01-29       1        4
150 2017-01-30       0        4
156 2017-01-31       0        8
34  2017-02-06       4        0
41  2017-02-07       1        8
47  2017-02-08       1        4
51  2017-02-09       4        0
57  2017-02-10       1        5
62  2017-02-11       1        7
66  2017-02-12       2       14
76  2017-02-15       3        6
88  2017-02-18       1        7
93  2017-02-19       1        3
98  2017-02-20       0        5
104 2017-02-21       4        4
..         ...     ...      ...
82  2017-08-16       0        4
92  2017-08-19       1        4
97  2017-08-20       2        9
103 2017-08-21       6       14
107 2017-08-22       0        4
115 2017-08-24       4        0
119 2017-08-25       0        4
132 2017-08-27       2        7
140 2017-08-28       2        4
12  2017-09-02       1        7
20  2017-09-03       2        3
26  2017-09-04       0        4
39  2017-09-06       0        4
56  2017-09-09       0        4
61  2017-09-10       9        5
71  2017-09-13       2       16
85  2017-09-16       0        8
87  2017-09-17       2        7
101 2017-09-20       0        5
114 2017-09-23       1        9
118 2017-09-24       2       19
130 2017-09-26       3        9
144 2017-09-28       1        3
155 2017-09-30       1        3
6   2017-10-01      62      243
19  2017-10-03       0        4
31  2017-10-05       4        0
38  2017-10-06       0        5
45  2017-10-07       0        4
55  2017-10-09       0        5

[158 rows x 3 columns]