In [1]:
import requests as rq
from bs4 import BeautifulSoup
import pandas as pd
import re

In [2]:
df = pd.read_csv("US Mass shootings - Sheet1.csv")

In [3]:
cities_us = pd.read_csv("US_cities.csv")

In [4]:
cities_us.head()

,Unnamed: 0,Country,City,AccentCity,Region,Population,Latitude,Longitude
0,2907718,us,abanda,Abanda,AL,NaN,33.100833,-85.529722
1,2907719,us,abbeville,Abbeville,AL,NaN,31.571667,-85.250556
2,2907720,us,abbot springs,Abbot Springs,AL,NaN,33.360833,-86.481667
3,2907721,us,abel,Abel,AL,NaN,33.548611,-85.712500
4,2907722,us,abercrombie,Abercrombie,AL,NaN,32.848611,-87.165000

In [5]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

In [6]:
us_state_abbrev=pd.Series(us_state_abbrev, name='Code')

In [7]:
us_state_abbrev = us_state_abbrev.reset_index()

In [8]:
us_state_abbrev.head()

        index Code
0     Alabama   AL
1      Alaska   AK
2     Arizona   AZ
3    Arkansas   AR
4  California   CA

In [9]:
df_merged =df.merge(us_state_abbrev, left_on="State", right_on="index", how="left")

In [10]:
df_merged.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured,Year,index,Code
0,31-Dec-13,New York,Brooklyn,60 Glenmore Ave,0,6,2013,New York,NY
1,28-Dec-13,Alabama,Montgomery,954 Highland Ave,3,5,2013,Alabama,AL
2,26-Dec-13,Louisiana,Slidell,2144 First St,2,6,2013,Louisiana,LA
3,26-Dec-13,Louisiana,Lockport,313 Tenth St,3,3,2013,Louisiana,LA
4,25-Dec-13,New Jersey,Irvington,Nye Avenue and 21st Street,3,2,2013,New Jersey,NJ

In [11]:
df_merged.drop("index",1,inplace=True)

In [12]:
df_merged.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured,Year,Code
0,31-Dec-13,New York,Brooklyn,60 Glenmore Ave,0,6,2013,NY
1,28-Dec-13,Alabama,Montgomery,954 Highland Ave,3,5,2013,AL
2,26-Dec-13,Louisiana,Slidell,2144 First St,2,6,2013,LA
3,26-Dec-13,Louisiana,Lockport,313 Tenth St,3,3,2013,LA
4,25-Dec-13,New Jersey,Irvington,Nye Avenue and 21st Street,3,2,2013,NJ

In [13]:
df_merged["City Or County"] = df_merged["City Or County"].str.replace("\(.*\)", "")

In [14]:
df_merged["City Or County"] = df_merged["City Or County"].str.strip()

In [15]:
df_merged_lon_lat = df_merged.merge(cities_us, left_on=["City Or County", "Code"], right_on=["AccentCity","Region"], how="left")

In [16]:
df_merged_lon_lat.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured,Year,Code,Unnamed: 0,Country,City,AccentCity,Region,Population,Latitude,Longitude
0,31-Dec-13,New York,Brooklyn,60 Glenmore Ave,0,6,2013,NY,2987677.0,us,brooklyn,Brooklyn,NY,NaN,40.650000,-73.950000
1,28-Dec-13,Alabama,Montgomery,954 Highland Ave,3,5,2013,AL,2910236.0,us,montgomery,Montgomery,AL,198325.0,32.366667,-86.300000
2,26-Dec-13,Louisiana,Slidell,2144 First St,2,6,2013,LA,2955180.0,us,slidell,Slidell,LA,27799.0,30.275000,-89.781111
3,26-Dec-13,Louisiana,Lockport,313 Tenth St,3,3,2013,LA,2954282.0,us,lockport,Lockport,LA,NaN,29.645833,-90.539167
4,25-Dec-13,New Jersey,Irvington,Nye Avenue and 21st Street,3,2,2013,NJ,2984273.0,us,irvington,Irvington,NJ,61323.0,40.732222,-74.235278

In [17]:
df_merged_lon_lat["test"] = df_merged_lon_lat["Latitude"].isnull()

In [18]:
df_merged_lon_lat[df_merged_lon_lat["test"] == True]

,Incident Date,State,City Or County,Address,# Killed,# Injured,Year,Code,Unnamed: 0,Country,City,AccentCity,Region,Population,Latitude,Longitude,test
32,05-Nov-13,District of Columbia,Washington,3900 block of Minnesota Ave,0,4,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
70,16-Sep-13,District of Columbia,Washington Navy Yard,1336 Isaac Hull Ave,11,3,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
75,12-Sep-13,District of Columbia,Washington,First Street and Pierce Street NW,1,3,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
121,13-Jul-13,District of Columbia,Washington,2700 block of Stanton Road,0,4,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
164,02-Jun-13,Georgia,Lagrange,Union Street,0,7,2013,GA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
221,11-Mar-13,District of Columbia,Washington,1200 North Capitol Street,0,13,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
239,03-Feb-13,California,Yuba,5800 block of Poplar Avenue,1,3,2013,CA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
242,26-Jan-13,District of Columbia,Washington,2403 Benning Road Northeast,0,5,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
252,01-Jan-13,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,2013,PA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
257,26-Dec-14,Illinois,East St. Louis,2500 block of Summit Avenue,1,3,2014,IL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
282,23-Nov-14,Virginia,Accomack County,Parksley Road,0,4,2014,VA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
302,18-Oct-14,New York,Queens,33-02 Queens Blvd,0,4,2014,NY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
322,26-Sep-14,South Carolina,Darlington County,600 block of Turner Road,1,4,2014,SC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
324,20-Sep-14,Mississippi,Panola County,NaN,2,2,2014,MS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
325,19-Sep-14,New York,Queens,32-14 106th St,0,4,2014,NY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
347,17-Aug-14,New York,Queens,153-38 118th Ave,0,4,2014,NY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
355,12-Aug-14,Georgia,Bartow County,Brent Circle,2,3,2014,GA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
358,10-Aug-14,District of Columbia,Washington,N Street SW,0,6,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
363,08-Aug-14,District of Columbia,Washington,Second Street and Todd Place NE,0,4,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
389,13-Jul-14,District of Columbia,Washington,1700 block of Lincoln Road NE,0,4,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
413,28-Jun-14,New York,Manhattan,Fifth Avenue and West 139th Street,0,4,2014,NY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
422,21-Jun-14,District of Columbia,Washington,Florida Avenue and U Street NW,0,4,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
447,17-May-14,District of Columbia,Washington,2200 block of Adams Place NE,0,5,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
466,14-Apr-14,District of Columbia,Washington,1500 block of 19th Street,0,4,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
469,09-Apr-14,Tennessee,Lookout Valley,Kellys Ferry Road and Kellys Ferry Place,3,1,2014,TN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
477,02-Apr-14,Texas,Fort Hood,Motor Pool Road and Tank Destroyer Boulevard,4,16,2014,TX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
499,16-Feb-14,Florida,Orange County,4500 block of Riviera Shores,1,6,2014,FL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
524,03-Jan-14,New York,Queens,Farmers Boulevard and 133rd Avenue,1,3,2014,NY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
534,20-Dec-15,Florida,Miami-dade,Northeast Seventh Avenue and Northeast 166th S...,0,4,2015,FL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
538,12-Dec-15,Illinois,Lovejoy,307 Jefferson St,1,3,2015,IL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
578,25-Oct-15,District of Columbia,Washington,4300 block of Wheeler Road SE,0,5,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
641,20-Aug-15,Texas,Grulla,FM 2360,2,2,2015,TX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
702,04-Jul-15,District of Columbia,Washington,2600 Douglas Place SE,1,3,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
708,29-Jun-15,Florida,Opa Locka,13450 NW 30th Ave,0,4,2015,FL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
818,01-Mar-15,Florida,Orange County,4900 block of Steyr Street,0,4,2015,FL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
837,31-Jan-15,Georgia,Lagrange,100 block of Woodstream Trail,4,0,2015,GA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
838,28-Jan-15,Georgia,Dekalb County,1600 block of Panola Road,1,3,2015,GA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
951,01-Oct-16,Illinois,Pembroke Township,17250E Road,4,0,2016,IL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
954,26-Sep-16,North Carolina,Winston Salem,100 block of 5 Royales Dr,0,4,2016,NC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
966,17-Sep-16,District of Columbia,Washington,2600 block of Birney Place SE,2,7,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
979,08-Sep-16,Arkansas,Hot Springs National Park,300 block of Lacey St,1,4,2016,AR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1063,11-Jul-16,District of Columbia,Washington,"5100 block of Call Pl., SE",0,4,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1093,22-Jun-16,Georgia,Dekalb,Lancashire Drive and Central Drive,1,4,2016,GA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1113,08-Jun-16,District of Columbia,Washington,North Capitol Street and New York Avenue NW,0,4,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1230,03-Feb-16,District of Columbia,Washington,1500 block of Butler St. SE,0,4,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1238,08-Jan-16,District of Columbia,Washington,1700 East Capitol Street Northeast,0,4,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1304,03-Aug-17,District of Columbia,Washington,3426 18th St NE,1,3,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1347,25-Jun-17,District of Columbia,Washington,5900 block of Southern Ave SE,0,4,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1354,18-Jun-17,District of Columbia,Washington,3100 block of Buena Vista Terrace SE,0,4,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1373,06-Jun-17,Utah,Sandy,2232 Alta Canyon Drive,3,2,2017,UT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1386,27-May-17,District of Columbia,Washington,100 block of Q Street Northwest,1,7,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1490,31-Jan-17,District of Columbia,Washington,2900 block of Martin Luther King Jr Ave,0,4,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [19]:
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Washington", 'Latitude'] = "47.751076"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Washington", 'Longitude'] = "-120.740135"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Sandy", 'Latitude'] = "40.571563"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Sandy", 'Longitude'] = "-111.852286"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Dekalb", 'Latitude'] = "33.7956"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Dekalb", 'Longitude'] = "-84.2279"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Dekalb County", 'Latitude'] = "33.7956"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Dekalb County", 'Longitude'] = "-84.2279"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Lagrange", 'Latitude'] = "33.037880"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Lagrange", 'Longitude'] = "-85.030060"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Yuba", 'Latitude'] = "39.136986"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Yuba", 'Longitude'] = "-121.607841"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Mckeesport", 'Latitude'] = "40.3470671"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Mckeesport", 'Longitude'] = "-79.8641232"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "East St. Louis", 'Latitude'] = "38.624514"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "East St. Louis", 'Longitude'] = "-90.1506465"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Accomack County", 'Latitude'] = "37.7501289"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Accomack County", 'Longitude'] = "-75.6663182"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Queens", 'Latitude'] = "40.742054"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Queens", 'Longitude'] = "-73.769417"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Darlington County", 'Latitude'] = "34.3650"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Darlington County", 'Longitude'] = "-80.0088"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Panola County", 'Latitude'] = "32.1920"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Panola County", 'Longitude'] = "-94.3154"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Bartow County", 'Latitude'] = "34.1659305"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Bartow County", 'Longitude'] = "-84.797716"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Manhattan", 'Latitude'] = "40.758896"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Manhattan", 'Longitude'] = "-73.985130"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Lookout Valley", 'Latitude'] = "34.9939646"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Lookout Valley", 'Longitude'] = "-85.3746811"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Fort Hood", 'Latitude'] = "31.2548307"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Fort Hood", 'Longitude'] = "-97.709127"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Orange County", 'Latitude'] = "33.7174708"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Orange County", 'Longitude'] = "-117.83114280000001"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Miami-dade", 'Latitude'] = "25.778135"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Miami-dade", 'Longitude'] = "-80.179100"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Lovejoy", 'Latitude'] = "40.5369809"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Lovejoy", 'Longitude'] = "-87.7039152"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Grulla", 'Latitude'] = "26.285343"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Grulla", 'Longitude'] = "-98.644474"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Opa Locka", 'Latitude'] = "25.9023168"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Opa Locka", 'Longitude'] = "-80.25032709999999"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Pembroke Township", 'Latitude'] = "45.81681"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Pembroke Township", 'Longitude'] = "-77.11616"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Winston Salem", 'Latitude'] = "36.099861"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Winston Salem", 'Longitude'] = "-80.244217"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Hot Springs National Park", 'Latitude'] = "34.5313219"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Hot Springs National Park", 'Longitude'] = "-93.0637411"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Washington Navy Yard", 'Latitude'] = "38.8746334"
df_merged_lon_lat.loc[df_merged_lon_lat["City Or County"] == "Washington Navy Yard", 'Longitude'] = "-76.9945473"

In [20]:
df_merged_lon_lat.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured,Year,Code,Unnamed: 0,Country,City,AccentCity,Region,Population,Latitude,Longitude,test
0,31-Dec-13,New York,Brooklyn,60 Glenmore Ave,0,6,2013,NY,2987677.0,us,brooklyn,Brooklyn,NY,NaN,40.65,-73.95,False
1,28-Dec-13,Alabama,Montgomery,954 Highland Ave,3,5,2013,AL,2910236.0,us,montgomery,Montgomery,AL,198325.0,32.3667,-86.3,False
2,26-Dec-13,Louisiana,Slidell,2144 First St,2,6,2013,LA,2955180.0,us,slidell,Slidell,LA,27799.0,30.275,-89.7811,False
3,26-Dec-13,Louisiana,Lockport,313 Tenth St,3,3,2013,LA,2954282.0,us,lockport,Lockport,LA,NaN,29.6458,-90.5392,False
4,25-Dec-13,New Jersey,Irvington,Nye Avenue and 21st Street,3,2,2013,NJ,2984273.0,us,irvington,Irvington,NJ,61323.0,40.7322,-74.2353,False

In [21]:
df_merged_lon_lat.drop(["Region", "Population", "City", "AccentCity", "Region", "Unnamed: 0"],1, inplace = True)

In [22]:
df_merged_lon_lat.columns = ["Date", "State", "City", "Address", "Killed", "Injured", "Year", "Code", "Country", "Latitude", "Longitude", "test"]

In [23]:
df_merged_lon_lat["Latitude"] = df_merged_lon_lat["Latitude"].astype(float)
df_merged_lon_lat["Longitude"] = df_merged_lon_lat["Longitude"].astype(float)

In [24]:
df_merged_lon_lat.sort_values(by="Killed", ascending = False)

,Date,State,City,Address,Killed,Injured,Year,Code,Country,Latitude,Longitude,test
1247,01-Oct-17,Nevada,Las Vegas,3950 Las Vegas Blvd S,59,241,2017,NV,us,36.175000,-115.136389,False
1106,12-Jun-16,Florida,Orlando,1912 S Orange Avenue,50,53,2016,FL,us,28.538056,-81.379444,False
544,02-Dec-15,California,San Bernardino,1365 South Waterman Avenue,16,19,2015,CA,us,34.108333,-117.288889,False
70,16-Sep-13,District of Columbia,Washington Navy Yard,1336 Isaac Hull Ave,11,3,2013,NaN,NaN,38.874633,-76.994547,True
592,01-Oct-15,Oregon,Roseburg,1140 Umpqua College Rd,10,9,2015,OR,us,43.216667,-123.340556,False
1269,10-Sep-17,Texas,Plano,1712 West Spring Creek Parkway,9,1,2017,TX,us,33.019722,-96.698611,False
762,17-May-15,Texas,Waco,4671 S Jack Kultgen Fwy,9,18,2015,TX,us,31.549167,-97.146389,False
722,17-Jun-15,South Carolina,Charleston,110 Calhoun Street,9,0,2015,SC,us,32.776389,-79.931111,False
655,08-Aug-15,Texas,Houston,2211 Falling Oaks,8,0,2015,TX,us,29.763056,-95.363056,False
326,18-Sep-14,Florida,Bell,NW 30th Street and NW 39th Terrace,8,0,2014,FL,us,29.755278,-82.862778,False
1164,22-Apr-16,Ohio,Piketon,4077 Union Hill Road,8,0,2016,OH,us,39.068056,-83.014444,False
821,26-Feb-15,Missouri,Tyrone,18279 Highway H,8,1,2015,MO,us,37.203333,-91.876389,False
1387,27-May-17,Mississippi,Bogue Chitto,2871 Lee Drive,8,1,2017,MS,us,31.438611,-90.452222,False
109,26-Jul-13,Florida,Hialeah,1485 W 46th St,7,0,2013,FL,us,25.857222,-80.278333,False
1165,22-Apr-16,Georgia,Appling,3162 Johnson Drive,6,0,2016,GA,us,33.545833,-82.316111,False
609,17-Sep-15,South Dakota,Geddes,36705 379th Street,6,0,2015,SD,us,43.253611,-98.695000,False
163,07-Jun-13,California,Santa Monica,2036 Yorkshire Avenue,6,1,2013,CA,us,34.019444,-118.490278,False
1214,20-Feb-16,Michigan,Kalamazoo,5581 Cracker Barrel Blvd,6,2,2016,MI,us,42.291667,-85.587222,False
393,09-Jul-14,Texas,Spring,711 Leaflet Ln,6,1,2014,TX,us,30.079722,-95.416944,False
685,16-Jul-15,Tennessee,Chattanooga,4051 Amnicola Highway,6,2,2015,TN,us,35.045556,-85.309722,False
1232,27-Jan-16,Virginia,Chesapeake,1401 N. George Washington Hwy,6,0,2016,VA,us,36.818889,-76.275278,False
1374,05-Jun-17,Florida,Orlando,2427 Forsyth Rd,6,0,2017,FL,us,28.538056,-81.379444,False
198,24-Apr-13,Illinois,Manchester,East Street,6,1,2013,IL,us,39.542222,-90.332222,False
219,13-Mar-13,New York,Mohawk,17 W Main St,6,2,2013,NY,us,43.011389,-75.004444,False
959,23-Sep-16,Washington,Burlington,201 Cascade Mall Dr,5,0,2016,WA,us,48.475833,-122.324167,False
767,12-May-15,Arizona,Tucson,800 block of West Calle Medina Road,5,0,2015,AZ,us,32.221667,-110.925833,False
62,20-Sep-13,Texas,Rice,700 block of NW 0149,5,0,2013,TX,us,32.243611,-96.498333,False
368,03-Aug-14,Virginia,Culpeper,4400 block of Rixeyville Road,5,0,2014,VA,us,38.473056,-77.996944,False
1020,06-Aug-16,Pennsylvania,Reading,51 Winding Brook Drive,5,0,2016,PA,us,40.335556,-75.927222,False
201,21-Apr-13,Washington,Federal Way,33300 block of 18th Lane South,5,0,2013,WA,us,47.322500,-122.311389,False
...,...,...,...,...,...,...,...,...,...,...,...,...
692,14-Jul-15,Missouri,Saint Louis,1100 block of Riverview,0,4,2015,MO,us,38.627222,-90.197778,False
690,15-Jul-15,Michigan,Detroit,9200 block of Memorial,0,4,2015,MI,us,42.331389,-83.045833,False
666,30-Jul-15,Pennsylvania,Pittsburgh,Brushton Avenue,0,4,2015,PA,us,40.440556,-79.996111,False
644,16-Aug-15,Illinois,Chicago,5400 block of West Division Street,0,4,2015,IL,us,41.850000,-87.650000,False
645,16-Aug-15,South Carolina,Bennettsville,Highway 38N,0,5,2015,SC,us,34.617222,-79.685000,False
647,15-Aug-15,California,Los Angeles,57th Street and South Normandie Avenue,0,4,2015,CA,us,34.052222,-118.242778,False
649,10-Aug-15,California,Long Beach,1700 block of East 10th Street,0,4,2015,CA,us,33.766944,-118.188333,False
652,09-Aug-15,Missouri,Kansas City,40th Street and Pennsylvania Avenue,0,4,2015,MO,us,39.099722,-94.578333,False
657,06-Aug-15,South Carolina,Columbia,1505 Garden Plaza,0,4,2015,SC,us,34.000556,-81.035000,False
659,03-Aug-15,New York,Brooklyn,98 Dwight Street,0,5,2015,NY,us,40.650000,-73.950000,False
660,02-Aug-15,New York,Brooklyn,Stanley Avenue and Crescent Street,0,9,2015,NY,us,40.650000,-73.950000,False
661,02-Aug-15,Maryland,Baltimore,2700 block of Garrison Avenue,0,7,2015,MD,us,39.290278,-76.612500,False
663,02-Aug-15,Georgia,Savannah,Barnard Street,0,5,2015,GA,us,32.083333,-81.100000,False
664,02-Aug-15,Illinois,Chicago,6700 block of South Winchester Avenue,0,4,2015,IL,us,41.850000,-87.650000,False
665,01-Aug-15,Florida,Orlando,5801 Shenandoah Way,0,4,2015,FL,us,28.538056,-81.379444,False
667,27-Jul-15,Illinois,Rockford,900 block of Kent Street,0,5,2015,IL,us,42.271111,-89.093889,False
689,15-Jul-15,Ohio,Cleveland,700 block of Thornhill,0,7,2015,OH,us,41.499444,-81.695556,False
669,26-Jul-15,Louisiana,New Orleans,Piety and Treasure street,0,4,2015,LA,us,29.954444,-90.075000,False
670,25-Jul-15,Virginia,Hopewell,500 block of N. 7th Ave,0,4,2015,VA,us,37.304167,-77.287500,False
675,20-Jul-15,New York,Bronx,E. 153rd St. and the Grand Concourse,0,6,2015,NY,us,40.850000,-73.866667,False
676,19-Jul-15,Virginia,Suffolk,100 block of North Capitol Street,0,4,2015,VA,us,36.728056,-76.583889,False
677,19-Jul-15,Kentucky,Louisville,2928 W Kentucky St,0,6,2015,KY,us,38.254167,-85.759444,False
678,19-Jul-15,North Carolina,Rocky Mount,Interstate 64 and Raliegh Street,0,4,2015,NC,us,35.938056,-77.790833,False
679,18-Jul-15,California,San Diego,200 block of South Bancroft Street,0,4,2015,CA,us,32.715278,-117.156389,False
680,18-Jul-15,California,Santa Paula,Ojai-Santa Paula Street,0,5,2015,CA,us,34.354167,-119.058333,False
683,17-Jul-15,Illinois,Chicago,4400 block of W. Maypole,0,5,2015,IL,us,41.850000,-87.650000,False
684,17-Jul-15,Ohio,Cincinnati,3100 block of Sunshine Avenue,0,4,2015,OH,us,39.161944,-84.456944,False
686,16-Jul-15,Texas,Dallas,Singleton and Hampton,0,5,2015,TX,us,32.783333,-96.800000,False
687,15-Jul-15,Georgia,Atlanta,500 block of Center Hill Avenue,0,5,2015,GA,us,33.748889,-84.388056,False
1519,01-Jan-17,Florida,Miami,8000 block of NW 14th Ave,0,7,2017,FL,us,25.773889,-80.193889,False

In [25]:
df_merged_lon_lat[df_merged_lon_lat["City"] == "Pembroke Township"]

,Date,State,City,Address,Killed,Injured,Year,Code,Country,Latitude,Longitude,test
951,01-Oct-16,Illinois,Pembroke Township,17250E Road,4,0,2016,IL,NaN,45.81681,-77.11616,True

In [26]:
df_merged_lon_lat.loc[df_merged_lon_lat["City"] == "Pembroke Township", 'Latitude'] = "41.0667"
df_merged_lon_lat.loc[df_merged_lon_lat["City"] == "Pembroke Township", 'Longitude'] = "-87.6250348"

In [27]:
df_merged_lon_lat

,Date,State,City,Address,Killed,Injured,Year,Code,Country,Latitude,Longitude,test
0,31-Dec-13,New York,Brooklyn,60 Glenmore Ave,0,6,2013,NY,us,40.65,-73.95,False
1,28-Dec-13,Alabama,Montgomery,954 Highland Ave,3,5,2013,AL,us,32.3667,-86.3,False
2,26-Dec-13,Louisiana,Slidell,2144 First St,2,6,2013,LA,us,30.275,-89.7811,False
3,26-Dec-13,Louisiana,Lockport,313 Tenth St,3,3,2013,LA,us,29.6458,-90.5392,False
4,25-Dec-13,New Jersey,Irvington,Nye Avenue and 21st Street,3,2,2013,NJ,us,40.7322,-74.2353,False
5,25-Dec-13,New York,Medford,33A Cedarhurst Ave,1,3,2013,NY,us,40.8175,-73.0006,False
6,22-Dec-13,Michigan,Muskegon,2300 block of W McMillan Rd,1,3,2013,MI,us,43.2342,-86.2483,False
7,21-Dec-13,North Carolina,Shelby,Jose Street,0,4,2013,NC,us,35.2922,-81.5358,False
8,21-Dec-13,New Jersey,Trenton,Jersey Street and Home Avenue,1,4,2013,NJ,us,40.2169,-74.7433,False
9,15-Dec-13,Florida,Homestead,7th Avenue and 13th Terrace,1,3,2013,FL,us,25.4683,-80.4778,False
10,15-Dec-13,Texas,Channelview,900 block of Ashland Boulevard,0,5,2013,TX,us,29.7758,-95.1144,False
11,14-Dec-13,North Carolina,Statesville,167 Wallace Springs,0,4,2013,NC,us,35.7825,-80.8875,False
12,07-Dec-13,Delaware,Wilmington,3421 Kirkwood Hwy,0,4,2013,DE,us,39.7458,-75.5469,False
13,01-Dec-13,Kansas,Topeka,1629 SW Central Park,4,0,2013,KS,us,39.0483,-95.6778,False
14,01-Dec-13,Florida,Miami,NW 64th Street and 12th Avenue,2,2,2013,FL,us,25.7739,-80.1939,False
15,30-Nov-13,Michigan,Lansing,NaN,0,5,2013,MI,us,42.7325,-84.5556,False
16,30-Nov-13,Georgia,Valdosta,Gordon Street and North Ashley Street,0,4,2013,GA,us,30.8325,-83.2786,False
17,29-Nov-13,California,Fresno,Oleander and Modoc,0,4,2013,CA,us,36.7478,-119.771,False
18,29-Nov-13,Indiana,Indianapolis,3400 block of East 34th Street,0,4,2013,IN,us,39.7683,-86.1581,False
19,28-Nov-13,New York,Rochester,St. Paul Boulevard and Andrews Street,0,4,2013,NY,us,43.1547,-77.6158,False
20,25-Nov-13,Minnesota,Minneapolis,1611 E Lake St,1,3,2013,MN,us,44.98,-93.2636,False
21,25-Nov-13,California,Oakland,96th Avenue and Olive Street,0,7,2013,CA,us,37.8044,-122.27,False
22,23-Nov-13,Oklahoma,Tulsa,Pine Street and Harvard Avenue,4,1,2013,OK,us,36.1539,-95.9925,False
23,21-Nov-13,Pennsylvania,Philadelphia,1400 block of N. 60th Street,0,4,2013,PA,us,39.9522,-75.1642,False
24,20-Nov-13,Texas,Houston,8200 block of Sunbury,3,2,2013,TX,us,29.7631,-95.3631,False
25,15-Nov-13,Texas,Houston,4400 block of Tiffany,1,3,2013,TX,us,29.7631,-95.3631,False
26,11-Nov-13,New York,Brooklyn,318 Maujer St,4,1,2013,NY,us,40.65,-73.95,False
27,10-Nov-13,Ohio,Canton,1215 Tuscarawas St W,1,3,2013,OH,us,40.7989,-81.3786,False
28,10-Nov-13,Arizona,Phoenix,5800 South 53rd Glen,1,3,2013,AZ,us,33.4483,-112.073,False
29,09-Nov-13,Texas,Cypress,7300 block of Enchanted Creek Drive,2,16,2013,TX,us,29.9689,-95.6969,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1490,31-Jan-17,District of Columbia,Washington,2900 block of Martin Luther King Jr Ave,0,4,2017,NaN,NaN,47.7511,-120.74,True
1491,30-Jan-17,Minnesota,Minneapolis,5410 Lakeland Ave N,0,4,2017,MN,us,44.98,-93.2636,False
1492,29-Jan-17,Louisiana,Shreveport,6363 Hearne Ave,1,4,2017,LA,us,32.525,-93.75,False
1493,27-Jan-17,Tennessee,Brownsville,221 Morgan St,0,10,2017,TN,us,35.5939,-89.2622,False
1494,26-Jan-17,Georgia,Albany,1510 Maryland Drive,2,3,2017,GA,us,31.5783,-84.1558,False
1495,25-Jan-17,Illinois,Chicago,500 block of E 75th St,0,6,2017,IL,us,41.85,-87.65,False
1496,22-Jan-17,Illinois,Chicago,1800 block of W 63rd,0,4,2017,IL,us,41.85,-87.65,False
1497,22-Jan-17,Texas,Manvel,200 block of Oak Shore Dr,3,2,2017,TX,us,29.4625,-95.3578,False
1498,22-Jan-17,Georgia,Atlanta,2841 Greenbriar Pkwy SW,3,1,2017,GA,us,33.7489,-84.3881,False
1499,21-Jan-17,Georgia,Jonesboro,6510 Tara Blvd,0,6,2017,GA,us,33.5214,-84.3539,False
1500,21-Jan-17,Florida,Boynton Beach,500 NE 2nd St,0,5,2017,FL,us,26.525,-80.0667,False
1501,21-Jan-17,Tennessee,Memphis,500 block of Delta Road,2,2,2017,TN,us,35.1494,-90.0489,False
1502,20-Jan-17,Mississippi,Como,Smart Road,1,4,2017,MS,us,34.5106,-89.9397,False
1503,20-Jan-17,California,Fresno,4700 block of E Montecito Ave,0,4,2017,CA,us,36.7478,-119.771,False
1504,16-Jan-17,Texas,Houston,8535 Martin Luther King Boulevard,0,4,2017,TX,us,29.7631,-95.3631,False
1505,16-Jan-17,Florida,Miami,6011 NW 32nd Ave,0,8,2017,FL,us,25.7739,-80.1939,False
1506,15-Jan-17,Colorado,Capulin,County Road Y,3,1,2017,CO,us,37.2839,-106.111,False
1507,15-Jan-17,Mississippi,Magnolia,6000 block of Church Road,1,4,2017,MS,us,31.1431,-90.4586,False
1508,12-Jan-17,Missouri,Kansas City,8607 E 61st Terrace,3,2,2017,MO,us,39.0997,-94.5783,False
1509,12-Jan-17,California,Salinas,500 block of Sunrise St,2,2,2017,CA,us,36.6778,-121.654,False
1510,11-Jan-17,New Jersey,Newark,Hawkins Street and Christie Street,1,3,2017,NJ,us,40.7356,-74.1728,False
1511,11-Jan-17,Illinois,Chicago,4200 block of S Talman,1,3,2017,IL,us,41.85,-87.65,False
1512,07-Jan-17,Michigan,Flint,2500 block of Churchill Ave,1,3,2017,MI,us,43.0125,-83.6875,False
1513,06-Jan-17,California,Pasadena,100 block of W Claremont St,2,2,2017,CA,us,34.1478,-118.144,False
1514,06-Jan-17,Florida,Fort Lauderdale,100 Terminal Dr,5,6,2017,FL,us,26.1219,-80.1436,False
1515,04-Jan-17,California,Fontana,14520 Village Drive,3,1,2017,CA,us,34.0922,-117.434,False
1516,03-Jan-17,Texas,Allen,500 block of Hawthorne Drive,0,4,2017,TX,us,33.1031,-96.6703,False
1517,01-Jan-17,Mississippi,Winstonville,114 North Greyer Street,0,5,2017,MS,us,33.91,-90.7514,False
1518,01-Jan-17,Texas,Dallas,9220 Skillman Street,1,3,2017,TX,us,32.7833,-96.8,False
1519,01-Jan-17,Florida,Miami,8000 block of NW 14th Ave,0,7,2017,FL,us,25.7739,-80.1939,False

In [28]:
df_merged_lon_lat.to_csv("US_mass_shootings.csv")

In [29]:
df_merged_lon_lat_2017 = df_merged_lon_lat[df_merged_lon_lat["Year"] == 2017]

In [30]:
pd.set_option("display.max_rows", 300)

In [31]:
df_merged_lon_lat_2017.head()

,Date,State,City,Address,Killed,Injured,Year,Code,Country,Latitude,Longitude,test
1242,09-Oct-17,Texas,Houston,3352 Old Spanish Trail,0,5,2017,TX,us,29.7631,-95.3631,False
1243,07-Oct-17,Arizona,Phoenix,87th Ave and Thomas Rd,0,4,2017,AZ,us,33.4483,-112.073,False
1244,06-Oct-17,Illinois,Chicago,8000 block of S Marshfield,0,5,2017,IL,us,41.85,-87.65,False
1245,05-Oct-17,Arizona,Casa Grande,400 block of W 13th Street,4,0,2017,AZ,us,32.8794,-111.757,False
1246,03-Oct-17,Florida,Miami,2051 NW 65th St,0,4,2017,FL,us,25.7739,-80.1939,False

In [32]:
df_merged_lon_lat_2017.reset_index()

,index,Date,State,City,Address,Killed,Injured,Year,Code,Country,Latitude,Longitude,test
0,1242,09-Oct-17,Texas,Houston,3352 Old Spanish Trail,0,5,2017,TX,us,29.7631,-95.3631,False
1,1243,07-Oct-17,Arizona,Phoenix,87th Ave and Thomas Rd,0,4,2017,AZ,us,33.4483,-112.073,False
2,1244,06-Oct-17,Illinois,Chicago,8000 block of S Marshfield,0,5,2017,IL,us,41.85,-87.65,False
3,1245,05-Oct-17,Arizona,Casa Grande,400 block of W 13th Street,4,0,2017,AZ,us,32.8794,-111.757,False
4,1246,03-Oct-17,Florida,Miami,2051 NW 65th St,0,4,2017,FL,us,25.7739,-80.1939,False
5,1247,01-Oct-17,Nevada,Las Vegas,3950 Las Vegas Blvd S,59,241,2017,NV,us,36.175,-115.136,False
6,1248,01-Oct-17,Kansas,Lawrence,1000 block of Massachusetts St,3,2,2017,KS,us,38.9717,-95.235,False
7,1249,30-Sep-17,Tennessee,Memphis,800 block of Kerr Avenue,1,3,2017,TN,us,35.1494,-90.0489,False
8,1250,28-Sep-17,Louisiana,New Orleans,2001 N Rocheblave St,1,3,2017,LA,us,29.9544,-90.075,False
9,1251,26-Sep-17,Tennessee,Memphis,2531 Chelsea Ave,0,4,2017,TN,us,35.1494,-90.0489,False
10,1252,26-Sep-17,Maryland,Baltimore,3200 block of Lyndale Ave,2,2,2017,MD,us,39.2903,-76.6125,False
11,1253,26-Sep-17,Pennsylvania,Philadelphia,100 block of Pastorius St,1,3,2017,PA,us,39.9522,-75.1642,False
12,1254,24-Sep-17,Maryland,Baltimore,500 block of E. Patapsco Avenue,0,4,2017,MD,us,39.2903,-76.6125,False
13,1255,24-Sep-17,New Jersey,Mays Landing,6000 block of Hoover Dr,1,3,2017,NJ,us,39.4522,-74.7281,False
14,1256,24-Sep-17,Tennessee,Antioch,3890 Pin Hook Rd,1,8,2017,TN,us,36.06,-86.6722,False
15,1257,24-Sep-17,New York,Syracuse,1226 E Fayette St,0,4,2017,NY,us,43.0481,-76.1478,False
16,1258,23-Sep-17,Illinois,Danville,Seminary St and Jackson St,0,5,2017,IL,us,40.1244,-87.63,False
17,1259,23-Sep-17,California,Bakersfield,818 Real Rd,1,4,2017,CA,us,35.3733,-119.018,False
18,1260,20-Sep-17,Indiana,Gary,4300 block of 23rd Ct,0,5,2017,IN,us,41.5933,-87.3464,False
19,1261,17-Sep-17,Michigan,Detroit,5000 block of Stanton Street,1,3,2017,MI,us,42.3314,-83.0458,False
20,1262,17-Sep-17,Virginia,Petersburg,300 Mistletoe St,1,4,2017,VA,us,37.2278,-77.4022,False
21,1263,16-Sep-17,South Carolina,Columbia,920 Lady Street,0,8,2017,SC,us,34.0006,-81.035,False
22,1264,13-Sep-17,Washington,Rockford,14626 S Jackson Rd,1,3,2017,WA,us,47.4522,-117.13,False
23,1265,13-Sep-17,Pennsylvania,York,400 block of S Duke St,0,4,2017,PA,us,39.9625,-76.7281,False
24,1266,13-Sep-17,Pennsylvania,Philadelphia,3100 block of N 2nd St,0,4,2017,PA,us,39.9522,-75.1642,False
25,1267,13-Sep-17,Tennessee,Memphis,1000 block of Morehead St,1,5,2017,TN,us,35.1494,-90.0489,False
26,1268,10-Sep-17,Louisiana,New Orleans,Elysian Fields Ave and N Claiborne Ave,0,4,2017,LA,us,29.9544,-90.075,False
27,1269,10-Sep-17,Texas,Plano,1712 West Spring Creek Parkway,9,1,2017,TX,us,33.0197,-96.6986,False
28,1270,09-Sep-17,Alabama,Selma,Kings Bend Road,0,4,2017,AL,us,32.4072,-87.0211,False
29,1271,06-Sep-17,Illinois,Chicago,2700 block of Madison,0,4,2017,IL,us,41.85,-87.65,False
30,1272,04-Sep-17,Illinois,Bellwood,1000 block of Bellwood Ave,0,4,2017,IL,us,41.8814,-87.8831,False
31,1273,03-Sep-17,California,Inglewood,10100 block of S Firmona Ave,2,3,2017,CA,us,33.9617,-118.352,False
32,1274,02-Sep-17,Kentucky,Louisville,8008 Watterson Trail,0,4,2017,KY,us,38.2542,-85.7594,False
33,1275,02-Sep-17,Illinois,Chicago,8300 block of S Hermitage,1,3,2017,IL,us,41.85,-87.65,False
34,1276,28-Aug-17,New Mexico,Clovis,701 N Main St,2,4,2017,NM,us,34.4047,-103.205,False
35,1277,27-Aug-17,California,Sacramento,7760 24th St,1,4,2017,CA,us,38.5817,-121.493,False
36,1278,27-Aug-17,Indiana,Evansville,1127 Chestnut St,1,3,2017,IN,us,37.9747,-87.5558,False
37,1279,25-Aug-17,Florida,Gainesville,1600 NE 8th Ave,0,4,2017,FL,us,29.6514,-82.325,False
38,1280,24-Aug-17,Missouri,Saint Louis,10400 block of Balmoral Dr,4,0,2017,MO,us,38.6272,-90.1978,False
39,1281,22-Aug-17,Illinois,Chicago,300 block of N Central Ave,0,4,2017,IL,us,41.85,-87.65,False
40,1282,21-Aug-17,New Jersey,Newark,Fabyan Place,0,4,2017,NJ,us,40.7356,-74.1728,False
41,1283,21-Aug-17,New Jersey,Newark,700 block of S 19th St,1,3,2017,NJ,us,40.7356,-74.1728,False
42,1284,21-Aug-17,Maryland,Baltimore,Cottage Avenue and Park Heights Avenue,1,3,2017,MD,us,39.2903,-76.6125,False
43,1285,21-Aug-17,North Carolina,Whitakers,980 Fishing Creek Rd,4,0,2017,NC,us,36.1053,-77.7131,False
44,1286,21-Aug-17,Tennessee,Memphis,262 Decatur St,0,4,2017,TN,us,35.1494,-90.0489,False
45,1287,20-Aug-17,Illinois,Chicago,11901 S Loomis St,2,5,2017,IL,us,41.85,-87.65,False
46,1288,20-Aug-17,New York,Brooklyn,100th St and Ave M,0,4,2017,NY,us,40.65,-73.95,False
47,1289,19-Aug-17,Ohio,Cleveland,11143 Superior Ave,1,4,2017,OH,us,41.4994,-81.6956,False
48,1290,16-Aug-17,New York,Wyandanch,Merritt Ave and 15th St,0,4,2017,NY,us,40.7539,-73.3608,False
49,1291,14-Aug-17,California,North Hollywood,Morrison St and Klump Ave,2,2,2017,CA,us,34.1722,-118.378,False
50,1292,13-Aug-17,California,Sacramento,4000 Block of Martin Luther King Jr Blvd,0,4,2017,CA,us,38.5817,-121.493,False
51,1293,13-Aug-17,Virginia,Suffolk,8700 block of Quay Rd,0,4,2017,VA,us,36.7281,-76.5839,False
52,1294,13-Aug-17,Pennsylvania,Philadelphia,39th St and Melon St,0,5,2017,PA,us,39.9522,-75.1642,False
53,1295,12-Aug-17,Missouri,Saint Louis,12310 Bellefontaine Rd,1,3,2017,MO,us,38.6272,-90.1978,False
54,1296,08-Aug-17,Illinois,Chicago,1 block of East 37th Street,1,6,2017,IL,us,41.85,-87.65,False
55,1297,06-Aug-17,New York,Bronx,Wickham Ave,0,6,2017,NY,us,40.85,-73.8667,False
56,1298,06-Aug-17,New York,Bronx,Unionport Rd,0,4,2017,NY,us,40.85,-73.8667,False
57,1299,06-Aug-17,California,Oakland,1000 block of 106th Avenue,0,7,2017,CA,us,37.8044,-122.27,False
58,1300,05-Aug-17,New Jersey,Lakewood,900 block of Brook Road,0,4,2017,NJ,us,40.0978,-74.2181,False
59,1301,05-Aug-17,South Carolina,Allendale,300 block of Ellis St,1,3,2017,SC,us,33.0078,-81.3086,False
60,1302,05-Aug-17,Florida,Tallahassee,1939 W Tennessee St,1,3,2017,FL,us,30.4381,-84.2808,False
61,1303,04-Aug-17,Montana,Lodge Grass,200 block of North Helen Street,3,2,2017,MT,us,45.3144,-107.362,False
62,1304,03-Aug-17,District of Columbia,Washington,3426 18th St NE,1,3,2017,NaN,NaN,47.7511,-120.74,True
63,1305,02-Aug-17,Maryland,Baltimore,900 block of N Broadway,0,4,2017,MD,us,39.2903,-76.6125,False
64,1306,01-Aug-17,Washington,Toppenish,8000 Block of Lateral C Rd,0,6,2017,WA,us,46.3775,-120.308,False
65,1307,01-Aug-17,California,Fresno,Mariposa St and A St,0,7,2017,CA,us,36.7478,-119.771,False
66,1308,01-Aug-17,Illinois,Chicago,800 block of N Monticello Ave,0,4,2017,IL,us,41.85,-87.65,False
67,1309,31-Jul-17,Illinois,Decatur,Jasper St and Main St,0,4,2017,IL,us,39.8403,-88.9547,False
68,1310,30-Jul-17,Virginia,Norfolk,1500 block of Azalea Garden Rd,1,5,2017,VA,us,36.8467,-76.2856,False
69,1311,30-Jul-17,Texas,El Paso,1810 George Dieter Dr,1,3,2017,TX,us,31.7586,-106.486,False
70,1312,29-Jul-17,New York,Buffalo,200 block of Carl St,1,4,2017,NY,us,42.8864,-78.8786,False
71,1313,29-Jul-17,North Carolina,Salisbury,115 W Fisher St,2,3,2017,NC,us,35.6708,-80.4744,False
72,1314,28-Jul-17,Delaware,Wilmington,400 block of N Washington St,0,4,2017,DE,us,39.7458,-75.5469,False
73,1315,27-Jul-17,Illinois,Chicago,2000 block of E 71st St,1,4,2017,IL,us,41.85,-87.65,False
74,1316,26-Jul-17,North Carolina,High Point,2111 E. Green Drive,1,6,2017,NC,us,35.9556,-80.0056,False
75,1317,23-Jul-17,Illinois,Chicago,1500 block of East 82nd St,1,3,2017,IL,us,41.85,-87.65,False
76,1318,23-Jul-17,Louisiana,Baton Rouge,10360 Ave H,0,4,2017,LA,us,30.4506,-91.1544,False
77,1319,22-Jul-17,Ohio,Cincinnati,130 E Clifton Ave,0,5,2017,OH,us,39.1619,-84.4569,False
78,1320,19-Jul-17,Virginia,Richmond,2300 block of Bethel St,0,5,2017,VA,us,37.5536,-77.4606,False
79,1321,19-Jul-17,California,Los Angeles,Imperial Hwy and Broadway,1,3,2017,CA,us,34.0522,-118.243,False
80,1322,18-Jul-17,New Jersey,Trenton,Hewitt St and Division St,1,3,2017,NJ,us,40.2169,-74.7433,False
81,1323,18-Jul-17,Wisconsin,Milwaukee,3000 Block of N 39th St,0,4,2017,WI,us,43.0389,-87.9064,False
82,1324,18-Jul-17,Arizona,El Mirage,NW Grand Ave and W Thunderbird Rd,0,4,2017,AZ,us,33.6131,-112.324,False
83,1325,15-Jul-17,Pennsylvania,Philadelphia,21st and Fitzwater,1,3,2017,PA,us,39.9522,-75.1642,False
84,1326,15-Jul-17,Illinois,Chicago,12200 block of S Throop St,0,4,2017,IL,us,41.85,-87.65,False
85,1327,09-Jul-17,Virginia,Lawrenceville,500 block Sturgeon Rd,0,7,2017,VA,us,36.7575,-77.8472,False
86,1328,08-Jul-17,Illinois,Alton,700 block of Oakwood,0,4,2017,IL,us,38.8906,-90.1842,False
87,1329,08-Jul-17,Ohio,Cincinnati,9917 Capstan Dr,1,8,2017,OH,us,39.1619,-84.4569,False
88,1330,06-Jul-17,Mississippi,Meridian,Eighth Ave,0,4,2017,MS,us,32.3642,-88.7036,False
89,1331,05-Jul-17,Georgia,Savannah,Jefferson Street and West St. Julian Street,0,4,2017,GA,us,32.0833,-81.1,False
90,1332,05-Jul-17,Illinois,Chicago,11000 block of S Eberhart,2,2,2017,IL,us,41.85,-87.65,False
91,1333,05-Jul-17,Maine,Madison,300 block of Russell Rd,4,1,2017,ME,us,44.7975,-69.8803,False
92,1334,04-Jul-17,Florida,Orlando,501 W Lancaster Rd,0,4,2017,FL,us,28.5381,-81.3794,False
93,1335,04-Jul-17,Virginia,Hampton,500 block of Patterson Ave,1,4,2017,VA,us,37.0297,-76.3456,False
94,1336,04-Jul-17,North Carolina,Raleigh,105 E South St,1,3,2017,NC,us,35.7719,-78.6389,False
95,1337,03-Jul-17,Alabama,Prattville,112 US 82,3,1,2017,AL,us,32.4639,-86.4597,False
96,1338,03-Jul-17,Michigan,Pontiac,50 block of Thorpe St,1,3,2017,MI,us,42.6389,-83.2911,False
97,1339,02-Jul-17,New Jersey,Jersey City,Wilkinson Avenue,0,4,2017,NJ,us,40.7281,-74.0781,False
98,1340,02-Jul-17,South Carolina,Greenwood,SC 72 Bypass,0,4,2017,SC,us,34.1953,-82.1619,False
99,1341,01-Jul-17,Illinois,Momence,2727 S 13000 Rd E,0,4,2017,IL,us,41.1667,-87.6628,False
100,1342,01-Jul-17,New Jersey,Newark,Lincoln Park and Pennsylvania Avenue,2,2,2017,NJ,us,40.7356,-74.1728,False
101,1343,01-Jul-17,California,Oakland,3200 Humboldt Ave,0,4,2017,CA,us,37.8044,-122.27,False
102,1344,01-Jul-17,Arkansas,Little Rock,220 W 6th St,0,25,2017,AR,us,34.7464,-92.2894,False
103,1345,30-Jun-17,New York,Bronx,1650 Grand Concourse,2,6,2017,NY,us,40.85,-73.8667,False
104,1346,27-Jun-17,Illinois,Chicago,200 block of S Lotus,0,5,2017,IL,us,41.85,-87.65,False
105,1347,25-Jun-17,District of Columbia,Washington,5900 block of Southern Ave SE,0,4,2017,NaN,NaN,47.7511,-120.74,True
106,1348,25-Jun-17,Missouri,Saint Louis,5000 block of Thekla Ave,1,3,2017,MO,us,38.6272,-90.1978,False
107,1349,24-Jun-17,Florida,Fort Lauderdale,2335 NW 16th Ct,1,4,2017,FL,us,26.1219,-80.1436,False
108,1350,24-Jun-17,New York,New York,114th St and Manhattan Ave,0,5,2017,NY,us,40.7142,-74.0064,False
109,1351,24-Jun-17,New Jersey,Willingboro,Pastoral Lane,0,4,2017,NJ,us,40.0278,-74.8694,False
110,1352,22-Jun-17,Georgia,Atlanta,1100 block of Osborne Street,1,6,2017,GA,us,33.7489,-84.3881,False
111,1353,18-Jun-17,Missouri,Saint Louis,1900 block of N 14th St,3,2,2017,MO,us,38.6272,-90.1978,False
112,1354,18-Jun-17,District of Columbia,Washington,3100 block of Buena Vista Terrace SE,0,4,2017,NaN,NaN,47.7511,-120.74,True
113,1355,18-Jun-17,Illinois,Chicago,3300 block of W Crystal,0,4,2017,IL,us,41.85,-87.65,False
114,1356,18-Jun-17,South Carolina,Myrtle Beach,311 N Ocean Blvd,0,7,2017,SC,us,33.6889,-78.8869,False
115,1357,17-Jun-17,Ohio,Columbus,6252 Busch Blvd,1,4,2017,OH,us,39.9611,-82.9989,False
116,1358,17-Jun-17,Illinois,Chicago,1 block of North Latrobe,0,4,2017,IL,us,41.85,-87.65,False
117,1359,15-Jun-17,New Mexico,La Madera,491 NM 111,5,0,2017,NM,us,35.2228,-106.37,False
118,1360,15-Jun-17,Virginia,Richmond,4053 Old Brook Road,1,3,2017,VA,us,37.5536,-77.4606,False
119,1361,14-Jun-17,Ohio,Canton,14th St. NE and Gibbs Ave. NE,0,4,2017,OH,us,40.7989,-81.3786,False
120,1362,14-Jun-17,Virginia,Alexandria,420 E Monroe Ave,1,5,2017,VA,us,38.8047,-77.0472,False
121,1363,14-Jun-17,California,San Francisco,720 San Bruno,4,2,2017,CA,us,37.775,-122.418,False
122,1364,13-Jun-17,Maryland,Baltimore,3300 block of Ayrdale Avenue,0,4,2017,MD,us,39.2903,-76.6125,False
123,1365,13-Jun-17,Maryland,Baltimore,1200 block of Bonaparte Avenue,2,2,2017,MD,us,39.2903,-76.6125,False
124,1366,13-Jun-17,Missouri,Saint Louis,Ferguson Ave and Plymouth Ave,0,4,2017,MO,us,38.6272,-90.1978,False
125,1367,11-Jun-17,Illinois,Chicago,3300 block of W Douglas Blvd,0,9,2017,IL,us,41.85,-87.65,False
126,1368,11-Jun-17,Tennessee,Chattanooga,4272 Bonny Oaks Drive,0,4,2017,TN,us,35.0456,-85.3097,False
127,1369,11-Jun-17,Texas,Houston,505 Cypress Station Dr,0,4,2017,TX,us,29.7631,-95.3631,False
128,1370,10-Jun-17,Tennessee,Memphis,571 East Street,0,4,2017,TN,us,35.1494,-90.0489,False
129,1371,09-Jun-17,Texas,Fort Worth,East Davis Avenue and New York Avenue,2,5,2017,TX,us,32.7253,-97.3206,False
130,1372,08-Jun-17,Louisiana,New Orleans,3650 Franklin Ave,0,6,2017,LA,us,29.9544,-90.075,False
131,1373,06-Jun-17,Utah,Sandy,2232 Alta Canyon Drive,3,2,2017,UT,NaN,40.5716,-111.852,True
132,1374,05-Jun-17,Florida,Orlando,2427 Forsyth Rd,6,0,2017,FL,us,28.5381,-81.3794,False
133,1375,03-Jun-17,Missouri,Saint Louis,1600 Block of Union Blvd,2,2,2017,MO,us,38.6272,-90.1978,False
134,1376,03-Jun-17,Louisiana,New Orleans,3717 Tulane Ave,3,2,2017,LA,us,29.9544,-90.075,False
135,1377,02-Jun-17,Texas,Laredo,5301 McPherson Rd,2,3,2017,TX,us,27.5061,-99.5072,False
136,1378,02-Jun-17,California,Los Angeles,89th St and Broadway,1,3,2017,CA,us,34.0522,-118.243,False
137,1379,01-Jun-17,Missouri,Saint Louis,Beacon Ave and Lillian Ave,3,1,2017,MO,us,38.6272,-90.1978,False
138,1380,30-May-17,Ohio,Middletown,1200 Elliott Dr,1,3,2017,OH,us,39.515,-84.3983,False
139,1381,29-May-17,Kentucky,Louisville,231 Witherspoon St,1,3,2017,KY,us,38.2542,-85.7594,False
140,1382,28-May-17,Alabama,Phenix City,100 block of 6th Street South,0,12,2017,AL,us,32.4708,-85.0008,False
141,1383,28-May-17,New Jersey,Paterson,86 Main Street,1,5,2017,NJ,us,40.9167,-74.1722,False
142,1384,28-May-17,Mississippi,Moss Point,6103 Hwy. 63,0,5,2017,MS,us,30.4114,-88.5344,False
143,1385,27-May-17,New York,New York,318 W 14th St,0,4,2017,NY,us,40.7142,-74.0064,False
144,1386,27-May-17,District of Columbia,Washington,100 block of Q Street Northwest,1,7,2017,NaN,NaN,47.7511,-120.74,True
145,1387,27-May-17,Mississippi,Bogue Chitto,2871 Lee Drive,8,1,2017,MS,us,31.4386,-90.4522,False
146,1388,26-May-17,Florida,Miami,2730 NW 167th St,0,4,2017,FL,us,25.7739,-80.1939,False
147,1389,21-May-17,Iowa,Des Moines,4300 Beaver Dr,1,3,2017,IA,us,41.6006,-93.6089,False
148,1390,21-May-17,Arizona,Mesa,441 N Val Vista Dr,0,4,2017,AZ,us,33.4222,-111.822,False
149,1391,20-May-17,Pennsylvania,Philadelphia,2100 block of W Huntingdon St,0,10,2017,PA,us,39.9522,-75.1642,False
150,1392,16-May-17,South Carolina,Ruffin,21785 Lowcountry Hwy,3,1,2017,SC,us,33.0044,-80.8158,False
151,1393,14-May-17,Arkansas,Jonesboro,311 S Main St,1,6,2017,AR,us,35.8422,-90.7042,False
152,1394,14-May-17,Illinois,Dolton,14112 Chicago Road,0,5,2017,IL,us,41.6389,-87.6072,False
153,1395,14-May-17,Florida,Avon Park,Hal McRae Blvd and Delaney Ave,0,5,2017,FL,us,27.5956,-81.5064,False
154,1396,14-May-17,Texas,Fort Worth,8600 block of Calmont Ave,0,4,2017,TX,us,32.7253,-97.3206,False
155,1397,10-May-17,New Jersey,Trenton,300 block of Centre St,1,3,2017,NJ,us,40.2169,-74.7433,False
156,1398,09-May-17,Kansas,Kansas City,1900 block of S. Boeke,3,1,2017,KS,us,39.1142,-94.6272,False
157,1399,07-May-17,Illinois,Chicago,2600 block of 46th Pl,2,8,2017,IL,us,41.85,-87.65,False
158,1400,04-May-17,Michigan,Flint,600 block of Copeman Boulevard,1,3,2017,MI,us,43.0125,-83.6875,False
159,1401,02-May-17,Florida,Jacksonville,1566 West 24th Street,1,3,2017,FL,us,30.3319,-81.6558,False
160,1402,01-May-17,Texas,Dallas,3200 block of Reynolds Ave,2,3,2017,TX,us,32.7833,-96.8,False
161,1403,30-Apr-17,Kansas,Topeka,4104 SW 28th,4,1,2017,KS,us,39.0483,-95.6778,False
162,1404,30-Apr-17,Florida,Jacksonville,1200 Ken Knight Dr N,0,5,2017,FL,us,30.3319,-81.6558,False
163,1405,30-Apr-17,South Carolina,Loris,268 N Sea Green Rd,1,5,2017,SC,us,34.0561,-78.8906,False
164,1406,30-Apr-17,California,San Diego,9080 Judicial Dr,2,6,2017,CA,us,32.7153,-117.156,False
165,1407,29-Apr-17,Maryland,Germantown,12800 block of Kitchen House Way,1,3,2017,MD,us,39.1731,-77.2719,False
166,1408,29-Apr-17,California,Los Angeles,Murchison St and Lancaster Ave,1,3,2017,CA,us,34.0522,-118.243,False
167,1409,29-Apr-17,California,Sacramento,3800 block of 26th Avenue,0,5,2017,CA,us,38.5817,-121.493,False
168,1410,29-Apr-17,California,Whittier,10000 block of Carmentia Rd,1,5,2017,CA,us,33.9792,-118.032,False
169,1411,29-Apr-17,California,Compton,2000 Block of N Nestor Ave,0,4,2017,CA,us,33.8958,-118.219,False
170,1412,29-Apr-17,Virginia,Virginia Beach,200 block of 18th St,0,4,2017,VA,us,36.8528,-75.9783,False
171,1413,28-Apr-17,Pennsylvania,Chester,5 E 21st St,0,4,2017,PA,us,39.8494,-75.3561,False
172,1414,27-Apr-17,New Jersey,Newark,1100 block of S Orange Ave,1,3,2017,NJ,us,40.7356,-74.1728,False
173,1415,26-Apr-17,Florida,Miami,SW 264th St and 139th Ave,0,4,2017,FL,us,25.7739,-80.1939,False
174,1416,21-Apr-17,Florida,Palm Bay,2500 block of Vernon Dr,2,2,2017,FL,us,28.0342,-80.5889,False
175,1417,20-Apr-17,Kentucky,Louisville,700 block of East Jacob Street,0,4,2017,KY,us,38.2542,-85.7594,False
176,1418,16-Apr-17,California,Vallejo,110 Calhoun Street,0,4,2017,CA,us,38.1042,-122.256,False
177,1419,16-Apr-17,North Carolina,Elizabeth City,611 S Martin St,0,4,2017,NC,us,36.2944,-76.2514,False
178,1420,16-Apr-17,Ohio,Columbus,1710 Cleveland Av,0,9,2017,OH,us,39.9611,-82.9989,False
179,1421,15-Apr-17,Illinois,Rock Falls,311 W 2nd St,0,4,2017,IL,us,41.7797,-89.6889,False
180,1422,15-Apr-17,Indiana,Indianapolis,300 block of S Meridian St,0,4,2017,IN,us,39.7683,-86.1581,False
181,1423,15-Apr-17,Alabama,Birmingham,1480 Center Point Pkwy,0,6,2017,AL,us,33.5206,-86.8025,False
182,1424,15-Apr-17,Pennsylvania,Philadelphia,5900 block of Hammond Street,0,4,2017,PA,us,39.9522,-75.1642,False
183,1425,15-Apr-17,Illinois,Harvey,14600 block of Myrtle Avenue,0,4,2017,IL,us,41.61,-87.6467,False
184,1426,15-Apr-17,California,Banning,900 block of N Allen St,0,4,2017,CA,us,33.9256,-116.876,False
185,1427,13-Apr-17,Georgia,Atlanta,30 Anderson Ave SW,1,3,2017,GA,us,33.7489,-84.3881,False
186,1428,09-Apr-17,Texas,San Antonio,3100 block of Fidelia Drive,1,3,2017,TX,us,29.4239,-98.4933,False
187,1429,09-Apr-17,Indiana,Fort Wayne,9439 Lima Rd,1,3,2017,IN,us,41.1306,-85.1289,False
188,1430,07-Apr-17,North Carolina,Hickory,1423 29th Ave Dr NE,3,1,2017,NC,us,35.7331,-81.3414,False
189,1431,07-Apr-17,Texas,Houston,3829 Mount Pleasant St,5,0,2017,TX,us,29.7631,-95.3631,False
190,1432,07-Apr-17,Minnesota,Saint Paul,1600 block of English St,4,1,2017,MN,us,44.9444,-93.0931,False
191,1433,07-Apr-17,Illinois,Chicago,5600 block of W Lake St,1,5,2017,IL,us,41.85,-87.65,False
192,1434,06-Apr-17,Louisiana,Lake Charles,2000 block of Tulip St,1,3,2017,LA,us,30.2264,-93.2172,False
193,1435,03-Apr-17,Pennsylvania,Philadelphia,1100 block of W Stiles St,3,1,2017,PA,us,39.9522,-75.1642,False
194,1436,03-Apr-17,Texas,Lubbock,5401 Ave Q,0,7,2017,TX,us,33.5778,-101.855,False
195,1437,02-Apr-17,Illinois,Chicago,3500 block of West Van Buren Street,2,4,2017,IL,us,41.85,-87.65,False
196,1438,02-Apr-17,Iowa,Des Moines,2500 Martin Luther King Jr. Parkway,0,5,2017,IA,us,41.6006,-93.6089,False
197,1439,01-Apr-17,California,Pittsburg,100 block of Madoline Street,0,5,2017,CA,us,38.0281,-121.884,False
198,1440,01-Apr-17,Florida,Tampa,219 S Howard Ave,1,4,2017,FL,us,27.9472,-82.4586,False
199,1441,01-Apr-17,Oklahoma,Oklahoma City,1200 block of N Woodward Avenue,2,3,2017,OK,us,35.4675,-97.5161,False
200,1442,30-Mar-17,Illinois,Chicago,2704 E 75th St,4,0,2017,IL,us,41.85,-87.65,False
201,1443,27-Mar-17,Florida,Sanford,209 Hays Dr,2,4,2017,FL,us,28.8003,-81.2733,False
202,1444,26-Mar-17,Texas,Houston,5619 Aldine Bender Rd,2,4,2017,TX,us,29.7631,-95.3631,False

In [33]:
US_Mass_shootings_2017 = df_merged_lon_lat_2017.drop(["State", "City", "Address", "Year", "Code", "Country", "Latitude", "Longitude", "test"],1)

In [34]:
US_Mass_shootings_2017["Killed_2"] = 0

In [35]:
US_Mass_shootings_2017.loc[1247, "Killed_2"] = 59

In [36]:
US_Mass_shootings_2017.loc[1247, "Killed"] = 0

In [37]:
US_Mass_shootings_2017_grouped = US_Mass_shootings_2017.groupby("Date")["Killed", "Injured", "Killed_2"].sum().reset_index()

In [38]:
US_Mass_shootings_2017_grouped["Total"] = US_Mass_shootings_2017_grouped["Killed"] + US_Mass_shootings_2017_grouped["Killed_2"]

In [39]:
US_Mass_shootings_2017_grouped

          Date  Killed  Injured  Killed_2  Total
0    01-Apr-17       3       12         0      3
1    01-Aug-17       0       17         0      0
2    01-Jan-17       1       15         0      1
3    01-Jul-17       2       35         0      2
4    01-Jun-17       3        1         0      3
5    01-May-17       2        3         0      2
6    01-Oct-17       3      243        59     62
7    02-Apr-17       2        9         0      2
8    02-Aug-17       0        4         0      0
9    02-Jul-17       0        8         0      0
10   02-Jun-17       3        6         0      3
11   02-May-17       1        3         0      1
12   02-Sep-17       1        7         0      1
13   03-Apr-17       3        8         0      3
14   03-Aug-17       1        3         0      1
15   03-Jan-17       0        4         0      0
16   03-Jul-17       4        4         0      4
17   03-Jun-17       5        4         0      5
18   03-Mar-17       0        9         0      0
19   03-Oct-17       0        4         0      0
20   03-Sep-17       2        3         0      2
21   04-Aug-17       3        2         0      3
22   04-Jan-17       3        1         0      3
23   04-Jul-17       2       11         0      2
24   04-Mar-17       1        8         0      1
25   04-May-17       1        3         0      1
26   04-Sep-17       0        4         0      0
27   05-Aug-17       2       10         0      2
28   05-Jul-17       6        7         0      6
29   05-Jun-17       6        0         0      6
30   05-Mar-17       0        4         0      0
31   05-Oct-17       4        0         0      4
32   06-Apr-17       1        3         0      1
33   06-Aug-17       0       17         0      0
34   06-Feb-17       4        0         0      4
35   06-Jan-17       7        8         0      7
36   06-Jul-17       0        4         0      0
37   06-Jun-17       3        2         0      3
38   06-Oct-17       0        5         0      0
39   06-Sep-17       0        4         0      0
40   07-Apr-17      13        7         0     13
41   07-Feb-17       1        8         0      1
42   07-Jan-17       1        3         0      1
43   07-Mar-17       0        4         0      0
44   07-May-17       2        8         0      2
45   07-Oct-17       0        4         0      0
46   08-Aug-17       1        6         0      1
47   08-Feb-17       1        4         0      1
48   08-Jul-17       1       12         0      1
49   08-Jun-17       0        6         0      0
50   09-Apr-17       2        6         0      2
51   09-Feb-17       4        0         0      4
52   09-Jul-17       0        7         0      0
53   09-Jun-17       2        5         0      2
54   09-May-17       3        1         0      3
55   09-Oct-17       0        5         0      0
56   09-Sep-17       0        4         0      0
57   10-Feb-17       1        5         0      1
58   10-Jun-17       0        4         0      0
59   10-Mar-17       5        3         0      5
60   10-May-17       1        3         0      1
61   10-Sep-17       9        5         0      9
62   11-Feb-17       1        7         0      1
63   11-Jan-17       2        6         0      2
64   11-Jun-17       0       17         0      0
65   12-Aug-17       1        3         0      1
66   12-Feb-17       2       14         0      2
67   12-Jan-17       5        4         0      5
68   13-Apr-17       1        3         0      1
69   13-Aug-17       0       13         0      0
70   13-Jun-17       2       10         0      2
71   13-Sep-17       2       16         0      2
72   14-Aug-17       2        2         0      2
73   14-Jun-17       5       11         0      5
74   14-May-17       1       20         0      1
75   15-Apr-17       0       26         0      0
76   15-Feb-17       3        6         0      3
77   15-Jan-17       4        5         0      4
78   15-Jul-17       1        7         0      1
79   15-Jun-17       6        3         0      6
80   15-Mar-17       3        1         0      3
81   16-Apr-17       0       17         0      0
82   16-Aug-17       0        4         0      0
83   16-Jan-17       0       12         0      0
84   16-May-17       3        1         0      3
85   16-Sep-17       0        8         0      0
86   17-Jun-17       1        8         0      1
87   17-Sep-17       2        7         0      2
88   18-Feb-17       1        7         0      1
89   18-Jul-17       1       11         0      1
90   18-Jun-17       3       17         0      3
91   18-Mar-17       3        2         0      3
92   19-Aug-17       1        4         0      1
93   19-Feb-17       1        3         0      1
94   19-Jul-17       1        8         0      1
95   19-Mar-17       1        5         0      1
96   20-Apr-17       0        4         0      0
97   20-Aug-17       2        9         0      2
98   20-Feb-17       0        5         0      0
99   20-Jan-17       1        8         0      1
100  20-May-17       0       10         0      0
101  20-Sep-17       0        5         0      0
102  21-Apr-17       2        2         0      2
103  21-Aug-17       6       14         0      6
104  21-Feb-17       4        4         0      4
105  21-Jan-17       2       13         0      2
106  21-May-17       1        7         0      1
107  22-Aug-17       0        4         0      0
108  22-Feb-17       0        4         0      0
109  22-Jan-17       6        7         0      6
110  22-Jul-17       0        5         0      0
111  22-Jun-17       1        6         0      1
112  22-Mar-17       5        0         0      5
113  23-Jul-17       1        7         0      1
114  23-Sep-17       1        9         0      1
115  24-Aug-17       4        0         0      4
116  24-Jun-17       1       13         0      1
117  24-Mar-17       2       10         0      2
118  24-Sep-17       2       19         0      2
119  25-Aug-17       0        4         0      0
120  25-Feb-17       3        7         0      3
121  25-Jan-17       0        6         0      0
122  25-Jun-17       1        7         0      1
123  25-Mar-17       4        9         0      4
124  26-Apr-17       0        4         0      0
125  26-Feb-17       1        4         0      1
126  26-Jan-17       2        3         0      2
127  26-Jul-17       1        6         0      1
128  26-Mar-17       6       21         0      6
129  26-May-17       0        4         0      0
130  26-Sep-17       3        9         0      3
131  27-Apr-17       1        3         0      1
132  27-Aug-17       2        7         0      2
133  27-Feb-17       0        4         0      0
134  27-Jan-17       0       10         0      0
135  27-Jul-17       1        4         0      1
136  27-Jun-17       0        5         0      0
137  27-Mar-17       2        4         0      2
138  27-May-17       9       12         0      9
139  28-Apr-17       0        4         0      0
140  28-Aug-17       2        4         0      2
141  28-Feb-17       0        6         0      0
142  28-Jul-17       0        4         0      0
143  28-May-17       1       22         0      1
144  28-Sep-17       1        3         0      1
145  29-Apr-17       3       24         0      3
146  29-Jan-17       1        4         0      1
147  29-Jul-17       3        7         0      3
148  29-May-17       1        3         0      1
149  30-Apr-17       7       17         0      7
150  30-Jan-17       0        4         0      0
151  30-Jul-17       2        8         0      2
152  30-Jun-17       2        6         0      2
153  30-Mar-17       4        0         0      4
154  30-May-17       1        3         0      1
155  30-Sep-17       1        3         0      1
156  31-Jan-17       0        8         0      0
157  31-Jul-17       0        4         0      0

In [40]:
US_Mass_shootings_2017_grouped.to_csv("US_Mass_shootings_2017_stacked.csv")

In [41]:
df_merged_lon_lat_2017.to_csv("US_mass_shootings_2017.csv")

In [42]:
df_merged_lon_lat_2017["State"].value_counts().reset_index()

                   index  State
0               Illinois     34
1             California     27
2                Florida     20
3                  Texas     16
4                   Ohio     15
5             New Jersey     12
6              Tennessee     12
7           Pennsylvania     11
8               Virginia     11
9               New York     11
10             Louisiana     10
11              Missouri     10
12           Mississippi      9
13              Maryland      7
14               Georgia      7
15        South Carolina      7
16              Michigan      6
17        North Carolina      6
18               Indiana      6
19  District of Columbia      5
20              Kentucky      4
21               Alabama      4
22               Arizona      4
23                Kansas      4
24              Arkansas      3
25             Minnesota      2
26                  Iowa      2
27             Wisconsin      2
28            New Mexico      2
29            Washington      2
30                  Utah      1
31              Oklahoma      1
32              Colorado      1
33               Montana      1
34                 Maine      1
35              Delaware      1
36                Nevada      1

In [43]:
df_merged_lon_lat_2017_grouped = df_merged_lon_lat_2017.groupby("Date")["Killed", "Injured"].sum().reset_index()

In [44]:
df_merged_lon_lat_2017_grouped.dtypes

Date       object
Killed      int64
Injured     int64
dtype: object

In [45]:
df_merged_lon_lat_2017_grouped["Date"] = pd.to_datetime(df_merged_lon_lat_2017_grouped["Date"], format="%d-%b-%y")

In [46]:
df_merged_lon_lat_2017_grouped.head()

        Date  Killed  Injured
0 2017-04-01       3       12
1 2017-08-01       0       17
2 2017-01-01       1       15
3 2017-07-01       2       35
4 2017-06-01       3        1

In [47]:
df_merged_lon_lat_2017_grouped = df_merged_lon_lat_2017_grouped.sort_values(by = "Date", ascending = True)

In [48]:
df_merged_lon_lat_2017_grouped.to_csv("US_mass_shootings_2017_by_date.csv")

In [49]:
pd.set_option("display.max_rows", 200)

In [50]:
df_merged_lon_lat_2017_grouped.reset_index()

     index       Date  Killed  Injured
0        2 2017-01-01       1       15
1       15 2017-01-03       0        4
2       22 2017-01-04       3        1
3       35 2017-01-06       7        8
4       42 2017-01-07       1        3
5       63 2017-01-11       2        6
6       67 2017-01-12       5        4
7       77 2017-01-15       4        5
8       83 2017-01-16       0       12
9       99 2017-01-20       1        8
10     105 2017-01-21       2       13
11     109 2017-01-22       6        7
12     121 2017-01-25       0        6
13     126 2017-01-26       2        3
14     134 2017-01-27       0       10
15     146 2017-01-29       1        4
16     150 2017-01-30       0        4
17     156 2017-01-31       0        8
18      34 2017-02-06       4        0
19      41 2017-02-07       1        8
20      47 2017-02-08       1        4
21      51 2017-02-09       4        0
22      57 2017-02-10       1        5
23      62 2017-02-11       1        7
24      66 2017-02-12       2       14
25      76 2017-02-15       3        6
26      88 2017-02-18       1        7
27      93 2017-02-19       1        3
28      98 2017-02-20       0        5
29     104 2017-02-21       4        4
30     108 2017-02-22       0        4
31     120 2017-02-25       3        7
32     125 2017-02-26       1        4
33     133 2017-02-27       0        4
34     141 2017-02-28       0        6
35      18 2017-03-03       0        9
36      24 2017-03-04       1        8
37      30 2017-03-05       0        4
38      43 2017-03-07       0        4
39      59 2017-03-10       5        3
40      80 2017-03-15       3        1
41      91 2017-03-18       3        2
42      95 2017-03-19       1        5
43     112 2017-03-22       5        0
44     117 2017-03-24       2       10
45     123 2017-03-25       4        9
46     128 2017-03-26       6       21
47     137 2017-03-27       2        4
48     153 2017-03-30       4        0
49       0 2017-04-01       3       12
50       7 2017-04-02       2        9
51      13 2017-04-03       3        8
52      32 2017-04-06       1        3
53      40 2017-04-07      13        7
54      50 2017-04-09       2        6
55      68 2017-04-13       1        3
56      75 2017-04-15       0       26
57      81 2017-04-16       0       17
58      96 2017-04-20       0        4
59     102 2017-04-21       2        2
60     124 2017-04-26       0        4
61     131 2017-04-27       1        3
62     139 2017-04-28       0        4
63     145 2017-04-29       3       24
64     149 2017-04-30       7       17
65       5 2017-05-01       2        3
66      11 2017-05-02       1        3
67      25 2017-05-04       1        3
68      44 2017-05-07       2        8
69      54 2017-05-09       3        1
70      60 2017-05-10       1        3
71      74 2017-05-14       1       20
72      84 2017-05-16       3        1
73     100 2017-05-20       0       10
74     106 2017-05-21       1        7
75     129 2017-05-26       0        4
76     138 2017-05-27       9       12
77     143 2017-05-28       1       22
78     148 2017-05-29       1        3
79     154 2017-05-30       1        3
80       4 2017-06-01       3        1
81      10 2017-06-02       3        6
82      17 2017-06-03       5        4
83      29 2017-06-05       6        0
84      37 2017-06-06       3        2
85      49 2017-06-08       0        6
86      53 2017-06-09       2        5
87      58 2017-06-10       0        4
88      64 2017-06-11       0       17
89      70 2017-06-13       2       10
90      73 2017-06-14       5       11
91      79 2017-06-15       6        3
92      86 2017-06-17       1        8
93      90 2017-06-18       3       17
94     111 2017-06-22       1        6
95     116 2017-06-24       1       13
96     122 2017-06-25       1        7
97     136 2017-06-27       0        5
98     152 2017-06-30       2        6
99       3 2017-07-01       2       35
100      9 2017-07-02       0        8
101     16 2017-07-03       4        4
102     23 2017-07-04       2       11
103     28 2017-07-05       6        7
104     36 2017-07-06       0        4
105     48 2017-07-08       1       12
106     52 2017-07-09       0        7
107     78 2017-07-15       1        7
108     89 2017-07-18       1       11
109     94 2017-07-19       1        8
110    110 2017-07-22       0        5
111    113 2017-07-23       1        7
112    127 2017-07-26       1        6
113    135 2017-07-27       1        4
114    142 2017-07-28       0        4
115    147 2017-07-29       3        7
116    151 2017-07-30       2        8
117    157 2017-07-31       0        4
118      1 2017-08-01       0       17
119      8 2017-08-02       0        4
120     14 2017-08-03       1        3
121     21 2017-08-04       3        2
122     27 2017-08-05       2       10
123     33 2017-08-06       0       17
124     46 2017-08-08       1        6
125     65 2017-08-12       1        3
126     69 2017-08-13       0       13
127     72 2017-08-14       2        2
128     82 2017-08-16       0        4
129     92 2017-08-19       1        4
130     97 2017-08-20       2        9
131    103 2017-08-21       6       14
132    107 2017-08-22       0        4
133    115 2017-08-24       4        0
134    119 2017-08-25       0        4
135    132 2017-08-27       2        7
136    140 2017-08-28       2        4
137     12 2017-09-02       1        7
138     20 2017-09-03       2        3
139     26 2017-09-04       0        4
140     39 2017-09-06       0        4
141     56 2017-09-09       0        4
142     61 2017-09-10       9        5
143     71 2017-09-13       2       16
144     85 2017-09-16       0        8
145     87 2017-09-17       2        7
146    101 2017-09-20       0        5
147    114 2017-09-23       1        9
148    118 2017-09-24       2       19
149    130 2017-09-26       3        9
150    144 2017-09-28       1        3
151    155 2017-09-30       1        3
152      6 2017-10-01      62      243
153     19 2017-10-03       0        4
154     31 2017-10-05       4        0
155     38 2017-10-06       0        5
156     45 2017-10-07       0        4
157     55 2017-10-09       0        5

In [54]:
df_merged_lon_lat_2017_grouped.sort_values(by = "Killed", ascending = False)

          Date  Killed  Injured
6   2017-10-01      62      243
40  2017-04-07      13        7
61  2017-09-10       9        5
138 2017-05-27       9       12
35  2017-01-06       7        8
149 2017-04-30       7       17
79  2017-06-15       6        3
103 2017-08-21       6       14
128 2017-03-26       6       21
28  2017-07-05       6        7
109 2017-01-22       6        7
29  2017-06-05       6        0
59  2017-03-10       5        3
73  2017-06-14       5       11
17  2017-06-03       5        4
67  2017-01-12       5        4
112 2017-03-22       5        0
115 2017-08-24       4        0
123 2017-03-25       4        9
104 2017-02-21       4        4
153 2017-03-30       4        0
16  2017-07-03       4        4
31  2017-10-05       4        0
77  2017-01-15       4        5
51  2017-02-09       4        0
34  2017-02-06       4        0
145 2017-04-29       3       24
10  2017-06-02       3        6
22  2017-01-04       3        1
0   2017-04-01       3       12
147 2017-07-29       3        7
37  2017-06-06       3        2
91  2017-03-18       3        2
80  2017-03-15       3        1
130 2017-09-26       3        9
21  2017-08-04       3        2
13  2017-04-03       3        8
4   2017-06-01       3        1
54  2017-05-09       3        1
120 2017-02-25       3        7
90  2017-06-18       3       17
76  2017-02-15       3        6
84  2017-05-16       3        1
3   2017-07-01       2       35
5   2017-05-01       2        3
44  2017-05-07       2        8
102 2017-04-21       2        2
53  2017-06-09       2        5
23  2017-07-04       2       11
50  2017-04-09       2        6
151 2017-07-30       2        8
152 2017-06-30       2        6
117 2017-03-24       2       10
7   2017-04-02       2        9
72  2017-08-14       2        2
63  2017-01-11       2        6
105 2017-01-21       2       13
126 2017-01-26       2        3
118 2017-09-24       2       19
87  2017-09-17       2        7
71  2017-09-13       2       16
20  2017-09-03       2        3
66  2017-02-12       2       14
137 2017-03-27       2        4
132 2017-08-27       2        7
97  2017-08-20       2        9
140 2017-08-28       2        4
70  2017-06-13       2       10
27  2017-08-05       2       10
48  2017-07-08       1       12
14  2017-08-03       1        3
155 2017-09-30       1        3
86  2017-06-17       1        8
135 2017-07-27       1        4
144 2017-09-28       1        3
127 2017-07-26       1        6
113 2017-07-23       1        7
114 2017-09-23       1        9
111 2017-06-22       1        6
92  2017-08-19       1        4
116 2017-06-24       1       13
94  2017-07-19       1        8
122 2017-06-25       1        7
89  2017-07-18       1       11
12  2017-09-02       1        7
78  2017-07-15       1        7
46  2017-08-08       1        6
65  2017-08-12       1        3
2   2017-01-01       1       15
154 2017-05-30       1        3
24  2017-03-04       1        8
88  2017-02-18       1        7
68  2017-04-13       1        3
47  2017-02-08       1        4
41  2017-02-07       1        8
95  2017-03-19       1        5
57  2017-02-10       1        5
125 2017-02-26       1        4
131 2017-04-27       1        3
146 2017-01-29       1        4
62  2017-02-11       1        7
11  2017-05-02       1        3
25  2017-05-04       1        3
60  2017-05-10       1        3
74  2017-05-14       1       20
99  2017-01-20       1        8
93  2017-02-19       1        3
106 2017-05-21       1        7
42  2017-01-07       1        3
143 2017-05-28       1       22
148 2017-05-29       1        3
32  2017-04-06       1        3
39  2017-09-06       0        4
119 2017-08-25       0        4
26  2017-09-04       0        4
98  2017-02-20       0        5
107 2017-08-22       0        4
150 2017-01-30       0        4
56  2017-09-09       0        4
85  2017-09-16       0        8
156 2017-01-31       0        8
101 2017-09-20       0        5
134 2017-01-27       0       10
121 2017-01-25       0        6
83  2017-01-16       0       12
19  2017-10-03       0        4
38  2017-10-06       0        5
45  2017-10-07       0        4
108 2017-02-22       0        4
64  2017-06-11       0       17
133 2017-02-27       0        4
82  2017-08-16       0        4
49  2017-06-08       0        6
15  2017-01-03       0        4
129 2017-05-26       0        4
136 2017-06-27       0        5
100 2017-05-20       0       10
9   2017-07-02       0        8
36  2017-07-06       0        4
52  2017-07-09       0        7
139 2017-04-28       0        4
124 2017-04-26       0        4
110 2017-07-22       0        5
96  2017-04-20       0        4
81  2017-04-16       0       17
75  2017-04-15       0       26
142 2017-07-28       0        4
157 2017-07-31       0        4
1   2017-08-01       0       17
8   2017-08-02       0        4
43  2017-03-07       0        4
30  2017-03-05       0        4
33  2017-08-06       0       17
58  2017-06-10       0        4
18  2017-03-03       0        9
69  2017-08-13       0       13
141 2017-02-28       0        6
55  2017-10-09       0        5